[2018-06-07 13:35] LaetitiaVerdier opened #1 "Test sur 1 gabarit loisirs + 1 page Hub"
Bonjour,

Je n'ai pas trouvé le format 1 photo dont j'ai besoin dans les articles en dehors des projets loisirs.

Comment remplacer l'URL de la vidéo ? J'ai touché à l'éditeur mais cela ajoute une vidéo, je veux simplement changer le lien You Tube fourni dans le module.

Dans la fiche d'identité loisirs, il manque avant le site Internet : Espaces et installations

Dès que je change une photo, la p

[2018-06-07 13:47] LaetitiaVerdier opened #2 "Problème de visualisation"
Bonjour,

Nous n'arrivons pas à accéder à ce site : https://ucpa-corpo.recette.ampize.me

![image](https://user-images.githubusercontent.com/40030677/41103689-0a99395a-6a6a-11e8-8b48-86370b7d9d52.png)

[2018-06-07 15:14] LaetitiaVerdier opened #3 "Calage créa"
Bonjour,

Globalement, il y a trop de blancs (d'espaces) avant les tirets et après.

Dans le "A propos", il faut prévoir l'emplacement du picto sportif que l'on décide de le mettre ou pas.
![image](https://user-images.githubusercontent.com/40030677/41108669-7196f290-6a75-11e8-9736-a119be7ae5ca.png)

Parfois, la photo du témoignage est ovale au lieu de ronde (cf. maquette).
![image](https://user-im

[2018-06-08 08:57] nicolastrenti opened #4 "Format 1 photo manquant"
Le format 1 photo nécessaire dans les articles en dehors des projets loisirs est manquant

[2018-06-08 08:57] nicolastrenti opened #5 "Remplacer l'URL d'une vidéo"
Comment remplacer l'URL de la vidéo ? J'ai touché à l'éditeur mais cela ajoute une vidéo, je veux simplement changer le lien You Tube fourni dans le module.

[2018-06-08 08:58] nicolastrenti opened #6 "Fiche identité Loisirs : Espaces et installations manquant"
Dans la fiche d'identité loisirs, il manque avant le site Internet : Espaces et installations

[2018-06-08 08:58] nicolastrenti opened #7 "Déformation des photos"
Dès que je change une photo, la photo est déformée. Je ne comprends pas comment utiliser l'éditeur pour éviter la déformation. Il n'y a pas de zone de sélection apparente.

[2018-06-08 08:58] nicolastrenti opened #8 "Footer"
Je ne sais pas où trouver le footer dans les components

[2018-06-08 08:58] nicolastrenti opened #9 "Header et photo"
Concernant le header, je n'ai pas trouvé comment ajouter la photo qui est collée au menu normalement

[2018-06-08 08:59] nicolastrenti opened #10 "Ordre des sections dans le menu"
Le sport des territoires doit apparaître en premier avant le Sport pour tous

[2018-06-08 08:59] nicolastrenti opened #11 "Section "Le groupe""
Il faut retirer UCPA dans le menu (Le groupe)

[2018-06-08 09:00] nicolastrenti opened #12 "Mise en forme module "Aller plus loin""
Il y a un problème de mise en forme dans le module aller + loin, "avec l'UCPA" doit apparaître à la ligne.

[2018-06-08 09:00] nicolastrenti opened #13 "Nom des modules"
Les noms des modules vont être changer pour faciliter l'usage.

[2018-06-08 09:01] nicolastrenti commented on #1
Les différents points soulevés ont été scindés dans différents tickets pour améliorer le suivi.

[2018-06-08 09:01] #1 closed, assigned to LucDelmon

[2018-06-08 09:02] nicolastrenti opened #14 "Trop d'espaces blancs"
Globalement, il y a trop de blancs (d'espaces) avant les tirets et après.

[2018-06-08 09:03] nicolastrenti opened #15 ""A propos" : picto sportif"
Dans le "A propos", il faut prévoir l'emplacement du picto sportif que l'on décide de le mettre ou pas.
image
![image](https://user-images.githubusercontent.com/40030677/41108669-7196f290-6a75-11e8-9736-a119be7ae5ca.png)

[2018-06-08 09:03] nicolastrenti opened #16 "Témoignage : photo ovale"
Parfois, la photo du témoignage est ovale au lieu de ronde (cf. maquette).
![image](https://user-images.githubusercontent.com/40030677/41108586-3bda2870-6a75-11e8-9792-975555fc9315.png)

[2018-06-08 09:04] nicolastrenti opened #17 "Trame des photos"
La trame (avec des les pictos à gauche et droite de la photo) doit être équilibrée de chaque côté
![image](https://user-images.githubusercontent.com/40030677/41108739-912dccd2-6a75-11e8-9cf7-be4673207b9f.png)

[2018-06-08 09:04] nicolastrenti opened #18 "Partenaires : taille des logos"
Il y a un problème de taille sur les logos partenaires : beaucoup trop gros

[2018-06-08 09:04] nicolastrenti opened #19 "Articles liés projets : photo décalée"
Dans les articles liés projets, la photo est décalé sur la gauche
![image](https://user-images.githubusercontent.com/40030677/41108831-d1e638ea-6a75-11e8-88a8-99a71de6315f.png)

[2018-06-08 09:05] nicolastrenti opened #20 "Mise en forme Témoignages"
Il manque le filet rouge du dessous dans les témoignages et le filet + le mot témoignage doivent être alignés sur le texte. Le texte des témoignages entre "" a une taille supérieure.

[2018-06-08 09:05] nicolastrenti commented on #3
Les différents points ont été scindés en plusieurs tickets pour faciliter le suivi.

[2018-06-08 09:05] #3 closed, assigned to LucDelmon

[2018-06-08 09:41] LucDelmon commented on #5
Bonjour,

Vous devriez maintenant voir une bande rouge sous les videos. Cliquer dessus permet d'accéder à un menu permettant de changer la video.

Cette bande rouge n'est visible que dans l'éditeur.

[2018-06-08 11:01] LucDelmon commented on #4
Bonjour,

je n'arrive pas à identifier le format que vous évoquez.
Il y a déjà un template "Photo" qui permet d'afficher une image seule.
Je n'ai pas identifié d'autres modules pour les photos dans les maquettes

[2018-06-08 11:03] LucDelmon commented on #2
Bonjour,

nous avons corrigé un problème de droit qui vous empêchez de publier le site.

Le site est maintenant visible sur https://ucpa-corpo.recette.ampize.me.

[2018-06-08 11:04] LucDelmon commented on #11
Le groupe UCPA s'appelle désormais Le groupe dans les menus

[2018-06-08 11:05] LucDelmon commented on #10
L'ordre  a été modifié

[2018-06-08 11:17] nicolastrenti commented on #6
C'est corrigé

[2018-06-08 11:47] nicolastrenti commented on #20
Corrigé

[2018-06-08 11:59] LaetitiaVerdier commented on #10
Merci

[2018-06-08 11:59] #10 closed, assigned to LaetitiaVerdier

[2018-06-08 12:00] LaetitiaVerdier commented on #6
merci

[2018-06-08 12:00] #6 closed, assigned to LaetitiaVerdier

[2018-06-08 12:04] LaetitiaVerdier commented on #4
![image](https://user-images.githubusercontent.com/40030677/41157070-aeb86f46-6b24-11e8-908d-bd64e27b466c.png)

Il s'agit de ce gabarit ci.

![ucpa_corpo_lot_6_desktop_modules_b_2018_04_26](https://user-images.githubusercontent.com/40030677/41157089-c79d2b1e-6b24-11e8-95db-e48969448511.jpg)

[2018-06-08 12:06] #20 closed, assigned to LaetitiaVerdier

[2018-06-08 12:10] #18 closed, assigned to nobody

[2018-06-08 12:14] #15 closed, assigned to nobody

[2018-06-08 12:15] #11 closed, assigned to LaetitiaVerdier

[2018-06-08 12:17] LaetitiaVerdier commented on #9
![image](https://user-images.githubusercontent.com/40030677/41157594-99270dd4-6b26-11e8-9d04-db856824ec91.png)

[2018-06-08 12:19] #16 closed, assigned to nobody

[2018-06-08 12:20] #8 closed, assigned to nobody

[2018-06-08 12:27] #4 closed, assigned to LaetitiaVerdier

[2018-06-08 13:04] nicolastrenti commented on #12
Corrigé

[2018-06-08 13:48] nicolastrenti commented on #13
Voici les nouveaux noms des template :

- Article texte 1 colonne large > Texte 1 colonne
- Article texte 2 colonnes > texte 2 colonnes
- Article + photo colonne droite > Texte + Photo droite
- Article + photo colonne gauche > Texte + Photo gauche
- Article + Photo colonne gauche + 3 CTA > Formation texte + CTA + Photo gauche
- Article + photo colonne droite + 1 CTA > Page Hub texte + photo droite

[2018-06-08 13:50] LaetitiaVerdier opened #21 "Bug chapeau solidarité"
Il y a un bug dans le titre

[2018-06-08 13:58] ANGELEROBLOT opened #22 "Contacts presse"
La flèche doit être à gauche de contacts presse et pas au dessus

![contacts presse](https://user-images.githubusercontent.com/39916838/41161981-c77b7266-6b34-11e8-81c9-452ed82b41b6.JPG)

[2018-06-08 14:03] nicolastrenti commented on #22
Angèle,
Quel est le module concerné ?

[2018-06-08 14:03] LaetitiaVerdier opened #23 "1 article lié + 1 photo"
Il y a un problème d'affichage, le format image ne devrait pas être en full screen mais dans le format ci-dessous

![image](https://user-images.githubusercontent.com/40030677/41162204-821f002e-6b35-11e8-886e-a5713a8f6c99.png)

[2018-06-08 14:11] ANGELEROBLOT opened #24 "Template texte sans titre"
Pourriez-vous, s'il vous plait, créer un template de texte sans titre et l'appeler "Texte"
Merci

[2018-06-08 14:12] ANGELEROBLOT commented on #22
Pardon, chapeau article

[2018-06-08 14:14] ANGELEROBLOT opened #25 "Fermeture après avoir sauvegardé"
la fenêtre de création d'un article d'actualité se ferme à chaque fois que je "save". Cela fait perdre du temps. Y a-t-il un moyen pour que la page d'écriture ne se ferme plus quand on sauve ?
Merci

[2018-06-08 14:16] ANGELEROBLOT opened #26 "Tags + liste thématique"
Comment fait-on pour créer des tags sur les articles d'actualité ? Et comment devrai-je procéder pour ranger les actualités dans la liste de thématique ?
Merci

[2018-06-08 14:19] ANGELEROBLOT opened #27 "Joindre un document"
Comment puis-je faire pour ajouter dans le corps de texte un lien de téléchargement d'un document (type dossier de presse)  ?

Comme ici :
![doc](https://user-images.githubusercontent.com/39916838/41162960-adeafcec-6b37-11e8-9804-75f2d7fb6d7d.JPG)

[2018-06-08 14:21] ANGELEROBLOT opened #28 "remplacer les adresses mails par icone enveloppe"
Pouvez-vous, s'il vous plait, remplacer les adresses mails de tous les blocs contacts par l'icone enveloppe avec un lien mailto ?

Merci

[2018-06-08 14:37] LaetitiaVerdier opened #29 "Barre d'outils"
Est-il possible d'avoir une barre d'outils qui apparaissent au niveau du curseur ?

En effet, lorsque nous introduisons un module à la suite, il faut scroller pour remonter à la barre et plus l'article est long plus nous devons scroller pour ajouter un nouveau module.

Merci

[2018-06-08 14:38] LaetitiaVerdier opened #30 "Affichage d'adresses mail"
Bonjour,

Pouvez-vous mettre une "enveloppe + e-mail" dans les encadrés contacts et infos pratiques ?

Merci

[2018-06-08 14:40] LaetitiaVerdier opened #31 "1 chiffre clé + article"
Dans le snippet chiffre clé + article, il n'y a pas l'option slider pour faire défiler plusieurs chiffres clés.

![image](https://user-images.githubusercontent.com/40030677/41164115-b3eba06c-6b3a-11e8-819d-ca168799757b.png)

[2018-06-08 14:42] LaetitiaVerdier opened #32 "Photo format classique"
Le module "photo" seul est le suivant : ![image](https://user-images.githubusercontent.com/40030677/41164224-f056100a-6b3a-11e8-8fe5-d93f16afe113.png)

[2018-06-11 07:55] nicolastrenti commented on #32
Bonjour Laetitia,
Ce module existe, c'est celui qui s'appelle "Photo" actuellement.

[2018-06-11 07:56] nicolastrenti commented on #30
Doublon #28

[2018-06-11 07:58] nicolastrenti commented on #24
Angèle,
On part vraiment juste sur du texte, sur 1 colonne (toute la largeur), sans filet rouge avant ou après ?

[2018-06-11 08:01] nicolastrenti commented on #23
Selon moi, c'est déjà bien le cas sur le module "1 article lié + 1 photo" :

![image](https://user-images.githubusercontent.com/1919354/41219372-5c0821ec-6d5e-11e8-97a4-9e756aa4b8fe.png)

[2018-06-11 08:04] LaetitiaVerdier commented on #32
Bonjour Nicolas,

Je viens de vérifier et ça n'est pas le bon format.

Celui qui est intégré est un full screen, 2544 x 639 px

Celui que je cherche est un format photo article, 518 x 571 px

[2018-06-11 08:06] LaetitiaVerdier commented on #23
Oui celui-ci s'affiche bien mais dans mon test en preview vendredi il s'agissait d'un full screen

[2018-06-11 08:08] #23 closed, assigned to nobody

[2018-06-11 08:23] ANGELEROBLOT commented on #24
Bonjour Nicolas,
Il faut garder le filet rouge avant et après. Simplement enlever le titre.
Merci
Angèle

[2018-06-11 14:19] #30 closed, assigned to nobody

[2018-06-11 14:19] nicolastrenti commented on #28
Corrigé dans les différents modules

[2018-06-11 14:26] nicolastrenti commented on #24
Module "Texte" ajouté

[2018-06-11 14:37] nicolastrenti commented on #22
Angèle,
Je ne suis pas sûr de bien comprendre ce ticket en fait. Qu'entendez-vous par "La flèche doit être à gauche de contacts presse et pas au dessus" ?
Voici le rendu de ce module après insertion dans l'éditeur de texte riche :

![image](https://user-images.githubusercontent.com/1919354/41238153-96e19e60-6d95-11e8-94c0-d010d0ffcc0e.png)

Selon moi, c'est conforme avec la créa graphique :

![ima

[2018-06-11 14:46] ANGELEROBLOT commented on #24
Merci Nicolas

[2018-06-11 14:46] #24 closed, assigned to ANGELEROBLOT

[2018-06-11 14:49] ANGELEROBLOT commented on #28
Merci, cependant l'enveloppe n'est pas alignée
![image](https://user-images.githubusercontent.com/39916838/41238887-5dfddfb2-6d97-11e8-8c9c-59c948748489.png)

[2018-06-11 14:54] ANGELEROBLOT commented on #22
Voici comment cela s'affiche sur mon écran :
![image](https://user-images.githubusercontent.com/39916838/41239022-be547fa6-6d97-11e8-8360-47e4545d32ab.png)
Il ne s'agit vraiment d'une flèche mais du triangle tête en bas. Chez vous il est au dessus de "presse", mais chez moi il est détaché du cadre et au dessus du "C" de "contacts"
Est-ce simplement une erreur d'affichage ?

[2018-06-11 15:10] LucDelmon commented on #22
Bonjour,

Il s'agit en effet d'un problème d'affichage.

Cependant nous avions corrigé ce problème ( c'est pour cette raison que nous ne l'avons pas).

S'agit t'il d'un template que vous avez insérez depuis un moment ? Le problème est-il toujours présent si vous réinsérez  le template ?

[2018-06-11 15:13] ANGELEROBLOT commented on #22
Oui il est toujours présent
![image](https://user-images.githubusercontent.com/39916838/41240395-b1d2b39e-6d9a-11e8-8726-03f50cffd3e4.png)

[2018-06-11 15:16] LucDelmon commented on #22
Sur quel page travaillez-vous ( dans l'arborescence de droite)? Je vais aller vérifier si j'ai le même rendu.

[2018-06-11 15:21] ANGELEROBLOT commented on #22
Je le fais dans un contenu interne d'"actualités"

[2018-06-11 15:28] LucDelmon commented on #22
En effet, j'ai le problème aussi.

C'est juste de l'affichage. Je vais le corriger.

[2018-06-11 15:29] ANGELEROBLOT commented on #22
Merci :)

[2018-06-11 15:29] #22 closed, assigned to ANGELEROBLOT

[2018-06-11 15:35] LucDelmon commented on #22
C'est fait. Il faut cependant recharger le module.

[2018-06-11 15:37] LucDelmon commented on #28
Le problème d'alignement est un problème d'affichage présent uniquement dans l'éditeur de contenu. L'enveloppe sera correctement alignée lorsque le contenu sera visible sur le site.

[2018-06-11 15:39] ANGELEROBLOT commented on #22
Merci, désormais cela s'affiche correctement

[2018-06-11 15:40] ANGELEROBLOT commented on #28
d'accord
Merci

[2018-06-11 15:40] #28 closed, assigned to ANGELEROBLOT

[2018-06-12 09:41] nicolastrenti commented on #29
Evolution en cours d'analyse : https://github.com/ampize/ampize/issues/134

[2018-06-12 09:43] nicolastrenti commented on #27
Evolution en cours d'analyse : https://github.com/ampize/ampize/issues/136

[2018-06-12 09:43] nicolastrenti commented on #25
Evolution en cours d'analyse : https://github.com/ampize/ampize/issues/133

[2018-06-12 09:44] nicolastrenti commented on #7
En cours d'analyse : https://github.com/ampize/ampize/issues/135

[2018-06-12 09:45] nicolastrenti opened #33 "Dupliquer un contenu"
Evolution évoquée lors du kick-off recette : pouvoir dupliquer un contenu existant, car la structure des actualités (empilement des snippets) est très souvent la même

[2018-06-12 09:45] nicolastrenti commented on #33
Evolution en cours d'analyse : https://github.com/ampize/ampize/issues/127

[2018-06-12 13:38] nicolastrenti commented on #32
Je ne comprends pas : le module "Photo" intégré est bien celui qui figure dans les PSD des modules. La photo y prend la largeur de la "colonne principale" (environ 1180px de large), soit la même largeur que la vidéo.

Exemple dans les PSD (vidéo en haut, photo en dessous) :
![image](https://user-images.githubusercontent.com/1919354/41293821-a5a42cd0-6e56-11e8-8d2f-e017feda04d4.png)

Résultat dans

[2018-06-12 13:40] nicolastrenti commented on #26
Pour les tags, nous allons rajouter un champ sur le type de contenu pour vous permettre de les saisir. Ces mots-clés seront automatiquement rajoutés dans la balise keywords de la page de détail pour le SEO.

Pour ranger les actualités par thématique, le champ à utiliser est "Catégorie".

[2018-06-12 13:42] LaetitiaVerdier commented on #32
Je n'ai pas vu les PSD mais voici les différents formats de visuels prévus :

[format_visuels_ucpa_corpo_desktop_2018_06_06 (3).pdf](https://github.com/ampize/ampize-ucpa-corpo-recette/files/2094264/format_visuels_ucpa_corpo_desktop_2018_06_06.3.pdf)

[2018-06-12 13:44] ANGELEROBLOT commented on #26
D'accord, merci beaucoup

[2018-06-12 13:44] #26 closed, assigned to nobody

[2018-06-12 13:45] LaetitiaVerdier commented on #32
On peut en parler jeudi et regarder ensemble si cela simplifie les choses.

[2018-06-12 13:50] nicolastrenti commented on #32
Le 518x571 évoqué dans ce document correspond au template "Article + photo colonne gauche" par exemple. C'est la photo presque carrée, légèrement plus haute (571px) que large (518px). Le rendu est le suivant :

![image](https://user-images.githubusercontent.com/1919354/41294433-560d087a-6e58-11e8-9924-19e653658f6b.png)

[2018-06-12 13:55] LaetitiaVerdier commented on #32
Alors je vais en reparler à Françoise car il nous manque un format visuel simple 1200 x 591 px (identique à celui du diaporama mais avec un seul visuel à charger)

[2018-06-12 13:58] LaetitiaVerdier commented on #32
Ce qui est sûr c'est que le format du visuel avec le nageur de dos ci-dessus ne correspond à rien dans notre DA. Il correspondait à un format full screen dans nos PSD utilisé avec les 3 articles liés pour les projets loisirs

[2018-06-12 13:59] LaetitiaVerdier commented on #32
Sinon j'ai peut-être un problème d'affichage

[2018-06-12 14:03] nicolastrenti commented on #13
Les noms des modules ont été mis à jour

[2018-06-12 14:04] LaetitiaVerdier commented on #13
Merci

[2018-06-12 14:04] #13 closed, assigned to LaetitiaVerdier

[2018-06-12 14:09] nicolastrenti commented on #32
OK, je comprends ce qui pose problème : c'est simplement que nous avons réutilisé l'image du nageur pour éviter d'avoir à charger l'image des coureurs.
J'ai modifié le template "Photo full screen" pour y intégrer l'image des coureurs pour être conforme au PSD.

[2018-06-12 15:17] LaetitiaVerdier opened #34 "Enveloppe dans contacts"
Bonjour,

L'enveloppe s'affiche mal dans contacts, il y a un décalage

![image](https://user-images.githubusercontent.com/40030677/41299748-6e3b5f62-6e64-11e8-8ebb-a91303b35460.png)

[2018-06-12 15:27] nicolastrenti commented on #14
Les espaces ont été réduits dans les snippets (nécessite de réinjecter les snippets modifiés dans un texte riche pour voir les modifications)

[2018-06-12 15:34] nicolastrenti commented on #34
C'est le cas uniquement dans l'éditeur de texte riche. Une fois le contenu publié, ce décalage n'est pas visible sur le site.

[2018-06-12 15:41] LaetitiaVerdier commented on #14
Merci je vais tester

[2018-06-12 15:42] #14 closed, assigned to LaetitiaVerdier

[2018-06-12 15:42] LaetitiaVerdier commented on #34
D'accord merci

[2018-06-12 15:42] #34 closed, assigned to nobody

[2018-06-12 15:44] LaetitiaVerdier commented on #32
C'est tout bon je viens de le tester.

[2018-06-12 15:44] #32 closed, assigned to nobody

[2018-06-12 15:57] LaetitiaVerdier opened #35 "Problème dans contenu interne"
J'ai essayé de faire un gabarit type pour les dispositifs solidaires sur l'exemple des vacances handisport.

A chaque fois que je sélectionne le module "texte 2 colonnes", que je le complète, je ne peux pas l'enregistrer. J'ai bien l'option save mais quand je retourne sur l'article le module a disparu.

Merci

[2018-06-14 10:11] ANGELEROBLOT opened #36 "création module "nouveau séjour""
Il me faudrait, s'il te plait, un module dédié aux nouveaux séjours qui sera utilisé dans les articles "actualités":
**LE CRI DE LA MARMOTTE - Telligo**
**Val Cenis - 6/11 ans**
Durant leurs vacances, les enfants partent à la découverte de la faune et de la flore du Parc National de la Vanoise à pieds, à dos d'âne ou en cani-rando. Accompagnés par un guide, ils suivent les traces des marmottes, ap

[2018-06-14 12:10] LaetitiaVerdier opened #37 "Spécificité Menu + image / contenus"
Bonjour Nicolas,

Comme vu ensemble, nous avons besoin de modifier la photo du menu pour chaque contenu :
- projet de référence
- dispositifs solidaires
- offres de formation

![image](https://user-images.githubusercontent.com/40030677/41411188-35069b3e-6fdc-11e8-8f0b-e358dad9fcd7.png)

Merci

[2018-06-14 12:33] LucDelmon commented on #37
Bonjour,

Je suis en train de le faire.

Souhaitez-vous qu'une image par défaut soit présente dans le cas ou l'image n'est pas renseigné dans le contenu ?

Ou alors souhaitez-vous que le champ correspondant à cette image soir obligatoire dans la création du contenu ?

[2018-06-14 12:35] LaetitiaVerdier commented on #37
Il s'agit d'un champ obligatoire.

Merci

[2018-06-14 12:55] LucDelmon commented on #37
Bonjour,

C'est fait.

N'hésitez pas à m'indiquer si d'autres champs doivent être obligatoires dans les contenus internes  car rajouter des champs obligatoires implique de supprimer les contenus internes existants ( puisqu'ils deviennent invalides)

[2018-06-14 13:16] LaetitiaVerdier commented on #37
La catégorie et la date sont obligatoires uniquement pour les actualités.

Le titre, l'image et le résumé sont obligatoires dans tous les cas.

Merci

[2018-06-14 13:18] LaetitiaVerdier opened #38 "Question des copyrights photo"
Comment conserver les copyrights pour les photos sur le web ?

Merci

[2018-06-14 13:18] LaetitiaVerdier commented on #38
A date, nous n'avons les noms de photographes que dans la page Crédits du site, cela suffit-il ?

Merci

[2018-06-14 13:21] LaetitiaVerdier opened #39 "Filtre / Header page Hub + contenus"
Bonjour,

Dans les PSD fournis par Françoise, il y a un filtre fourni pour améliorer la lisibilité du menu.

Pouvez-vous l'ajouter sur le menu header des pages Hub ainsi que sur les contenus :
- projets de référence
- dispositifs solidaires
- offres de formation

Merci

[2018-06-14 13:23] LaetitiaVerdier opened #40 "Format visuel header"
Pouvez-vous nous confirmer que le format des visuels en header sur les pages Hub + contenus font bien  2544 x 702 px ?

Si le format est différent pour raisons techniques, pouvez-vous nous fournir celui-ci ?

Merci

[2018-06-14 13:31] LaetitiaVerdier opened #41 "Espacement avant et après filet titre rouge"
Il nous semble que les espacements avant et après filet titre rouge demeurent trop importants.

De même, pouvez-vous vous assurer que l'espace est toujours identique d'un snippet à l'autre ?

![image](https://user-images.githubusercontent.com/40030677/41415026-d4d71bce-6fe7-11e8-9638-043760a33778.png)

[2018-06-14 13:34] LaetitiaVerdier opened #42 "Alignement chapeau loisirs"
Est-il possible d'aligner le bloc noir sur le haut de la capitale du premier mot du chapeau (cf. **T**emple dans l'exemple ci-dessous) ?

![image](https://user-images.githubusercontent.com/40030677/41415154-2766a814-6fe8-11e8-993b-54e4efd7677b.png)

[2018-06-14 13:38] LucDelmon commented on #36
Bonjour,

Le module a été créé.

[2018-06-14 13:40] LaetitiaVerdier opened #43 "Manque picto activité / chapeau loisirs"
Dans le snippet, nous avons le picto cross de hockey apparent, cependant quand nous le regardons en ligne sur https://ucpa-corpo.recette.ampize.me/accueil/mentions-legales, il a disparu.

[2018-06-14 13:41] LaetitiaVerdier opened #44 "Chapeau Loisirs / puces losange bloc noir"
Les losanges ne sont pas centrés sur la hauteur de la capitale.

![image](https://user-images.githubusercontent.com/40030677/41415675-67a201b6-6fe9-11e8-8b3d-821a80b70e05.png)

[2018-06-14 13:42] ANGELEROBLOT commented on #36
merci beaucoup

[2018-06-14 13:42] #36 closed, assigned to nobody

[2018-06-14 13:50] LaetitiaVerdier opened #45 "Alignement bloc contact"
Est-il possible d'aligner le bloc contact sur le haut des caractères de la date pour le snippet "actualités chapeau" ?

![image](https://user-images.githubusercontent.com/40030677/41415934-018d9c68-6fea-11e8-8138-366d4a1392f3.png)

De même, il faut aligner le bloc contact pour le snippet "dispositif solidaire chapeau" sur le haut des capitales (cf. ci-dessous VACANCES)

![image](https://user-image

[2018-06-14 13:53] LaetitiaVerdier opened #46 "Bloc contact / Taille des noms des contacts"
Le nom des personnes doit figurer dans un corps plus petit (- 3 points typo) que le texte courant :
Ci-dessous Angèle Roblot et Laëtitia Verdier

![image](https://user-images.githubusercontent.com/40030677/41416350-ec38f71c-6fea-11e8-8d65-5e05109bfb93.png)

[2018-06-14 13:57] LaetitiaVerdier opened #47 "Espacement Texte / Snippet Texte + photo gauche"
A l'intérieur du paragraphe du snippet "Texte + photo gauche", l'espace avant le second sous-titre est trop petit.

Idem pour le snippet "Texte 2 colonne"

![image](https://user-images.githubusercontent.com/40030677/41416557-6d60c176-6feb-11e8-954d-c1fbcbb6e4d6.png)

[2018-06-14 13:58] LaetitiaVerdier commented on #47
Idem snippet "texte 1 colonne"

[2018-06-14 14:01] LaetitiaVerdier commented on #46
Idem pour l'identité des témoins dans le snippet "Témoignage"; il faut conserver le même corps

![image](https://user-images.githubusercontent.com/40030677/41416879-31982c8c-6fec-11e8-88d9-5efb545635f1.png)

[2018-06-14 14:02] LucDelmon commented on #37
Bonjour,

Avant que je le fasse, assurez vous que  tout les contenus que vous avez créés ( surtout les actualités) disposent de ces champs. Pour que je n'ai pas à les supprimer.

[2018-06-14 14:06] LaetitiaVerdier commented on #37
Pouvez-vous me préciser comment apparaît le résumé et où en preview ?

Merci

[2018-06-14 14:09] LaetitiaVerdier opened #48 "Page Hub chiffres clés"
Dans le snippet "page hub chiffres clés", la marge du haut est trop petite et les filets doivent être très rapprochés.

![image](https://user-images.githubusercontent.com/40030677/41417289-2a4eead2-6fed-11e8-8684-8e2111c010ef.png)

[2018-06-14 14:12] LaetitiaVerdier opened #49 "Alignement filets rouges / Snippet Chiffre clé + texte"
Dans le snippet "Chiffre clé + texte", il faut aligner le filet de droite sur le filet rouge plein de gauche

![image](https://user-images.githubusercontent.com/40030677/41417381-7f171cba-6fed-11e8-8dc7-ae2608b0a8ab.png)

[2018-06-14 14:15] LaetitiaVerdier opened #50 "Snippet Loisirs Fiche d'identité"
Est-il possible de centrer le bloc fiche sur la trame et pouvez-vous vérifier la largeur du bloc fiche ?

Normalement, il devrait être un peu plus large.

![image](https://user-images.githubusercontent.com/40030677/41417547-f6fb4512-6fed-11e8-8c51-3ca39867befa.png)

[2018-06-14 15:15] ANGELEROBLOT opened #51 "double chapeau actualité"
Est-ce normal le double chapeau ? j'en insère pourtant un seul...

![image](https://user-images.githubusercontent.com/39916838/41421162-68bb35f6-6ff6-11e8-8d61-6d79b8d78ff7.png)

[2018-06-14 15:24] nicolastrenti commented on #51
Angèle,
Il ne faut pas l'insérer dans le body, le chapeau est automatiquement inséré par le template de détail à partir des différents champs du contenu (titre, résumé, date).

[2018-06-14 15:27] ANGELEROBLOT commented on #51
aaahhh c'est bien ce que je me disais !

Merci

[2018-06-14 15:27] #51 closed, assigned to nobody

[2018-06-14 15:37] LucDelmon commented on #37
Le résumé apparait dans le chapeau a gauche a coté du trait rouge. Pour le voir en preview il faut aller sur une page de liste ( Actualités par exemple). Lancer le preview puis cliquer sur le contenu pour être amener sur la page de détail.

[2018-06-14 15:48] LucDelmon commented on #37
J'ai modifié les contenus pour rendre le résumé et les images obligatoires .

[2018-06-14 16:18] LaetitiaVerdier opened #52 "Chargement de la banque de pictos / Médiathèque"
Bonjour,

Est-ce que le format PNG convient pour intégrer les pictos à la médiathèque ?

Nous en avons une centaine, est-ce problématique ?

[2018-06-15 07:59] LucDelmon commented on #52
Bonjour,

Il n'y a pas de problèmes avec l'utilisation du format PNG. Il y a déjà des images de ce format dans  la bibliothèque. Pour ce qui est du nombre pas de problèmes non plus. Il y a une limite sur la taille totale à importer en une seule fois mais si c'est des pictos je penses que ca ne pose pas de problèmes.

[2018-06-15 08:02] LucDelmon commented on #9
Il faut indiquer la photo dans les paramètres du menu, la ou on indique le logo

[2018-06-15 08:05] LucDelmon commented on #17
Ce problème est-il toujours présent ? Je n'arrive pas à le reproduire.

[2018-06-15 08:09] LucDelmon commented on #19
Bonjour,

Ou avez-vous ce problème ?

Je n'arrive pas à le reproduire

[2018-06-15 08:26] LucDelmon commented on #21
Bonjour,
Vous faites mention du titre qui se retrouve cassé sur plusieurs lignes ? C'est une conséquence de la police et de la position des éléments.

Pour qu'il se réaligne il va falloir baisser la police ou décaler des éléments. Que souhaitez vous faire ?

[2018-06-15 08:33] LaetitiaVerdier commented on #21
Je pense que ça n'est pas nécessaire, j'ai fait la simulation hier et lorsque l'article est en ligne, le T apparaît à la bonne place

[2018-06-15 08:33] LaetitiaVerdier commented on #52
Merci

[2018-06-15 08:33] #52 closed, assigned to LaetitiaVerdier

[2018-06-15 08:47] LaetitiaVerdier commented on #19
L'article n'existe plus.

Il a été supprimé dans internal content quand des modifications ont été apportées.

Il s'agissait du snippet "Loisirs articles liésx3", je viens de refaire un test et il n'y a plus de problème.

![image](https://user-images.githubusercontent.com/40030677/41459274-64cf42c8-7089-11e8-94ac-996dd545fcab.png)

[2018-06-15 08:47] #19 closed, assigned to LaetitiaVerdier

[2018-06-15 08:55] LaetitiaVerdier commented on #17
Pas sur les contenus de ce matin.

Je vous préviens si je rencontre de nouveau le problème.

Merci

[2018-06-15 08:55] #17 closed, assigned to LaetitiaVerdier

[2018-06-15 08:56] LaetitiaVerdier opened #53 "Nouvelle fonctionnalité / snippet articles liés x 3"
J'ai vu l'animation sur les trois articles liés et c'est top !

Par contre, nous avons besoin de changer la photo du dessous en full screen pour chaque article, on ne peut pas mettre un unique visuel pour les 3

![image](https://user-images.githubusercontent.com/40030677/41459715-a07a2738-708a-11e8-8131-6b1165ed7652.png)

[2018-06-15 09:14] LucDelmon commented on #31
Bonjour,

c'est fait. En contribution les différentes slides arrivent à la suite afin de pouvoir les éditer mais une fois publiés on à bien le visuel demandé.

[2018-06-15 09:16] LaetitiaVerdier commented on #31
Parfait merci

[2018-06-15 09:16] #31 closed, assigned to nobody

[2018-06-15 09:18] LucDelmon commented on #35
Bonjour,

Il y a eu plusieurs modifications sur les saves récemment.

Le problème arrive t'il toujours ?

[2018-06-15 09:23] LucDelmon commented on #39
Bonjour,

Je ne vois pas de quel filtre il s'agit. Qu'est il sensé filtrer ?

Il s'agit du même menu à choix que dans contact ?

[2018-06-15 09:29] LucDelmon commented on #40
Bonjour,

Si vous évoquez bien les visuels qui viennent se placer sous le menu, ils n'ont pas de format spécifique.

Le format est lié à l'image en elle même. l'image prend automatiquement toute la largeur et conserve son ratio d'origine ( entre hauteur et largeur).

Si vous souhaitez un format de 2544 x 702 px il vous suffit d'upload des images de cette taille la.

[2018-06-15 09:30] LaetitiaVerdier commented on #39
Non il s'agit d'un filtre d'images, pas d'un filtre pour sélectionner des informations.

C'est un léger gris dégradé qui aide la lecture du menu quand une image est associée comme ci-dessous :
![image](https://user-images.githubusercontent.com/40030677/41461228-68affee0-708f-11e8-8aed-fd7d379dcc6d.png)

[2018-06-15 09:47] LucDelmon commented on #39
c'est fait

[2018-06-15 09:50] LaetitiaVerdier commented on #39
Merci

[2018-06-15 09:50] #39 closed, assigned to nobody

[2018-06-15 09:53] LucDelmon commented on #41
Bonjour,

c'est ce que vous souhaitez ? ( c'est réduit de moitié)

![capture d ecran 2018-06-15 a 11 51 41](https://user-images.githubusercontent.com/35261367/41462293-ad9ca24e-7092-11e8-8e32-0237914108bb.png)

[2018-06-15 11:04] LucDelmon commented on #42
Bonjour,

c'est fait

[2018-06-15 11:48] LaetitiaVerdier commented on #41
Oui, c'est mieux.

Mais il faut que l'écart soit identique entre le texte et le filet au-dessus et en-dessous (je préfère que l'on garde la référence du dessous si possible).

Merci

[2018-06-15 13:50] LaetitiaVerdier commented on #40
D'accord merci

C'est noté

[2018-06-15 13:50] #40 closed, assigned to nobody

[2018-06-15 15:09] LucDelmon commented on #43
Bonjour,

c'est corrigé.

Cordialement

[2018-06-15 15:15] LucDelmon commented on #44
Bonjour,

C'est corrigé

[2018-06-15 15:22] LucDelmon commented on #45
Bonjour,

C'est fait.

[2018-06-15 15:22] LaetitiaVerdier commented on #43
Merci

[2018-06-15 15:22] #43 closed, assigned to LaetitiaVerdier

[2018-06-15 15:23] LaetitiaVerdier commented on #44
Merci

[2018-06-15 15:23] #44 closed, assigned to LaetitiaVerdier

[2018-06-15 15:24] #45 closed, assigned to LaetitiaVerdier

[2018-06-15 15:30] LucDelmon commented on #48
Bonjour,

c'est fait.

[2018-06-15 15:38] #48 closed, assigned to LaetitiaVerdier

[2018-06-18 16:20] LaetitiaVerdier commented on #35
Je n'ai pas eu l'occasion d'en refaire. J'ai travaillé dans l'espace Mentions légales.

Nous avons prévu d'en faire demain matin.

Je vous tiens informé.

Bien à vous,

[2018-06-19 07:48] LaetitiaVerdier opened #54 "Snippet Fiche didentité loisirs"
Bonjour,

Dans le snippet fiche d'identité loisirs, pouvez-vous changer le titre Ancrage territorial par "Le projet" ?

Merci

[2018-06-19 07:58] LaetitiaVerdier commented on #47
J'ai également un problème d'espace entre les paragraphes dans le snippet "fiche d'identité loisirs"

![image](https://user-images.githubusercontent.com/40030677/41584309-43efad88-73a7-11e8-85ca-6d1abcfda6ff.png)

[2018-06-19 08:38] LaetitiaVerdier opened #55 "Snippet articles liés"
Bonjour,

Quand je change le nom ci-dessous Aren'Ice, le filet rouge disparaît. Vous pouvez regarder l'article dans Internal Contents / Complexe aqualudique de Reims

![sans titre1](https://user-images.githubusercontent.com/40030677/41586568-64a0ade2-73ad-11e8-95a0-5a73a5ea8b83.png)

[2018-06-19 08:39] ANGELEROBLOT opened #56 "article actualité non publié"
Bonjour,

J'ai publié un nouvel article d'actualité mais il n’apparaît pas dans la préview de la page actualité. Pouvez-vous m'aider s'il vous plait ?

![image](https://user-images.githubusercontent.com/39916838/41586406-fc911c00-73ac-11e8-8b33-f9f930662bf9.png)

Angèle

[2018-06-19 08:39] ANGELEROBLOT commented on #56
pardon, il s'agit de l'article Aren'ice en bas de la liste.

[2018-06-19 08:40] LaetitiaVerdier commented on #55
Et il est décalé dans l'exemple trois (Brazza) sous le texte

![sans titre](https://user-images.githubusercontent.com/40030677/41586505-35b034da-73ad-11e8-9731-075bd1d93f28.png)

[2018-06-19 08:41] ANGELEROBLOT opened #57 "bug texte + photo droite"
Le module texte + photo droite doit mal fonctionner, le texte se met sous l'image. Est-ce normal ?

Merci

![image](https://user-images.githubusercontent.com/39916838/41586518-42a118e4-73ad-11e8-8d65-bf15a8f3d6ad.png)

[2018-06-19 08:53] LaetitiaVerdier opened #58 "Problème éditeur photo"
Lorsque que je vais dans l'éditeur et que je sélectionne le crop pour changer mon visuel sur le snippet articles liés loisirs x 3, cela ne fonctionne pas.

Mon format photo prévu est 2544 X 639 px.

![image](https://user-images.githubusercontent.com/40030677/41587209-e5e39332-73ae-11e8-976c-c7513b4b0c7f.png)

[2018-06-19 09:12] LaetitiaVerdier opened #59 "Snippet articles liés x 3 loisirs / changement de visuels"
Bonjour,

Je n'arrive pas à trouver comment mettre les trois visuels en lien avec les articles liés.

[2018-06-19 12:54] LaetitiaVerdier opened #60 "Changement wording"
Pouvez-vous appeler la photo full screen dans les snippets, simplement "Photo" ?

Merci

[2018-06-19 12:56] LaetitiaVerdier commented on #42
C'est en effet résolu sur le desktop mais j'ai le même problème sur le mobile.

![image](https://user-images.githubusercontent.com/40030677/41598597-e4948afa-73d0-11e8-90d7-4f839e6e93ac.png)

[2018-06-19 12:58] LaetitiaVerdier opened #61 "Version mobile / taille des pictos médias sociaux"
Bonjour,

Sur la version mobile, les pictos ne sont pas suffisamment espacés et la taille est trop grande.

Pouvez-vous diminuer un peu l'encombrement ?

![image](https://user-images.githubusercontent.com/40030677/41598647-138f0f2e-73d1-11e8-9c84-1949a8d244b6.png)

[2018-06-19 13:06] LaetitiaVerdier opened #62 "Version mobile / Snippet chapeau loisirs / Taille et type de typo"
Pouvez-vous me confirmer que la typo au niveau du "Temple de hockey" est bien la nôtre ?

Et qu'il y a bien 34 px avant et après le filet rouge ?

![image](https://user-images.githubusercontent.com/40030677/41599041-3f5187bc-73d2-11e8-9fe5-8f467e2895d2.png)

[2018-06-19 13:14] LaetitiaVerdier opened #63 "Version mobile / snippet article lié"
Il y a un problème d'affichage de l'article lié en version mobile

![image](https://user-images.githubusercontent.com/40030677/41599337-22c4ebce-73d3-11e8-86f8-322c2185f56e.png)

Voici ce que nous voulons en résultat

![image](https://user-images.githubusercontent.com/40030677/41599431-76c1e61e-73d3-11e8-8d25-5f9a02d9ccd6.png)

[2018-06-19 13:17] ANGELEROBLOT opened #64 "Preview Actualités"
Les rubriques de la page Actualités ne s'affichent pas dans la preview, est-ce normal ?

![image](https://user-images.githubusercontent.com/39916838/41599559-e29f4d22-73d3-11e8-8aa1-7d92f2b0f55c.png)

[2018-06-19 13:19] LaetitiaVerdier opened #65 "Version mobile / snippet page hub chiffres clés"
Bonjour,

Nous avions demandé un slider pour les chiffres clés dans la version mobile, cela n'est-il pas possible ?

Les 3 blocs les uns sous les autres ne semblent pas très satisfaisants.

![image](https://user-images.githubusercontent.com/40030677/41599617-04105ece-73d4-11e8-831a-3b6bbbad42eb.png)

[2018-06-19 13:23] LaetitiaVerdier opened #66 "Version mobile / snippet à propos"
Nous avons un gros problème d'affichage du logo avec le snippet "à propos"

![image](https://user-images.githubusercontent.com/40030677/41599782-756d3754-73d4-11e8-8eb7-19544671f831.png)

De même, le picto utilisé ne convient pas, il s'agit de la main avec le cœur à la place.

![image](https://user-images.githubusercontent.com/40030677/41599905-bf2df626-73d4-11e8-8818-1d96bd22540e.png)

[2018-06-20 08:58] LucDelmon commented on #53
Bonjour,

c'est fait.

En contribution vous aurez 3 images à la suite . La première correspond au premier article etc.

Les images se retrouveront automatiquement en plein écran et superposées  une fois publiées.

par défaut on ne verra que l'image du première article et les autres apparaissent au survol de l'article qui leur correspond.

[2018-06-20 09:47] LaetitiaVerdier opened #67 "Problème d'affichage chapeau / COMPLEXE AQUALUDIQUE DE REIMS"
Dans internal content, j'ai un article sous projet de référence qui s'appelle Complexe aqualudique de Reims.

Le chapeau ci-dessous n'a pas lieu d'être, il s'agit d'un chapeau actualité :

![image](https://user-images.githubusercontent.com/40030677/41650871-5bb9968a-747f-11e8-9337-6c283ec0bb12.png)

Le chapeau des projets est le suivant :
![image](https://user-images.githubusercontent.com/40030677

[2018-06-20 09:56] LucDelmon commented on #46
Bonjour,

c'est fait.

Cordialement

[2018-06-20 09:58] LaetitiaVerdier opened #68 "Page liste / Projets de référence"
Bonjour,

La page liste Projets de référence est différente de la page Actualités.

![image](https://user-images.githubusercontent.com/40030677/41651084-f8fd09b8-747f-11e8-9882-379fcdca7c8c.png)

Il ne devrait pas y avoir de contacts mais une cartographie en picto avec un CTA "Voir nos implantations dans nos régions."

Le sous-titre "Projets de référence" doit être remplacé par "Découvrez nos proj

[2018-06-20 10:51] LucDelmon commented on #57
Bonjour,

le problème est résolu.

Il faudra cependant recharger le module.

[2018-06-20 11:11] LucDelmon commented on #63
Bonjour,

La modification a été effectuée

[2018-06-20 11:18] LucDelmon commented on #60
Bonjour,

c'est fait

[2018-06-20 11:46] LucDelmon commented on #66
Bonjour,

Le problème est corrigé.

Par contre je n'ai pas ce logo. Pouvez-vous me l'envoyer ?

[2018-06-20 11:55] LucDelmon commented on #64
Bonjour,

Oui c'est normal.

Pour un soucis de performance le titre est récupéré à partir des articles.

Il faut donc qu'il existe au moins un article dans la rubrique pour que le titre s'affiche ( comme pour espace sportif sur l'image).

Est-il possible que des rubriques soit vides ? je suis parti de l'idée qu'il y aurait au moins un article par rubrique.

[2018-06-20 11:58] LucDelmon commented on #67
#68

[2018-06-20 12:11] LaetitiaVerdier commented on #46
Merci

[2018-06-20 12:11] #46 closed, assigned to LaetitiaVerdier

[2018-06-20 12:13] LaetitiaVerdier commented on #53
Merci

[2018-06-20 12:27] LucDelmon commented on #67
Bonjour,

Je me rend compte que ce chapeau inclus des données supplémentaires (les éléments de la liste à droite) qui ne sont pas renseignés dans le contenu.

J'ai l'impression que vous préférez ajouter vous même le chapeau directement dans le body des articles afin de le personnaliser.

Je penses qu'on va restez sur ce fonctionnement car il semble vous convenir.

**Je vais donc retirer tout les c

[2018-06-20 12:33] LaetitiaVerdier opened #69 "Fil d'ariane / Complexe aqualudique de Reims"
Bonjour,

Dans mon article Projets de référence / Complexe aqualudique de Reims, je souhaite changer le texte "Détail Projets de référence" pour Complexe aqualudique de Reims

Comment changer le fil d'ariane ?

![image](https://user-images.githubusercontent.com/40030677/41658440-a3896b5e-7496-11e8-9c01-ca51d18097ae.png)

Merci

[2018-06-20 12:58] LucDelmon commented on #68
Bonjour,

Je vois également que les projets ont tous une région. Faut-il rajouter ce champ a l'internal content ?

[2018-06-20 13:20] LucDelmon commented on #68
J'ai rajouté un champ region sur le contenu

[2018-06-20 13:49] LucDelmon commented on #68
J'ai fait la modification.

Par contre je n'ai pas le picto de la carte, ou puis-je le récupérer ? A ma connaissance il n'y a pas de PSA projets de référence.

[2018-06-20 14:31] LucDelmon commented on #55
Bonjour,

j'ai corrigé les problèmes.

Il faudra par contre recharger les modules concernés.

[2018-06-20 14:33] LucDelmon commented on #59
Bonjour,

Vous parlez des images ? l'ordre vertical des images est lié a l'ordre horizontal des articles.

[2018-06-20 14:40] LaetitiaVerdier commented on #53
Bonjour,

J'ai toujours un problème de filet sur le 3ème article lié qui coupe le texte au lieu d'être au dessus.

<img width="1292" alt="capture d ecran 2018-06-20 a 15 11 39" src="https://user-images.githubusercontent.com/40030677/41665618-a9f0077a-74a8-11e8-841a-993b1c61f205.png">

[2018-06-20 14:41] LaetitiaVerdier commented on #53
Ici sur le mot complexe

[2018-06-20 14:42] LaetitiaVerdier commented on #59
C'est bon de mon côté à part le filet rouge sur le troisième article lié, le reste fonctionne.

[2018-06-20 14:50] LucDelmon commented on #53
Oui c'est normal, il fallait recharger le module.

Je suis allé faire les modifications directement dans votre contenu.
Le problème a disparu désormais

[2018-06-20 15:01] nicolastrenti commented on #65
Laetitia,
Non, malheureusement ça n'est pas possible techniquement, désolé.
Par contre je reconnais que le rendu n'est pas forcément très clair en l'état. Peut-être cela serait-il mieux en augmentant l'espace entre le libellé du type" en parcours d'insertion professionnelle et de formation" et le rond suivant ?

[2018-06-20 15:13] LucDelmon commented on #62
Bonjour,

La police sur votre image n'est en effet pas la bonne mais je pense qu'il s'agit d'un problème de chargement ponctuel ( ca peut arriver) car j'ai la bonne police de mon coté.

Pour ce qui est de l'écart, il y avait en effet que 16 pixel.

c'est corrigé

[2018-06-20 15:14] nicolastrenti commented on #69
Laetitia,
On réfléchit à cette problématique, assez complexe techniquement. Pour l'instant, j'ai remplacé le titre de la page par un simple "Projet de référence" en attendant mieux.

[2018-06-20 15:39] ANGELEROBLOT commented on #64
D'accord merci beaucoup.

Effectivement les rubriques sont vides, je n'ai pas eu le temps de créer autant d'articles.

[2018-06-20 15:39] #64 closed, assigned to ANGELEROBLOT

[2018-06-20 15:39] ANGELEROBLOT commented on #57
Merci

[2018-06-20 15:39] #57 closed, assigned to ANGELEROBLOT

[2018-06-20 15:40] #56 closed, assigned to nobody

[2018-06-20 15:54] LucDelmon commented on #61
c'est fait,

Par contre il va falloir recharger les modules concernés pour l'espacement

[2018-06-20 16:21] #55 closed, assigned to LaetitiaVerdier

[2018-06-21 07:51] LucDelmon commented on #54
Bonjour,

La modification est effectué

[2018-06-21 08:53] LucDelmon commented on #50
Bonjour,

c'est corrigé

[2018-06-21 08:58] LucDelmon commented on #59
#55 duplicate

[2018-06-21 08:58] #59 closed, assigned to LaetitiaVerdier

[2018-06-21 08:58] LucDelmon commented on #53
#55

[2018-06-21 08:58] #53 closed, assigned to LaetitiaVerdier

[2018-06-21 09:25] LucDelmon commented on #49
Bonjour,

c'est fait.

[2018-06-21 09:37] LucDelmon commented on #47
Bonjour,

c'est fait. A vous de me dire si les écarts vous conviennent.

[2018-06-21 11:07] LucDelmon commented on #41
Bonjour,

je l'ai fait et j'ai uniformisé sur tout les snippets comprenant le filet

[2018-06-21 11:25] LucDelmon commented on #7
Une amélioration a été déployée, Il ne devrait plus y avoir de déformations

[2018-06-21 11:31] #2 closed, assigned to LaetitiaVerdier

[2018-06-21 11:34] LucDelmon commented on #5
Avez-vous eu l'occasion de tester ?

[2018-06-21 11:35] #9 closed, assigned to LaetitiaVerdier

[2018-06-21 11:36] #21 closed, assigned to LaetitiaVerdier

[2018-06-21 11:52] LucDelmon commented on #42
Bonjour,

j'ai résolu le problème sur mobile également.

[2018-06-21 11:53] #60 closed, assigned to LaetitiaVerdier

[2018-06-21 13:24] #54 closed, assigned to LaetitiaVerdier

[2018-06-21 13:30] #42 closed, assigned to LaetitiaVerdier

[2018-06-21 13:33] LaetitiaVerdier commented on #5
Oui cela fonctionne bien.

[2018-06-21 13:33] #5 closed, assigned to LaetitiaVerdier

[2018-06-21 13:36] #7 closed, assigned to LaetitiaVerdier

[2018-06-21 13:44] LaetitiaVerdier opened #70 "Mobile / Vidéo"
Bonjour,

Voici l'affichage mobile du snippet vidéo :

![image](https://user-images.githubusercontent.com/40030677/41722635-67fe4a7c-7569-11e8-9601-c2e23a08725b.png)

Et celui que nous souhaitons :

![image](https://user-images.githubusercontent.com/40030677/41722886-fdf10b28-7569-11e8-9edd-12cdb06a4421.png)

Il y a trop de blanc entre le texte et la vidéo et l'espace avant et après le liseret n'e

[2018-06-21 13:48] LaetitiaVerdier commented on #66
J'essaie de le récupérer.

[2018-06-21 13:50] #35 closed, assigned to LaetitiaVerdier

[2018-06-21 13:51] LaetitiaVerdier commented on #41
Merci. Egalement sur la version mobile ?

Merci

[2018-06-21 13:51] #41 closed, assigned to LaetitiaVerdier

[2018-06-21 13:57] LaetitiaVerdier commented on #47
Oui tout à fait merci

[2018-06-21 13:57] #47 closed, assigned to LaetitiaVerdier

[2018-06-21 13:57] #37 closed, assigned to LaetitiaVerdier

[2018-06-21 13:58] #49 closed, assigned to LaetitiaVerdier

[2018-06-21 14:00] #50 closed, assigned to LaetitiaVerdier

[2018-06-21 14:02] LaetitiaVerdier commented on #66
J'ai les fichiers en ai. Pouvez-vous me donner une adresse où vous envoyé le fichier ?

[2018-06-21 14:03] #61 closed, assigned to LaetitiaVerdier

[2018-06-21 14:04] LaetitiaVerdier commented on #69
Merci beaucoup, pour la présentation, j'ai changé le nom de l'article sous l'arborescence du site

[2018-06-21 14:04] nicolastrenti commented on #33
Evolution déployée

[2018-06-21 14:05] #62 closed, assigned to LaetitiaVerdier

[2018-06-21 14:05] nicolastrenti commented on #29
Evolution déployée

[2018-06-21 14:06] nicolastrenti commented on #25
Evolution déployée

[2018-06-21 14:07] LaetitiaVerdier commented on #33
Merci.

Comment cela fonctionne ?

[2018-06-21 14:07] #29 closed, assigned to LaetitiaVerdier

[2018-06-21 14:09] nicolastrenti commented on #33
Dans l'interface de gestion des contenus internes, il y a une petite icone dupliquer sur la ligne (à côté de modifier et supprimer)

[2018-06-21 14:10] LaetitiaVerdier commented on #65
Nicolas,

Oui je suis d'accord et il faudrait aussi baisser la taille des filets rouge et des pictos.

Merci

[2018-06-21 14:11] LaetitiaVerdier commented on #33
Top !

Merci

[2018-06-21 14:11] #33 closed, assigned to LaetitiaVerdier

[2018-06-21 14:11] ANGELEROBLOT commented on #25
merci

[2018-06-21 14:12] #25 closed, assigned to ANGELEROBLOT

[2018-06-21 14:12] LaetitiaVerdier commented on #67
C'est parfait.

Vous avez raison.

Merci

[2018-06-21 14:12] #67 closed, assigned to LaetitiaVerdier

[2018-06-21 14:35] #63 closed, assigned to LaetitiaVerdier

[2018-06-22 08:15] LucDelmon commented on #70
Bonjour,

les modifications sont effectuées.

[2018-06-22 08:18] LaetitiaVerdier commented on #70
Merci

[2018-06-22 08:18] #70 closed, assigned to LucDelmon

[2018-06-22 08:55] LucDelmon commented on #65
C'est fait, j'attends votre retour

[2018-06-22 09:08] LucDelmon commented on #68
J'ai rajouté le picto

[2018-06-22 09:09] #66 closed, assigned to LucDelmon

[2018-06-22 09:09] LaetitiaVerdier commented on #68
Merci

[2018-06-22 09:09] #68 closed, assigned to LaetitiaVerdier

[2018-06-22 10:10] LaetitiaVerdier commented on #65
Oui c'est mieux mais j'ai l'impression que le premier liseret rouge et le deuxième ne font pas la même taille.

![image](https://user-images.githubusercontent.com/40030677/41769179-b994368a-760e-11e8-9cd8-3ac6ffacaabe.png)

[2018-06-22 14:18] LucDelmon commented on #65
Je viens de vérifier. Ils font la même taille pour moi.

Vous avez peux être chargé le module pendant que je faisais des modifications.

[2018-06-22 14:20] LaetitiaVerdier commented on #65
Très bien.

Je vous remercie.

[2018-07-02 15:22] LaetitiaVerdier opened #71 "Version mobile / tous snippets / filets rouge + espace"
Bonjour,

J'ai sur la version mobile un problème d'espaces avant et après le filet rouge sur tous les snippets avec du texte comme c'était le cas sur le desktop. Nous voulons un espace proportionnel identique en dessous et au dessus de 34 px.

Merci

![image](https://user-images.githubusercontent.com/40030677/42172487-63f4ea10-7e1c-11e8-8825-ed9826484b7f.png)

[2018-07-02 15:27] LaetitiaVerdier opened #72 "Version mobile / Snippet A propos"
Il y a un espace blanc trop conséquent après le texte du snippet à propos

![image](https://user-images.githubusercontent.com/40030677/42172573-afb3fbf8-7e1c-11e8-82cb-dc6ea85c2882.png)

[2018-07-02 15:32] LaetitiaVerdier opened #73 "Version mobile / vidéo"
Il manque un espace au-dessus du titre, le filet rouge semble trop graissé par rapport à la maquette ou aux autres filets.

![image](https://user-images.githubusercontent.com/40030677/42172939-d1d53da4-7e1d-11e8-9d24-adf00ab4b673.png)

[2018-07-02 15:44] LaetitiaVerdier opened #74 "Problème avec les CTA"
Bonjour,

Lorsque je dois changer le texte, la case n'est pas extensible et refuse mes modifications de texte. Dans l'exemple ci-dessous, j'essayais de mettre toutes nos implantations au lieu de Projets de référence :

![image](https://user-images.githubusercontent.com/40030677/42173488-6e76ca8c-7e1f-11e8-85c9-89876c08a674.png)

[2018-07-02 15:47] LaetitiaVerdier opened #75 "Changement d'ordre / Header"
Bonjour,

Nous souhaitons intervertir Formations et Nous rejoindre dans l'ordre d'apparition du Header de sorte que "Formations" arrive directement derrière "Actualités".

![image](https://user-images.githubusercontent.com/40030677/42173594-e149a8ae-7e1f-11e8-92d5-43ebcf8ceef8.png)

[2018-07-02 16:16] LaetitiaVerdier opened #76 "Pages liste"
Les pages liste Dispositifs solidaires et offres de formation doivent être composées comme la page liste Projets de référence.

L'affichage actuel correspond à la page liste actualités

![image](https://user-images.githubusercontent.com/40030677/42174719-8ec7e98e-7e23-11e8-8fd3-a271bfd68478.png)

Nous voulons cet affichage :

![image](https://user-images.githubusercontent.com/40030677/42174789-b81

[2018-07-03 08:22] LaetitiaVerdier opened #77 "Version mobile / problème affichage visuels header"
Bonjour,

Le visuel doit garder une certaine hauteur pour les pages Hub et les pages projets de référence, dispositifs solidaires et offres de formation (cf. maquettes page mobile).

![image](https://user-images.githubusercontent.com/40030677/42207596-94fef23e-7eaa-11e8-899c-0a9c39c1827b.png)

Comme suit :
![image](https://user-images.githubusercontent.com/40030677/42207703-d88c8a66-7eaa-11e8-9783

[2018-07-03 08:24] LaetitiaVerdier commented on #72
De plus, il semble qu'il y ait un filet blanc entre le triangle gris et son bloc dans les snippets mobile Photo gauche + texte + fond

[2018-07-03 08:28] LaetitiaVerdier opened #78 "Version mobile / trame des photos"
Bonjour,

Il faut réduire la hauteur des trames des photos à droite et à gauche (cf. maquettes) sur tous les snippets avec photo + texte.

![image](https://user-images.githubusercontent.com/40030677/42208068-904e6e6c-7eab-11e8-8ca0-8f39fe933e6c.png)

[2018-07-03 08:33] LaetitiaVerdier opened #79 "Version mobile / Snippet Hub chiffres clés et chiffres clés + texte"
Bonjour,

Sur les Snippets Hub chiffres clés et chiffres clés + texte, le triangle noir est trop conséquent et doit être diminué. De plus, les marges haut et bas doivent être rééquilibrées et identiques.

![image](https://user-images.githubusercontent.com/40030677/42208323-371764f6-7eac-11e8-9085-f388f32cdfee.png)

[2018-07-03 08:37] LaetitiaVerdier opened #80 "Version desktop / pages listes alignement à la marge"
Il y a un problème d'alignement à la marge gauche dans les pages listes "actualités", projets de référence, dispositifs solidaires et offres de formation

![image](https://user-images.githubusercontent.com/40030677/42208623-ec7610ae-7eac-11e8-81d2-7c95e72cf985.png)

[2018-07-03 08:41] LaetitiaVerdier opened #81 "Version mobile / pages listes"
Pouvez-vous réduire la taille du picto de toutes les pages listes et le centrer tel que dans le snippet A propos.

![image](https://user-images.githubusercontent.com/40030677/42208808-68789938-7ead-11e8-8f64-e1257413ffc7.png)

Merci

[2018-07-03 08:46] LaetitiaVerdier opened #82 "Affichage desktop + mobile / Visuel header"
Bonjour,

Le bandeau noir sous le menu ne doit pas apparaître lorsqu'il y a une photo associée (ex: article complexe aqualudique de Reims). Merci de prévoir une mise en forme conditionnelle (cf. maquettes)

![image](https://user-images.githubusercontent.com/40030677/42209057-fef82342-7ead-11e8-8848-da5936a2feb5.png)

![image](https://user-images.githubusercontent.com/40030677/42209071-089f669e-7ea

[2018-07-03 08:49] LaetitiaVerdier commented on #79
Le triangle est trop conséquent également dans le snippet page hub chapeau

![image](https://user-images.githubusercontent.com/40030677/42209324-abfd5274-7eae-11e8-8ade-62aa118a3ceb.png)

[2018-07-03 08:50] LaetitiaVerdier commented on #79
Idem
![image](https://user-images.githubusercontent.com/40030677/42209432-e2abedd0-7eae-11e8-885b-e889af444d1e.png)

[2018-07-03 08:57] LaetitiaVerdier opened #83 "Version mobile / snippet témoignage"
Bonjour,

La photo du snippet témoignage est ronde et non ovale (cela vaut pour la version desktop et mobile)

![image](https://user-images.githubusercontent.com/40030677/42209518-21f88a98-7eaf-11e8-918b-0a4e93bdf6c2.png)

Côté mobile, il manque le filet lire la suite (cf. maquette), nous avons prévu uniquement de laisser apparaître le début du témoignage (les 4-5 premières lignes)

![image](https

[2018-07-03 09:04] LaetitiaVerdier opened #84 "Version mobile / Snippet Aller plus loin"
Bonjour,

Il y a un gros problème de mise en page :
- les call-to-action ne doivent pas passer sur 2 lignes, peut-être doit-on revoir la taille du corps de texte
- la taille du triangle trop grande + le filet blanc qui devrait ne pas être apparent
- l'espace avant le titre et après le CTA
- la marge doit être plus importante entre les chevrons et le texte

![image](https://user-images.githubuserco

[2018-07-03 09:11] LaetitiaVerdier opened #85 "Version mobile / snippet articles liés loisirs x 3"
Bonjour,

Voici les ajustements souhaités :
- le CTA est cassé en 2 lignes, il doit être sur une seule ligne
- les espaces avant et après le filet rouge doivent être équivalents et identiques à tous les autres snippets
- les espaces entre les 3 articles liés sont trop grands
- le visuel n'a pas la bonne taille
- la trame n'est pas à la bonne échelle

![image](https://user-images.githubusercontent.

[2018-07-03 09:13] LaetitiaVerdier commented on #79
![image](https://user-images.githubusercontent.com/40030677/42210720-02cf1904-7eb2-11e8-9611-33f927c9bd71.png)
Idem dans les blocs contacts

[2018-07-03 09:15] LaetitiaVerdier opened #86 "Version mobile / snippet à propos"
Il manque le filet de séparation entre le titre et le texte cf. ci-dessous

![image](https://user-images.githubusercontent.com/40030677/42210858-5c2ce9cc-7eb2-11e8-8064-86b75c9b370c.png)

[2018-07-03 09:16] LaetitiaVerdier commented on #86
![image](https://user-images.githubusercontent.com/40030677/42210902-78a95d24-7eb2-11e8-809c-2edf248e590e.png)

[2018-07-03 09:19] LaetitiaVerdier opened #87 "Version mobile / Articles liés x 3"
Voici ce qui s'affiche :
![image](https://user-images.githubusercontent.com/40030677/42211061-df2bd70c-7eb2-11e8-8f25-4dfffe30d643.png)

Voici ce que nous voulons :

![image](https://user-images.githubusercontent.com/40030677/42211093-f6f62c0c-7eb2-11e8-8ac7-a3ab24115716.png)

[2018-07-03 09:23] LaetitiaVerdier opened #88 "Pages listes"
Nous souhaitons supprimer cet élément et le filet noir des pages listes sur le desktop et le mobile :

![image](https://user-images.githubusercontent.com/40030677/42211242-687a2ef0-7eb3-11e8-8610-8d61102abf37.png)

[2018-07-03 11:50] LucDelmon commented on #71
Bonjour,

c'est fait.

Cordialement,

Luc Delmon

[2018-07-03 12:07] #71 closed, assigned to LaetitiaVerdier

[2018-07-03 12:55] LucDelmon commented on #72
Bonjour,
L'espace après le texte du snippet a été réduit

[2018-07-03 13:00] LucDelmon commented on #72
Je n'arrive pas à reproduire les problème de l'espace entre le triangle et le bloc. Quel navigateur utilisez-vous ?

[2018-07-03 13:08] LucDelmon commented on #73
Bonjour,

j'ai rajouté un espace.

Le filet est le même que pour les autres snippet ( 3px).

[2018-07-03 13:18] LaetitiaVerdier commented on #72
Chrome

[2018-07-03 13:20] LaetitiaVerdier commented on #73
Merci cela doit venir de mon affichage.

[2018-07-03 13:20] #73 closed, assigned to LaetitiaVerdier

[2018-07-03 13:28] LucDelmon commented on #74
Je n'ai personnellement aucun problème.

![capture d ecran 2018-07-03 a 15 25 41](https://user-images.githubusercontent.com/35261367/42222420-74fcbd10-7ed5-11e8-95e3-e9eb37f0d499.png)

Il faut bien coller le curseur sur la fin du dernier mot avant d'effacer ou d'écrire un texte différent.

[2018-07-03 13:31] LucDelmon commented on #75
Bonjour,

c'est fait

[2018-07-03 13:47] LucDelmon commented on #76
C'est fait.

Il est possible de changer le picto mais il faudra nous le donner, vous ne pourrez pas le changer vous-même

[2018-07-03 14:12] LaetitiaVerdier commented on #76
Très bien.

Voici les 2 pictos.  Par contre, nous n'avons pas besoin de CTA sur les offres de formation (picto prime) ni les dispositifs solidaires (picto solidarite) sur la page liste.

![p_solidarite 1](https://user-images.githubusercontent.com/40030677/42224902-81ee07bc-7edb-11e8-8b28-3f896c950334.png)

![copie de picto prime](https://user-images.githubusercontent.com/40030677/42225027-d8d2f39e

[2018-07-03 14:13] LaetitiaVerdier commented on #76
Je peux changer moi-même le texte en haut à gauche ?

[2018-07-03 14:14] #75 closed, assigned to LaetitiaVerdier

[2018-07-03 14:34] LaetitiaVerdier commented on #74
C'est curieux, je ne pouvais pas écrire après l'espace

[2018-07-03 14:34] #74 closed, assigned to LaetitiaVerdier

[2018-07-03 15:10] LucDelmon commented on #77
Bonjour,

Je ne comprends pas trop la solution que vous souhaitez,

Si je force une certaine hauteur l'image se retrouve soit fortement déformé soit zoomé sur une partie de l'image.

Je l'ai fait sur la page sport des territoires mais je ne pense pas que le résultat soit satisfaisant.

[2018-07-03 15:15] LaetitiaVerdier opened #89 "Problème espaces / Home page Desktop"
Bonjour,

Nous retrouvons de nombreux problèmes d'espaces et avons donc fait une synthèse pour vous aider à identifier nos problèmes de calage.

[Desktop_Home_Page_2018_07_03.pdf](https://github.com/ampize/ampize-ucpa-corpo-recette/files/2159978/Desktop_Home_Page_2018_07_03.pdf)

[2018-07-03 15:16] LaetitiaVerdier opened #90 "Problème espaces / Home page Mobile"
Idem ticket précédent :

[Mobile_Home_Page_2018_07_03.pdf](https://github.com/ampize/ampize-ucpa-corpo-recette/files/2159980/Mobile_Home_Page_2018_07_03.pdf)

[2018-07-03 15:47] LucDelmon commented on #79
Bonjour, c'est fait pour le 1 er problème

[2018-07-03 15:54] LucDelmon commented on #80
C'est corrigé

[2018-07-03 15:56] #80 closed, assigned to LaetitiaVerdier

[2018-07-04 07:58] LucDelmon commented on #82
Bonjour,
c'est fait

[2018-07-04 07:59] #82 closed, assigned to LaetitiaVerdier

[2018-07-04 08:58] LaetitiaVerdier opened #91 "Version mobile / espaces Footer"
Voici les problèmes identifiés sur le footer en version mobile.

[Mobile_Footer_2018_07_03.pdf](https://github.com/ampize/ampize-ucpa-corpo-recette/files/2162494/Mobile_Footer_2018_07_03.pdf)

[2018-07-04 09:00] LaetitiaVerdier opened #92 "Version desktop / espaces Footer"
Idem pour la version desktop du footer.

[Desktop_Footer_2018_07_03.pdf](https://github.com/ampize/ampize-ucpa-corpo-recette/files/2162505/Desktop_Footer_2018_07_03.pdf)

[2018-07-04 12:23] LucDelmon commented on #81
C'est fait

[2018-07-04 12:27] #81 closed, assigned to LaetitiaVerdier

[2018-07-04 12:47] LucDelmon commented on #83
Bonjour,

La forme de la photo est lié aux dimensions de la photo.

La meilleure façon de résoudre le problème est d'utiliser l'éditeur de photo pour recouper les photos et en faire des photos carrés.

Peu importe la dimension l'important étant que largeur=hauteur.

Si je force moi-même un rond la photo sera déformé.

[2018-07-04 12:49] LaetitiaVerdier commented on #83
D'accord.

Merci

[2018-07-04 12:49] #83 closed, assigned to LaetitiaVerdier

[2018-07-04 13:48] LucDelmon commented on #84
c'est fait

[2018-07-04 13:52] LaetitiaVerdier commented on #84
Merci

[2018-07-04 13:52] #84 closed, assigned to LaetitiaVerdier

[2018-07-04 13:58] LaetitiaVerdier opened #93 "Version desktop / Marges et espaces"
Bonjour,

Notre équipe créa a fait une synthèse sur les marges et les espaces au global sur la version desktop.

[Desktop_Marges_et_Espaces_2018_07_03.pdf](https://github.com/ampize/ampize-ucpa-corpo-recette/files/2163453/Desktop_Marges_et_Espaces_2018_07_03.pdf)

[2018-07-04 13:59] LaetitiaVerdier opened #94 "Version mobile / Marges et espaces"
Idem sur la version mobile :

[Mobile_Marges_et_Espaces_2018_07_03.pdf](https://github.com/ampize/ampize-ucpa-corpo-recette/files/2163461/Mobile_Marges_et_Espaces_2018_07_03.pdf)

[2018-07-04 14:32] LucDelmon commented on #85
c'est fait.

Cordialement.

[2018-07-04 14:35] LucDelmon commented on #86
Bonjour,

Il y est pour moi.

[2018-07-04 14:35] #85 closed, assigned to LaetitiaVerdier

[2018-07-04 14:40] LucDelmon commented on #88
Bonjour,

Je ne comprends pas. Il ne sera plus possible de changer de pages après cela

[2018-07-04 14:41] LaetitiaVerdier commented on #88
Combien de projets peuvent apparaître sur une même page ?

De toute façon, nous souhaitons supprimer le filet noir

[2018-07-04 14:42] #65 closed, assigned to LaetitiaVerdier

[2018-07-04 14:49] LucDelmon commented on #88
On peut changer le nombre d'éléments par pages dans la configuration du bloc "List". ( Actuellement 10).

On peut aussi choisir d'afficher le paginator ou non.

![image](https://user-images.githubusercontent.com/35261367/42283565-27911e42-7faa-11e8-9605-f3cdb6cbe2d4.png)

Je vais enlever les filets noirs

[2018-07-04 14:51] LaetitiaVerdier commented on #88
Nous avons besoin d'avoir au moins 15 items par page.

Dans ce cas, nous pouvons avoir la pagination si les items vont au-delà.

merci

[2018-07-04 14:56] LucDelmon commented on #88
J'ai retiré les filets noirs.

J'ai passé les listes à 15 items par pages.

Par contre il n'est pas possible de conditionner l'affichage de la pagination.

Vous pouvez le désactiver et le réactiver à la main quand vous dépasserez les 15 items.

[2018-07-04 14:58] LaetitiaVerdier commented on #88
C'est parfait.

Merci

[2018-07-04 14:58] #88 closed, assigned to LaetitiaVerdier

[2018-07-04 14:59] #86 closed, assigned to LaetitiaVerdier

[2018-07-04 14:59] #12 closed, assigned to LaetitiaVerdier

[2018-07-04 15:01] LaetitiaVerdier commented on #27
Savez-vous si cet élément est réglé ?

[2018-07-04 15:10] nicolastrenti commented on #27
Bonjour Laetitia,

Non, notre refonte de la médiathèque n'a pas suffisamment avancé pour vous permettre d'uploader des documents autres que des images. Je laisse donc ce ticket ouvert.

Pour le lancement, deux solutions :
- Tu peux m'envoyer les PDF à héberger et je les déposerai manuellement sur le serveurs
- Ou sinon il vous faudra passer par une solution d'hébergement externe (type dropbox), le

[2018-07-04 15:13] LaetitiaVerdier commented on #27
D'accord.

Pour le lancement, nous aurons une dizaine de PDF (rapport annuel, liste de la gouvernance et quelques dossiers de presse), je pense donc qu'on vous les transmettra.

Merci

[2018-07-04 15:23] LucDelmon commented on #89
Bonjour,

C'est corrigé

[2018-07-04 15:25] #89 closed, assigned to LaetitiaVerdier

[2018-07-04 16:04] LucDelmon commented on #90
Bonjour,

La majorité des problèmes sont corrigés.

Cependant je ne peux pas placer l'image comme vous le souhaitez. L'image ne peux pas être dézoomé et garder autant de hauteur sur un format téléphone ( plus haut que large). La version de l'image que j'ai n'a pas autant de ciel.

Je pense que vous avez une image sous un autre format pour le mobile. Il faudrait me l'envoyer

[2018-07-04 16:05] LaetitiaVerdier commented on #90
Je vais me renseigner.

Merci

[2018-07-05 08:42] LucDelmon commented on #91
Bonjour,

c'est fait.

Certains espaces me semblent néanmoins particuliérement grand. Pensez à vérifier.

[2018-07-05 09:42] LucDelmon commented on #92
c'est fait

[2018-07-05 10:02] LaetitiaVerdier commented on #92
Merci

[2018-07-05 10:02] LucDelmon commented on #93
Bonjour,

Vous m'avez déja demandé de réduire les espaces autour des filets rouges, ce qui prend beaucoup de temps.
 #41

Votre fichier indique des marges de 70px avant et après, ce qui est très grand, plus même qu'avant la réduction.

Êtes-vous sure de vouloir autant d'espace ?

[2018-07-05 14:11] LucDelmon commented on #93
C'est fait. Y compris les marges de 70 autour des filets rouges

[2018-07-05 14:14] LucDelmon commented on #94
La parti concernant l'espacement entre les modules est faites

[2018-07-05 14:30] LucDelmon commented on #79
c'est fait pour tous

[2018-07-05 14:32] LucDelmon commented on #72
J'ai fait de nombreux test, impossible de reproduire le problème. Est-il toujours présent ?

[2018-07-05 14:44] LucDelmon commented on #78
Bonjour,

cet effet ou les trames se retrouvent trop grandes n'arrivent que sur les très petits téléphones.

Notre intégration mobile est plutôt focalisé sur des écrans de types Iphone 6,7,8 et Iphone X.

Si on réduit la hauteur des trames elles risquent de se retrouver trop petite pour ces types d'écrans.

[2018-07-05 14:54] LaetitiaVerdier commented on #93
Bonjour,

Je vous remercie.

J'avoue être surprise également mais il s'agit des retours de la responsable de la DA du site pour tous les PDF fournis qui a des outils dont je ne dispose pas pour vérifier ce type d'espaces.

Je lui fais confiance sur ce point. En revanche, si certains ajustements demandés vous semblent anecdotiques, n'hésitez pas à nous en faire part que je lui en reparle avant.

[2018-07-05 14:54] #93 closed, assigned to LaetitiaVerdier

[2018-07-05 14:59] LaetitiaVerdier commented on #79
Merci beaucoup

[2018-07-05 14:59] #79 closed, assigned to LaetitiaVerdier

[2018-07-05 15:03] LucDelmon commented on #76
C'est fait.

Pour le texte, oui mais ca sera directement dans les templates de liste.

Nicolas va ajouter la procédure au support de formation.

[2018-07-05 15:07] LaetitiaVerdier commented on #78
Très bien.

Je vous fais confiance.

Nous pouvons clôturer le ticket.

Merci

[2018-07-05 15:07] #78 closed, assigned to LaetitiaVerdier

[2018-07-05 15:09] LaetitiaVerdier commented on #76
Je vous remercie.

Je ne sais en effet pas comment y accéder.

[2018-07-05 15:09] #76 closed, assigned to nicolastrenti

[2018-07-05 15:11] LaetitiaVerdier commented on #72
Non je ne l'ai plus.

Tout est bon.

Merci

[2018-07-05 15:11] #72 closed, assigned to LaetitiaVerdier

[2018-07-05 15:13] LaetitiaVerdier commented on #91
Je vais regarder avec notre créa.

merci

[2018-07-05 15:22] LaetitiaVerdier opened #95 "Snippet Diaporama"
Bonjour,

Sur le snippet Diaporama, je ne trouve pas le zoning photo 1200 x 591 px, uniquement le zoning texte.

![image](https://user-images.githubusercontent.com/40030677/42332210-b5ded9fa-8077-11e8-9309-1141f5b11482.png)

Et dans la version mobile, il manque le slider ou les trois boutons des chiffres clés pour comprendre qu'il y a plusieurs photos qui se succèdent.

Merci

[2018-07-05 15:32] nicolastrenti commented on #87
Cette intégration n'est pas techniquement possible.

[2018-07-05 15:33] LaetitiaVerdier commented on #87
Est-il possible de proposer une autre présentation que les 3 les uns en-dessous des autres ?

![image](https://user-images.githubusercontent.com/40030677/42332898-8705ee5a-8079-11e8-9dbd-c411380e7281.png)

[2018-07-05 15:41] LaetitiaVerdier opened #96 "Version mobile / Snippet chiffre clé + texte"
Le snippet est très bien mais on ne voit pas le défilement s'il y a plusieurs chiffres à balayer

![image](https://user-images.githubusercontent.com/40030677/42333306-aa7ef75e-807a-11e8-847f-8c6ff6d7da5c.png)

[2018-07-05 15:49] LucDelmon commented on #95
Bonjour,

c'est corrigé pour les images.

Les fléches du Slider sont désactivés en mobile oui, c'est pour gagner de la place. C'est le mode autoplay qui montrent qu'il y en a plusieurs. Souhaitez vous les réactiver ?

[2018-07-05 15:54] LaetitiaVerdier commented on #95
c'est parfait.

Je ne souhaite pas le réactiver

Merci

[2018-07-05 15:54] #95 closed, assigned to LaetitiaVerdier

[2018-07-05 15:54] LaetitiaVerdier commented on #96
C'est en mode autoplay également ?

[2018-07-06 08:00] LucDelmon commented on #96
Oui, c'est peut-être moins visible car les 3 slides sont identiques.

[2018-07-06 08:01] LaetitiaVerdier commented on #96
Parfait merci

[2018-07-06 08:01] #96 closed, assigned to LaetitiaVerdier

[2018-07-06 12:51] LaetitiaVerdier commented on #90
La voici pour la home page et la page hub.

Comme nous avons conscience qu'il n'est pas possible de charger un double format pour chaque cas, que pouvez-vous nous proposer ?

![00070504_mobile_home_640x766px](https://user-images.githubusercontent.com/40030677/42379729-f5cc4c96-812b-11e8-8bba-9a0058481c81.jpg)

![00070650_mobile_hub_640x470px](https://user-images.githubusercontent.com/40030677/4237

[2018-07-06 13:00] LaetitiaVerdier commented on #77
Effectivement le résultat ne nous convient pas.

Au moment du chargement de l'image peut-on prévoir une fonction qui nous permette de recadrer l'image pour l'affichage mobile ?

Merci

[2018-07-09 09:02] LucDelmon commented on #90
Bonjour,

Il est possible de charger un double format par le code ( je l'ai fait sur la page d'acceuil).

Il faut que l'on définisse avec Nicolas comment vous permettre de définir cette 2éme image.

[2018-07-09 09:18] LaetitiaVerdier commented on #90
Merci Luc.

[2018-07-09 09:50] LucDelmon commented on #77
Bonjour,

Une autre solution que je vois serait d'indiquer 2 images dans le contenu. Une pour le desktop et une pour le mobile.

Cela vous conviendrait t'il?

[2018-07-09 10:26] LaetitiaVerdier commented on #77
Oui tout à fait

Merci

[2018-07-09 10:40] LucDelmon commented on #90
A quel page faites-vous reference lorsque vous évoquez la "page HUB" ?

[2018-07-09 11:28] LucDelmon commented on #77
J'ai rajouté un champ obligatoire imageMenuMobile dans les contenus.

A vous donc d'y indiquer une image dans un format qui vous convient.

J'ai mit une image au hasard sur les contenus existant pour qu'il ne se retrouve pas supprimés.

Ca régle donc le problème pour toutes les pages issues de contenus internes

[2018-07-09 12:12] LaetitiaVerdier commented on #77
Bonjour,

Merci.

C'est super.

[2018-07-09 12:12] #77 closed, assigned to LaetitiaVerdier

[2018-07-09 12:14] LaetitiaVerdier commented on #90
A celle-ci par exemple

https://ucpa-corpo.recette.ampize.me/le-sport-des-territoires

[2018-07-09 12:41] LucDelmon commented on #90
J'ai un solution. A faire valider par Nicolas mais qui fonctionne.

j'ai rajouté un bloc image sous le menu.
![image](https://user-images.githubusercontent.com/35261367/42450646-2dc2898e-8385-11e8-93ae-83871476fe60.png)

Il suffit d'indiquer dans ce bloc l'image que l'on souhaite pour l'affichage mobile ( A vous ensuite d'adapter le format et la position de l'image que vous choisissez).

Si vous s

[2018-07-09 12:47] LaetitiaVerdier commented on #90
Parfait.

A l'exception de la Home, des pages Hub et des pages Dispositifs solidaires, Projets de référence et offres de formation, liées à une page liste, je ne pense pas avoir ce besoin ailleurs.

Merci

[2018-07-09 12:52] LucDelmon commented on #87
Il me semble avoir vu au début du projet un visuel ou les deux premiers se retrouvaient cote à cote ( et le 3 éme n'était pas affiché en mobile). Avez-vous encore ce visuel quelque part ?

[2018-07-09 12:54] LucDelmon commented on #90
Je laisse ouvert car Nicolas doit valider,
 même si cela fonctionne ca ne reste pas très clair d'indiquer une image dans le bloc menu et l'autre dans un bloc image. Ca reste à améliorer.

Je vais rajouter le bloc sur les pages ques vous m'indiquez

[2018-07-09 12:56] LaetitiaVerdier commented on #90
Pour les contenus, vous avez déjà solutionné le problème en ajoutant l'image menu mobile dans les champs obligatoires

[2018-07-09 12:57] LucDelmon commented on #90
Oui la solution pour les contenus est satisfaisante

[2018-07-09 13:05] LucDelmon commented on #90
J'ai rajouté le bloc sur les pages "Le sport pour tous" "Le sport de Demain" et "Le groupe".

[2018-07-09 14:50] LucDelmon commented on #94
Bonjour,

J'avais déjà refait un passage pour égaliser les espaces autour des filets.

Ils sont a 32 px donc je les ai laissé. Pour 3 pixel ca me prendrait trop de temps.

Sinon j'ai bien mit un espace de 52 pixels aux endroits indiqués.

[2018-07-09 14:55] LaetitiaVerdier commented on #94
Merci Luc,

Je ne sais pas si nous avons (notre service créa et vous) les mêmes références quand nous parlons de pixels.

J'ai refait des tests ce matin et il y a toujours des problèmes d'espaces qui ne sont pas identiques / proportionnels au-dessus et en-dessous de chaque texte. Par exemple, voici le résultat sur les desktop.

Je ne comprends pas ce qui pose cette différence d'affichage car j'ai

[2018-07-09 15:26] LaetitiaVerdier commented on #91
Bonjour Luc,

Effectivement, cela ne correspond pas aux maquettes, je crains que nous n'ayons pas le même référentiel pour les pixels ce que je ne m'explique pas.

Voici ce que Françoise, notre créa, m'a renvoyée pour essayer de vous aider dans les ajustements.

[Desktop_Mobile_Footer_2018_07_09.pdf](https://github.com/ampize/ampize-ucpa-corpo-recette/files/2176862/Desktop_Mobile_Footer_2018_07_09

[2018-07-09 15:30] LucDelmon commented on #94
On ne pourra jamais être précis au pixel prés. La taille de la css est limité est on est obligé de généraliser pour ne pas dépasser et on ne peut pas faire de cas par cas.

Il y a plusieurs éléments qui aménent des différences.

Par exemple :
![image](https://user-images.githubusercontent.com/35261367/42459061-5db6c5ae-839b-11e8-835b-c3fdafc7cb03.png)

l'espace crée au dessus du filet est en vert.

[2018-07-09 15:42] LaetitiaVerdier commented on #94
Je le comprends très bien mais ce qui nous gêne le plus ce sont les espaces qui devraient être quasi identiques dans chaque snippet, nous sommes plutôt satisfaits des espacements texte.

En revanche, les blancs entre snippets nous posent problèmes (avant le titre ou le visuel, après les CTA, il y a de gros écarts entre chaque snippet...) :

![image](https://user-images.githubusercontent.com/400306

[2018-07-09 15:46] LaetitiaVerdier commented on #94
Il n'y a quasiment pas d'espace avant le titre dans le snippet vidéo
- un très gros espace avant la photo du snippet texte + photo droite + CTA,
- un gros espace après le CTA
- un bien plus petit après la photo du snippet photo gauche + texte + CTA + fond

Dans chaque module, le premier espace et le dernier devrait être identique.

[2018-07-09 15:48] LucDelmon commented on #91
Bonjour,

Votre rendu visuel surtout en mobile ne correspond pas aux espaces en pixel indiquées dans les maquettes.

Je pense que vous n'avez pas la bonne échelle pour vos maquettes mobiles.

Un téléphone à une résolution plus petites et donc des pixels plus gros (ce qui aggrandi les espaces).

Le footer que j'ai fait respecte scrupuleusement le fichier Mobile_Footer_2018_07_03.pdf que vous avez e

[2018-07-09 15:51] LucDelmon commented on #94
J'ai corrigé cela récemment? Avez-vous recharger les snippets récemment ? Car le code à changé.

[2018-07-09 15:52] LucDelmon commented on #94
Chaque snippets est entouré de 70 pixels en haut et en bas

[2018-07-09 15:53] LaetitiaVerdier commented on #94
J'ai refait un nouvel article ce matin même après avoir vidé le cache de mon poste.

C'est ce qui s'affiche chez moi. Je vous crois.

Savez-vous ce que je peux faire pour voir la dernière version à jour ?

[2018-07-09 15:55] LaetitiaVerdier commented on #91
Je vais prévenir notre service.

J'en suis sincèrement désolée.

Nous souhaitons effectivement être plus proche du rendu visuel des maquettes.

[2018-07-09 15:57] LucDelmon commented on #94
Vous devriez avoir la dernière version. Le problème vient peut être du fait que vous trouvez que 70pixels est trop grand. Pouvez-vous m'indiquez sur quel page vous avez fait ce test que je regarde ? Vos photos ce sont mélangées et j'ai du mal à comprendre le problème.

[2018-07-09 15:58] LaetitiaVerdier commented on #94
https://ucpa-corpo.recette.ampize.me/le-sport-des-territoires

[2018-07-09 15:58] LaetitiaVerdier commented on #94
Sur ma version, les écarts haut et bas ne sont pas proportionnels

[2018-07-09 15:59] LaetitiaVerdier commented on #91
J'espère que nous n'avons pas eu le même problème sur tous les autres retours mobiles.

[2018-07-09 16:01] LaetitiaVerdier commented on #90
Merci c'est parfait.

J'en ai aussi besoin sur Formations et Nous rejoindre

Merci

[2018-07-10 08:27] LucDelmon commented on #91
J'ai corrigé le visuel du footer

[2018-07-10 08:43] LaetitiaVerdier commented on #91
Merci Luc.

Encore navrée pour ce temps perdu.

[2018-07-10 09:13] LucDelmon commented on #90
Bonjour,

c'est fait

[2018-07-10 09:30] #90 closed, assigned to LucDelmon, LaetitiaVerdier

[2018-07-10 13:16] LaetitiaVerdier opened #97 "Home Page / contribution"
Bonjour,

J'ai besoin d'apprendre comment modifier l'ITW sur la Home, pouvez-vous le prévoir dans le guide ?

Merci

![image](https://user-images.githubusercontent.com/40030677/42512113-0875241e-8454-11e8-877b-c5354893550c.png)

[2018-07-10 13:28] LucDelmon commented on #94
Bonjour,

Lors de la contribution sur Froala des paragraphes sont ajoutés entre les snippets ( c'est ce qui permet de cliquer entre les snippets) Ils créent un espace un peu aléatoire. Je les ai désactivés  lorsque le site est publié ce qui devrait résoudre des problèmes d'espaces.

Ensuite il est vrai que sur certains modules il y avait un espace sous le CTA  puis un espace de 70 pixel de fin de

[2018-07-10 13:32] LaetitiaVerdier commented on #94
Merci Luc

[2018-07-10 13:32] LucDelmon commented on #94
Je me suis trompé l'espace entre les snippets est de 100 pixels ( comme vous demandez)

[2018-07-10 13:35] LaetitiaVerdier commented on #94
Oui c'est bien ça.

Par contre, il est de 70 pixels entre les titres, les paragraphes, les filets et les CTA.

Pour le mobile, comme nous n'avons pas le même référentiel, nous vous faisons confiance pour approcher au mieux le rendu des maquettes.

Merci encore.

Laëtitia.

[2018-07-10 13:36] LaetitiaVerdier commented on #87
Cette solution n'a pas été retenue car elle n'était pas réalisable en développement.

[2018-07-10 13:41] #92 closed, assigned to LaetitiaVerdier

[2018-07-10 13:43] LaetitiaVerdier commented on #91
Cela nous va bien.

Il y a juste un picto qui n’apparaît pas bien à la fin

![image](https://user-images.githubusercontent.com/40030677/42513634-b7de927a-8457-11e8-8721-ab0196bfe0ae.png)

[2018-07-10 13:47] LucDelmon commented on #94
Oui c'est bien le cas.

J'ai corrigé le snippet video également.

Pour le mobile:
 J'ai fait une grosse passe pour appliquer les espaces indiqués dans votre fichier de correction.

Si les espaces ne vous conviennent pas (trop grand) merci de me l'indiquer de manière précise ( espace entre les snippets, espace entre les titres et les images, espaces autour des CTAs).

Je préfère ca plutôt que de re

[2018-07-10 13:52] LaetitiaVerdier opened #98 "Version mobile / Snippet Hub chapeau + vidéo"
Dans le snippet hub chapeau, le CTA est trop collé à l'article

![image](https://user-images.githubusercontent.com/40030677/42514096-d9cdca62-8458-11e8-875e-da758d72248d.png)

Pour la vidéo, le filet n'est pas centré :
![image](https://user-images.githubusercontent.com/40030677/42514149-feb2d322-8458-11e8-9011-66c5152ea62f.png)

[2018-07-10 13:55] LucDelmon commented on #91
J'ai réduit les espaces

[2018-07-10 13:56] LucDelmon commented on #87
Qu'entendez-vous par la ?

[2018-07-10 13:59] LucDelmon commented on #98
Bonjour,
Pour le chapeau pour moi il n'y a pas de problèmes. C'est un changement que j'ai fait récemment. Vous êtes sur d'avoir rechargé le snippet ?

[2018-07-10 14:01] LaetitiaVerdier commented on #91
Merci

[2018-07-10 14:01] LaetitiaVerdier commented on #91
Comment puis-je ajouter le footer au contenu ?

Merci

[2018-07-10 14:03] LucDelmon commented on #91
Il sera possible de l'inclure sur toutes les pages automatiquement.

Mais ce feature n'est pas développé encore. Il arrive bientôt.

[2018-07-10 14:04] LaetitiaVerdier commented on #91
Parfait merci

[2018-07-10 14:04] #91 closed, assigned to LaetitiaVerdier

[2018-07-10 14:05] LaetitiaVerdier commented on #87
Il nous a été demandé de changer la mise en page par notre DSI.

J'étais en congés à cette période et n'en sais pas plus.

[2018-07-10 14:07] LaetitiaVerdier commented on #98
Sûre à 100% je viens de le refaire.

J'ai parfois des différences d'affichage avec vous que je ne m'explique pas.

[2018-07-10 14:07] LucDelmon commented on #98
J'ai corrigé la video

[2018-07-10 14:08] LucDelmon commented on #98
Sur quel page faites vous le test ?

[2018-07-10 14:11] LaetitiaVerdier opened #99 "Chevauchement / snippets"
Quand je mets le snippet "articles liés x 3 loisirs" et un autre snippet vidéo ou aller plus loin par exemple, ils se chevauchent

![image](https://user-images.githubusercontent.com/40030677/42515327-d25b98ba-845b-11e8-9752-6357f6a1315c.png)

[2018-07-10 14:12] LaetitiaVerdier commented on #98
La page le sport des territoires et mentions légales

[2018-07-10 14:12] LucDelmon commented on #98
La version sur le sport des territoire n'était pas la bonne, je viens de changer le snippet et j'ai le bon affichage désormais

[2018-07-10 14:13] LaetitiaVerdier commented on #98
j'avais la bonne version dans mentions légales il me semble

[2018-07-10 14:15] LaetitiaVerdier commented on #98
J'ai tout rechargé et vais vous faire un dernier retour global après avoir tout vérifié.

Merci

[2018-07-10 14:15] LucDelmon commented on #98
L'affichage est correcte pour moi, pensez à recharger l'outil

[2018-07-10 14:18] LucDelmon commented on #99
En effet; je vais essayer de corriger ca

[2018-07-10 14:23] LaetitiaVerdier opened #100 "Version desktop / snippet photo gauche + texte + 3 CTA"
Le filet de fin n'est pas à la bonne place

![fireshot capture 23 - mentions legales_ - https___ucpa-corpo recette ampize](https://user-images.githubusercontent.com/40030677/42516040-7515f270-845d-11e8-93e1-dedbaca5b8d0.png)

[2018-07-10 14:34] LaetitiaVerdier opened #101 "Version desktop / snippet articles liés x 3 sans fond et avec fond"
La colonne après le chevron rouge est plus large dans les 2 snippets articles liés x 3 sans fond et avec fond que dans l'article lié seul ou articles liés X 3 loisirs (l'espace entre le chevron et le texte est mieux proportionné dans ces deux derniers snippets).

![fireshot capture 24 - mentions legales_ - https___ucpa-corpo recette ampize](https://user-images.githubusercontent.com/40030677/425169

[2018-07-10 14:39] LaetitiaVerdier opened #102 "Version desktop / photo gauche + texte"
Les espaces paragraphe demeurent trop grands avant les deux intertitres

![image](https://user-images.githubusercontent.com/40030677/42517354-cd4f9ade-845f-11e8-8c87-933bbe9fbf13.png)

[2018-07-10 14:43] LaetitiaVerdier opened #103 "Version desktop / snippet partenaires dispositifs solidaires"
Nous avons besoin de rapprocher le nom du partenaire de son logo et de mettre un espace entre chaque partenaire

![image](https://user-images.githubusercontent.com/40030677/42517538-378282ae-8460-11e8-8572-47400491ef29.png)

[2018-07-10 14:45] LaetitiaVerdier commented on #98
Nous avons tout rechargé pour la dernière vérification en cours

[2018-07-10 14:45] #98 closed, assigned to LaetitiaVerdier

[2018-07-10 14:58] LaetitiaVerdier opened #104 "Version mobile / snippet articles liés x 3"
Nous avons besoin :
- d'un espace entre la photo et le titre de l'article en noir (ex: Séjours dans l'exemple ci-dessous)
- et un espace entre la photo et le filet rouge quand l'article est sélectionné (ex : Politique ESS ci-dessous)

![sans titre](https://user-images.githubusercontent.com/40030677/42518374-fe7e7164-8461-11e8-9632-c9e328bf752d.png)

[2018-07-10 15:00] LaetitiaVerdier opened #105 "Version mobile / snippet article lié"
La taille de la photo ne convient pas, elle est trop petite

![image](https://user-images.githubusercontent.com/40030677/42518676-b61d8648-8462-11e8-9316-9b657e8fd868.png)

[2018-07-10 15:04] LaetitiaVerdier opened #106 "Version mobile / snippet articles liés loisirs x 3"
L'espace entre le filets et l'article sélectionné en rouge doit être réduit et inférieur aux espaces prévus entre les 3 articles

![sans titre2](https://user-images.githubusercontent.com/40030677/42518838-0d5b6f42-8463-11e8-8b81-ea2372b5ff01.png)

[2018-07-10 15:07] LaetitiaVerdier opened #107 "Version mobile / snippet dispositifs solidaires publics"
L'espace en bas du bloc gris est trop grand.

![image](https://user-images.githubusercontent.com/40030677/42519174-b4d0fb84-8463-11e8-8310-0a4898bc95ef.png)

[2018-07-10 15:09] LaetitiaVerdier opened #108 "Version mobile / snippet fiche d'identité loisirs"
La dernière phrase ne doit pas être collée au bloc fiche d'identité.

![image](https://user-images.githubusercontent.com/40030677/42519275-f01ca378-8463-11e8-9e70-37b9ed8b6919.png)

[2018-07-10 15:10] LaetitiaVerdier opened #109 "Version mobile / snippet témoignage"
Le nom et la fonction du témoin est trop gros

![image](https://user-images.githubusercontent.com/40030677/42519345-24859f48-8464-11e8-99ff-653bd90ec369.png)

[2018-07-10 15:14] LaetitiaVerdier opened #110 "Version mobile / snippet chiffres clés + texte"
Le snippet chiffres clés + texte doit être calé sur le même modèle que 3 chiffres clés qui parfait.

Il manque :
- un espace en haut du bloc
- l'espace en bas du bloc est trop grand
- la taille du cercle + picto est trop grand
- plus d'espace avant le sous-titre "A savoir"

![image](https://user-images.githubusercontent.com/40030677/42519475-6e841a20-8464-11e8-87d4-df9d97ff6c11.png)

[2018-07-10 15:17] LaetitiaVerdier opened #111 "Version mobile / Snippet Aller plus loin"
Merci de mettre les deux CTA
- à la même taille que les autres CTA en version mobile
- les deux l'un en dessous de l'autre centrés
- Allez doit être remplacé par Aller dans le titre

![image](https://user-images.githubusercontent.com/40030677/42519827-2b02c886-8465-11e8-916b-c399bde6e57a.png)

[2018-07-10 15:23] LaetitiaVerdier opened #112 "Version desktop / snippet vidéo"
Il manque un espace en bas sous le texte

![image](https://user-images.githubusercontent.com/40030677/42520143-d722d336-8465-11e8-962a-439c376c86db.png)

[2018-07-10 15:24] LaetitiaVerdier commented on #94
Luc,

Nous avons tout regardé et finalisé tous nos retours sous forme de tickets.

Merci pour tout

[2018-07-10 15:25] #94 closed, assigned to LaetitiaVerdier

[2018-07-11 07:38] LucDelmon commented on #105
Bonjour, vous avez surement chargé le snippet alors que j'étais en train d'essayer de corriger la #99

[2018-07-11 08:10] LucDelmon commented on #99
Bonjour,

Le problème vient du snippet articles liés*3 loisirs.

Il est bien plus difficile à régler qu'il n'y parait.

Pensez-vous que l'on pourrait définir un format de photo unique (rapport largeur hauteur) pour ce snippet ?

[2018-07-11 08:13] LaetitiaVerdier commented on #99
Bien sûr Luc,

Il s'agit du format 2544 x 702 px

Merci

[2018-07-11 08:20] LucDelmon commented on #101
Bonjour, c'est corrigé

[2018-07-11 08:21] LaetitiaVerdier commented on #101
Merci

[2018-07-11 08:21] #101 closed, assigned to LucDelmon

[2018-07-11 08:28] LucDelmon commented on #100
Bonjour, c'est corrigé

[2018-07-11 08:29] #100 closed, assigned to LucDelmon

[2018-07-11 08:31] LucDelmon commented on #102
Bonjour, vous parlez de l'espace entre les 2 paragraphes uniquement ?

[2018-07-11 08:35] LucDelmon commented on #102
Si c'est le cas, c'est corrigé

[2018-07-11 08:38] LaetitiaVerdier commented on #102
Avant le texte réussir le pari
et avant le texte y arriver

Merci

[2018-07-11 08:38] LucDelmon commented on #103
Bonjour,

c'est résolu

[2018-07-11 08:40] #103 closed, assigned to nobody

[2018-07-11 08:43] LucDelmon commented on #102
c'est fait

[2018-07-11 08:43] #102 closed, assigned to LaetitiaVerdier

[2018-07-11 08:59] LucDelmon commented on #104
c'est fait, j'ai aussi rajouté un espace après le paragraphe car on ne distinguais plus clairement la correspondance entre photo et paragraphes

[2018-07-11 09:00] LaetitiaVerdier commented on #104
Merci beaucoup

[2018-07-11 09:00] #104 closed, assigned to LaetitiaVerdier

[2018-07-11 09:07] LucDelmon commented on #105
Vous souhaiteriez qu'elle prenne toute la largeur mais quel garde la même taille en desktop ?

[2018-07-11 09:14] LucDelmon commented on #107
c'est corrigé

[2018-07-11 09:14] #107 closed, assigned to LaetitiaVerdier

[2018-07-11 09:18] LaetitiaVerdier commented on #105
Voici le résultat que nous souhaitons sur mobile.

Effectivement, nous ne voulons pas modifier le desktop.

![image](https://user-images.githubusercontent.com/40030677/42562484-2003ce3e-84fc-11e8-8f90-ea46adb9fce1.png)

[2018-07-11 09:26] LucDelmon commented on #108
C'est corrigé

[2018-07-11 09:29] LucDelmon commented on #109
C'est corrigé

[2018-07-11 09:31] #109 closed, assigned to LaetitiaVerdier

[2018-07-11 09:45] LucDelmon commented on #110
c'est fait

[2018-07-11 09:50] #110 closed, assigned to nobody

[2018-07-11 09:55] LucDelmon commented on #105
La hauteur de l'image est lié au format de l'image que vous choissisez.

L'image prend automatiquement tout la largeur possible. La hauteur se déduit automatiquement.

La différence entre ce que vous demandez est ce qui est présent est juste le choix de l'image.

[2018-07-11 09:56] LaetitiaVerdier commented on #105
C'est bien noté alors cependant dans ma capture initiale la photo ne prend par toute la largeur

[2018-07-11 10:26] LucDelmon commented on #105
Non, mais ce n'est pas le cas dans la 2 éme capture non plus

[2018-07-11 10:30] LaetitiaVerdier commented on #105
Effectivement mais il semble bien plus large en aperçu du moins

[2018-07-11 10:31] LucDelmon commented on #105
Oui j'ai diminué les marges par deux

[2018-07-11 10:31] LaetitiaVerdier opened #113 "Snippet Aller plus loin avec l’UCPA + CTA Nous contacter"
Bonjour,

Pour le CTA Nous contacter du snippet Aller plus loin, nous allons renvoyer sur le formulaire de contacts global.

Est-il possible de mettre le lien par défaut automatiquement pour que les contributeurs n'aient pas à faire de manipulations ?

Merci

[2018-07-11 10:32] LaetitiaVerdier commented on #105
d'accord,

je vais faire un essai avec un autre format de photo

Merci

[2018-07-11 11:03] LucDelmon commented on #111
C'est fait.

A noter que c'est vous qui m'aviez demandé de mettre les CTAs sur une ligne dans la #84

[2018-07-11 11:10] LucDelmon commented on #112
C'est fait

[2018-07-11 11:18] LucDelmon commented on #113
C'est fait

[2018-07-11 11:31] LucDelmon commented on #106
c'est fait

[2018-07-11 11:42] nicolastrenti commented on #97
Bonjour Laetitia,
J'ai ajouté une slide au support de formation pour préciser ce point (slide 37).

[2018-07-11 11:49] nicolastrenti commented on #38
Après vérification, l'usage veut que les copyrights soient soit indiqué sous chaque image (dans une balise <small>), mais cela surcharge la mise en page, soit dans le footer, soit au sein d'une page Crédits. Je pense que c'est effectivement la meilleure solution dans notre cas.

[2018-07-11 11:53] nicolastrenti commented on #58
Laetitia, l'éditeur d'images intégrés ne permet malheureusement pas à l'heure actuelle de gérer des images de tailles aussi conséquentes.
Tu m'avais dit, je crois, que votre studio vous avait prévu toutes les images aux bonnes dimensions directement ? Cela résout-il le problème, du coup ?

[2018-07-11 11:56] LaetitiaVerdier commented on #58
Oui j'ai fait cropper tous les headers

[2018-07-11 11:57] LaetitiaVerdier commented on #38
Top je vais donc faire une page crédits

[2018-07-11 11:57] #38 closed, assigned to LaetitiaVerdier

[2018-07-11 12:12] #58 closed, assigned to LaetitiaVerdier

[2018-07-11 12:13] LaetitiaVerdier commented on #97
Merci Nicolas

[2018-07-11 12:13] #97 closed, assigned to LaetitiaVerdier

[2018-07-11 12:18] LaetitiaVerdier commented on #113
Merci Luc

Peut-on faire pareil pour renvoyer sur la page liste des projets de référence loisirs dans le CTA "Tous les projets de référence" du snippet articles liés loisirs x3 ?

Merci encore

[2018-07-11 12:20] #112 closed, assigned to LaetitiaVerdier

[2018-07-11 12:23] LaetitiaVerdier commented on #111
Ce n'est pas ce que j'avais demandé, je faisais référence au texte "Toutes nos implantations" et non pas au CTA mais je conçois la méprise à la relecture de mon écrit : "les call-to-action ne doivent pas passer sur 2 lignes, peut-être doit-on revoir la taille du corps de texte"

Ça n'était pas très clair effectivement

[2018-07-11 12:23] #111 closed, assigned to LaetitiaVerdier

[2018-07-11 12:32] LucDelmon commented on #99
C'est fait.

Attention à bien respecter le format sinon le phénoméne de dépassement reviendra

[2018-07-11 12:33] LaetitiaVerdier commented on #99
C'est noté merci

[2018-07-11 12:33] #99 closed, assigned to LaetitiaVerdier

[2018-07-11 12:36] LucDelmon commented on #113
c'est fait

[2018-07-11 12:39] LaetitiaVerdier commented on #113
merci Luc

[2018-07-11 12:39] #113 closed, assigned to LaetitiaVerdier

[2018-07-11 13:01] LaetitiaVerdier opened #114 "Images sources du site / question"
Le pôle créa me demande si les images sources du site type trame des photos, enveloppe pour les e-mails et logos des réseaux sociaux ont bien été importées à 200% en vectoriel.

Il semblerait que les images soient un peu floues.

Merci

[2018-07-11 13:02] LaetitiaVerdier opened #115 "Animation de tous les snippets articles liés"
Est-il possible d'accélérer l'animation des snippets articles liés pour que cela soit comme l'animation du menu ?

Merci

[2018-07-11 13:24] LaetitiaVerdier opened #116 "Critères de tri des pages listes / paramétrage"
Voici les critères de tri souhaités pour les pages liste :

Actualités : critère par date - les plus récents en premier
Offres de formation : critère par ordre alphabétique de la formation
Dispositifs solidaires : critère par ordre alphabétique du nom du dispositif
Projets de référence : critère par régions - respecter l'ordre alphabétique

Merci

[2018-07-11 14:09] LucDelmon commented on #69
Bonjour, c'est fait sur tout les détails

[2018-07-11 14:09] LaetitiaVerdier commented on #69
Merci

[2018-07-11 14:09] #69 closed, assigned to LaetitiaVerdier

[2018-07-11 14:13] LucDelmon commented on #115
L'animation du menu est  faites d'une manière totalement différente mais il est possible d'accélérer  la vitesse d'animation.

Actuellement les images apparaissent en 1.5 sec et les traits se déplacent en 0.8 sec.

Quelles vitesses voulez-vous ?

[2018-07-11 14:23] LaetitiaVerdier commented on #115
Pour les images, 0,8 sec et pour les traits 0,4 sec.

[2018-07-11 14:32] LucDelmon commented on #116
Bonjour,

c'est fait

[2018-07-11 14:38] LucDelmon commented on #115
c'est fait

[2018-07-11 14:39] LaetitiaVerdier commented on #116
Merci

[2018-07-11 14:39] #116 closed, assigned to LaetitiaVerdier

[2018-07-11 14:42] #115 closed, assigned to LaetitiaVerdier

[2018-07-11 14:50] LaetitiaVerdier commented on #105
Bonjour Luc,

Je vous confirme que le format de la photo souhaité correspond au visuel de la petite fille qui court (cf. ci-dessous), pouvez-vous remplacer le visuel du snippet. Ainsi nous serons bien à un format 1200 x 591 px

![image](https://user-images.githubusercontent.com/40030677/42580185-4899bb3c-852a-11e8-93c2-d3304733d85d.png)

![image](https://user-images.githubusercontent.com/40030677/

[2018-07-11 15:41] nicolastrenti commented on #87
Laetitia,
Sur ce point je suis un peu embêté. Effectivement, on avait conclu avec Hugues qu'on souhaitait dans tous les cas rester sur le même nombre d'éléments, en desktop et en mobile.
Le carrousel en mobile uniquement n'est pas possible techniquement non plus.
Du coup je ne vois pas d'autre présentation que je pourrais te proposer...

[2018-07-11 15:43] LaetitiaVerdier commented on #87
On reste sur cette présentation si nous n'avons pas d'autres options.

Merci d'avoir regardé.

[2018-07-11 15:43] #87 closed, assigned to nicolastrenti, LaetitiaVerdier

[2018-07-11 15:50] LucDelmon commented on #105
c'est fait

[2018-07-11 15:54] LaetitiaVerdier commented on #105
Merci

[2018-07-11 15:54] #105 closed, assigned to LaetitiaVerdier

[2018-07-12 08:05] LaetitiaVerdier opened #117 "Version desktop / Snippet fiche d'identité loisirs"
Bonjour,

J'ai rechargé les snippets hier soir et créer un nouvel article :
https://ucpa-corpo.recette.ampize.me/le-sport-des-territoires/projets-de-reference/projet-de-reference/aren-ice

Dans le snippet fiche d'identité, il y a une différence d'espaces entre les paragraphes, le dernier étant trop grand.

De plus, les espaces avant le bloc et à la fin de l'article ne sont pas du tout identiques l

[2018-07-12 08:16] LaetitiaVerdier commented on #108
Je viens de regarder sur le mobile l'article Aren'Ice et le bloc est toujours collé à la dernière phrase.

[2018-07-12 08:18] LaetitiaVerdier commented on #117
Le problème d'espaces avant le bloc et à la fin de l'article qui ne sont pas du tout identiques l'un par rapport à l'autre est également visible sur la version mobile

[2018-07-12 08:21] LucDelmon commented on #117
Bonjour, il n'y a pas de différence d'espace pour le dernier paragraphes.  C'est juste que le dernier espace est un espace entre 2 paragraphes et celui d'avant un espace entre un Titre ( en gras) et un paragraphe.

[2018-07-12 08:21] LaetitiaVerdier commented on #117
On a des espaces trop grands sur la version mobile de tous les snippets Texte + photo gauche ou droite ou avec CTA.

[2018-07-12 08:28] LaetitiaVerdier commented on #117
Dans ce snippet, il s'agit uniquement d'une mise en avant en capitale et non d'un titre, l'écart doit donc être le même que pour du texte courant

![image](https://user-images.githubusercontent.com/40030677/42621476-32b23e9a-85be-11e8-8db4-66d4115a2bfe.png)

[2018-07-12 08:34] LucDelmon commented on #117
c'est bon pour l'espacement autour de ce texte

[2018-07-12 08:35] LaetitiaVerdier commented on #106
Le résultat de ce snippet en version mobile n'est pas celui souhaité.

L'espace entre le filet et Valdeblore (et les 2 autres titres) est trop important et doit être réduit  et l'espace entre le filet suivant et le mot "génération" doit être augmenté ce qui permet à la lecture de bien séparer nos 3 articles liés.

De même, l'espace blanc en version mobile au-dessus du titre "Articles liés" est tro

[2018-07-12 08:37] LaetitiaVerdier opened #118 "Version mobile / problème espaces"
On a des espaces trop grands avant le titre type "activités aquatiques" ou "la glisse pour tous" (dans le nouvel article Aren'Ice) et à la fin après la dernière ligne du texte sur la version mobile de tous les snippets Texte + photo gauche ou droite ou avec CTA.

[2018-07-12 08:42] LucDelmon commented on #117
J'ai fais une correction qui supprime des espaces en trop qui arrivent après les snippets.

C'est directement visible. Le problème est-il corrigé ?

[2018-07-12 08:42] LaetitiaVerdier commented on #118
Quelques screenshots illustratifs

![screenshot_2018-07-12-10-18-58_resized](https://user-images.githubusercontent.com/40030677/42622225-3102ab14-85c0-11e8-8cd7-da9aea250d24.png)

![screenshot_2018-07-12-10-20-24_resized](https://user-images.githubusercontent.com/40030677/42622231-333ab28c-85c0-11e8-93f4-51138858b547.png)

![screenshot_2018-07-12-10-20-35_resized](https://user-images.githubusercon

[2018-07-12 08:44] LucDelmon commented on #108
Bonjour, de quel phrase parlez-vous ? celle juste avant le bloc ?

[2018-07-12 08:44] LaetitiaVerdier commented on #106
Le résultat de ce snippet en version mobile n'est pas celui souhaité.

L'espace entre le filet et Valdeblore (et les 2 autres titres) est trop important et doit être réduit et l'espace entre le filet suivant et le mot "génération" doit être augmenté ce qui permet à la lecture de bien séparer nos 3 articles liés.

De même, l'espace blanc en version mobile au-dessus du titre "Articles liés" est trop

[2018-07-12 08:46] LucDelmon commented on #118
Je viens de faire un correctif qui supprime des  paragraphes entre les snippets.

Le problème est-il tj présent ?

[2018-07-12 08:49] LaetitiaVerdier commented on #117
Pour le snippet fiche d'identité les espaces entre les différents paragraphes sont maintenant égaux, par contre trop grands. Pourquoi ?

[2018-07-12 08:52] LucDelmon commented on #117
Ce sont les mêmes qu'avant

[2018-07-12 08:54] LucDelmon commented on #117
A part la partie en Gras qui est devenu un paragraphe et qui récupére les mêmes espace que les autres

[2018-07-12 08:56] LaetitiaVerdier commented on #118
Non c'est beaucoup mieux.

L'espace entre le filet et le titre de la vidéo du snippet vidéo est trop petit sur le mobile.

[2018-07-12 09:02] LaetitiaVerdier commented on #117
Merci on reste comme ça

[2018-07-12 09:02] #117 closed, assigned to LaetitiaVerdier

[2018-07-12 09:03] LaetitiaVerdier commented on #108
OUi tout à fait : 70000 spectateurs

[2018-07-12 09:25] LucDelmon commented on #118
J'ai aggrandi l'espace.

[2018-07-12 09:29] LucDelmon commented on #108
c'est fait

[2018-07-12 09:37] LucDelmon commented on #106
c'est corrigé,

l'espace au dessus est de 66 pixel comme demandé. ( C'est pareil dans tout les autres snippets en mobile)

[2018-07-12 09:43] LaetitiaVerdier commented on #106
Merci

[2018-07-12 10:03] #108 closed, assigned to LaetitiaVerdier

[2018-07-12 10:11] #118 closed, assigned to LaetitiaVerdier

[2018-07-12 10:22] LaetitiaVerdier commented on #106
<img width="787" alt="capture d ecran 2018-07-12 a 12 19 50" src="https://user-images.githubusercontent.com/40030677/42627751-38c77f9c-85ce-11e8-993b-d7310d09a7d8.png">

[2018-07-12 10:48] LucDelmon commented on #106
c'esta fait, il faut juste recharger le snippet

[2018-07-12 12:33] LaetitiaVerdier opened #119 "Chevauchement snippet vidéo et snippet suivant"
Bonjour,

J'ai essayé de changer le snippet vidéo dans l'article Aren'ice, cela produit un chevauchement d'images.

![image](https://user-images.githubusercontent.com/40030677/42633332-7c9593f0-85e0-11e8-8377-2de89a5771c6.png)

[2018-07-12 12:40] LaetitiaVerdier commented on #106
C''est super.

merci

[2018-07-12 12:40] #106 closed, assigned to LaetitiaVerdier

[2018-07-12 13:52] LaetitiaVerdier opened #120 "Animations / modules"
Bonjour Nicolas, Luc,

Françoise me dit qu'il était question de prévoir les animations suivantes dans les modules photo + texte :
![ucpa_modules_articles_animation 1](https://user-images.githubusercontent.com/40030677/42637381-4f6341d8-85eb-11e8-899f-00ec92c15513.jpg)

Cela vous dit-il quelques chose ?

Merci.

Laëtitia.

[2018-07-12 14:03] nicolastrenti commented on #120
Oui, mais comme je l'ai précisé dans mon point d'avancement du 06/07, ça n'est pas possible techniquement :

"concernant les animations au scroll (coloration progressive des trames, etc...), nous avons exploré différentes pistes possibles et nous ne sommes pas en mesure techniquement de répondre à ce besoin : l'animation de ce type, calquée sur le scroll, n'est pas possible en CSS pure, et les con

[2018-07-12 14:05] LucDelmon opened #121 "Page Hub texte cliquable + photo gauche + fond + PJ"
Le snippet Page Hub texte cliquable + photo gauche + fond + PJ  a été créé.

J'attends vos retours.

[2018-07-12 14:09] LaetitiaVerdier commented on #120
Je le lui avais transmis mais Françoise espérait qu'il s'agissait d'autre chose. Merci Nicolas

[2018-07-12 14:09] #120 closed, assigned to LaetitiaVerdier

[2018-07-12 14:22] LucDelmon commented on #119
c'est corrigé

[2018-07-12 14:23] LaetitiaVerdier opened #122 "Snippet / A propos"
Le picto est déformé dans mon article ARPE

![image](https://user-images.githubusercontent.com/40030677/42639238-d1e9a666-85ef-11e8-94d4-2f119dcab2bc.png)

[2018-07-12 14:26] LaetitiaVerdier commented on #121
Il est bon pour nous à l'exception du visuel du rapport annuel que nous avons besoin d'aligner sur le T de Télécharger

![image](https://user-images.githubusercontent.com/40030677/42639335-128841f0-85f0-11e8-9240-f629698dc3ce.png)

Merci

[2018-07-12 14:30] LucDelmon commented on #122
C'est corrigé mais il faut recharger le snippet

[2018-07-12 14:33] LucDelmon commented on #121
c'est bon

[2018-07-12 14:35] nicolastrenti opened #123 "Bandeau alerte"
Laetitia,

Le bandeau alerte a été intégré, tu peux le voir sur la page d'accueil actuellement.

J'ai ajouté au support de formation les indications nécessaires pour savoir comment le paramétrer (slide 38).

OK pour toi ?

[2018-07-12 14:35] LaetitiaVerdier commented on #121
merci

[2018-07-12 14:35] #121 closed, assigned to LaetitiaVerdier

[2018-07-12 14:35] LaetitiaVerdier commented on #122
Merci

[2018-07-12 14:35] #122 closed, assigned to LaetitiaVerdier

[2018-07-12 14:38] LaetitiaVerdier opened #124 "Alignement / page liste"
Bonjour,

Merci d'aligner la photo sur le texte et le filet rouge dans les listes dispositifs solidaires et formations comme c'est la cas sur la page liste projets de référence

![image](https://user-images.githubusercontent.com/40030677/42640123-e49aeba6-85f1-11e8-81df-a531c47ac893.png)

[2018-07-12 14:40] LaetitiaVerdier commented on #119
Cela se chevauche toujours dans mon article Aren'ice où j'essaie de l'intégrer avant le bloc photo gauche + texte.

[2018-07-12 14:41] nicolastrenti opened #125 "Cartographie"
Laetitia,

Nous avons terminé la cartographie :
https://ucpa-corpo.recette.ampize.me/le-sport-des-territoires/toutes-nos-implantations

Comme indiqué précédemment, elle se base sur le type de contenu "Implantations" (j'ai effectué le renommage que tu m'avais demandé).

Le chapeau que nous avons mis au dessus de la carte peut bien sûr être modifié.

Qu'en penses-tu ?

[2018-07-12 14:43] LucDelmon commented on #119
Il faut recharger la page ( faire un refresh navigateur) pour recharger la css

[2018-07-12 14:49] LucDelmon opened #126 "Page Hub texte cliquable + photo droite"
Le snippet Page Hub texte cliquable + photo droite est fait

[2018-07-12 14:54] LucDelmon commented on #124
c'est fait

[2018-07-12 15:00] LaetitiaVerdier commented on #119
Je l'ai déjà fait mais je recommence.

[2018-07-12 15:01] LucDelmon commented on #119
Je parle vraiment de recharger tout le logiciel avec un F5.

[2018-07-12 16:14] LaetitiaVerdier opened #127 "Snippet chiffre clé + texte"
Bonjour

Est-il possible de ne pas conserver le slider quand on a un seul chiffre clé + texte au lieu de 3

![image](https://user-images.githubusercontent.com/40030677/42645806-48b61888-85ff-11e8-9a7d-4e1804f947c8.png)

[2018-07-12 16:15] #124 closed, assigned to LaetitiaVerdier

[2018-07-13 08:38] LucDelmon commented on #127
Non,

 par contre il est possible de faire un snippet qui ne contient  qu'un chiffre clé et pas de slider

[2018-07-13 08:41] LaetitiaVerdier commented on #127
Bonjour,

Je suis désolée. Effectivement, il est nécessaire d'avoir l'option.

Le snippet peut-il s'appeler "Chiffre clé + texte x 1" et l'autre "Chiffres clés + texte x 3" ?

Est-il possible de faire apparaître les snippets par ordre alphabétique en attendant d'avoir une preview de chaque snippet ?

C'est plus facile pour les contributeurs.

Merci

[2018-07-13 08:43] LucDelmon commented on #127
Bonjour, l'ordre alphabétique a été mis en place hier

[2018-07-13 08:46] LucDelmon commented on #127
c'est bon pour les 2 snippets

[2018-07-13 08:53] LaetitiaVerdier commented on #127
Merci Luc

[2018-07-13 09:04] #127 closed, assigned to LaetitiaVerdier

[2018-07-13 10:41] LaetitiaVerdier commented on #123
Bonjour Nicolas,

Le bandeau me convient et le tuto est clair.

Peut-on avoir une option pour l'afficher sur toutes les pages si besoin exceptionnel ?

Merci

[2018-07-13 10:41] LaetitiaVerdier commented on #119
Tout est bon.

Merci

[2018-07-13 10:41] #119 closed, assigned to LaetitiaVerdier

[2018-07-13 10:45] LaetitiaVerdier opened #128 "Snippet / partenaires"
Bonjour,

Peut-on mettre le filet rouge du snippet du dispositif partenaires au même niveau que celui du snippet "photo gauche + texte" ?

![image](https://user-images.githubusercontent.com/40030677/42687881-8f25ecd0-869a-11e8-8a7d-c507e4396280.png)

Merci

[2018-07-13 10:53] LaetitiaVerdier opened #129 "Fonction / menu header"
Quand on est sur le site recette, sur un article de fond comme ARPE en pièce jointe et que l'on veut sélectionner des éléments du sous-menu type "Mission d'accessibilité", on ne peut pas.

![menu-header](https://user-images.githubusercontent.com/40030677/42688170-8be53200-869b-11e8-8da1-0033f88f1d4a.png)

Peut-on résoudre cela ?

Merci

[2018-07-13 11:01] LaetitiaVerdier commented on #125
C'est très chouette.

Nous avons deux / trois ajustements à la marge que je t'envoie dans l'après-midi.

Pour le référencement, est-il intéressant d'avoir le nom des collectivités partenaires sous la carte ? (cf. pièce jointe)

![image](https://user-images.githubusercontent.com/40030677/42688532-dac63030-869c-11e8-84a8-4a5b48265dbd.png)

[2018-07-13 11:13] LucDelmon commented on #128
c'est fait

[2018-07-13 11:31] LucDelmon commented on #129
c'est fait

[2018-07-13 11:51] LaetitiaVerdier commented on #129
Merci

[2018-07-13 11:51] #128 closed, assigned to LaetitiaVerdier

[2018-07-13 12:35] LaetitiaVerdier opened #130 "Chevauchement snippet - footer / projet de référence Aren'ice"
Bonjour,

Le snippet articles liés loisirs x3 chevauche le footer au niveau du visuel sur mon article publié.

https://ucpa-corpo.recette.ampize.me/le-sport-des-territoires/projets-de-reference/projet-de-reference/aren-ice

![image](https://user-images.githubusercontent.com/40030677/42691832-d936a274-86a9-11e8-9f30-92d7c8279a15.png)

[2018-07-13 13:39] LucDelmon commented on #130
Effectivement, le problème était encore présent sur les très grands écrans.

c'est corrigé

[2018-07-13 13:45] LaetitiaVerdier commented on #130
merci

[2018-07-13 13:45] #130 closed, assigned to LaetitiaVerdier

[2018-07-13 13:51] LaetitiaVerdier opened #131 "Desktop/page contacts alignement"
Dans le formulaire de contacts, le menu déroulant et les contacts doivent être alignés sur le chevron, actuellement c'est beaucoup trop large et il manque un espace entre le contact et le footer

![image](https://user-images.githubusercontent.com/40030677/42694904-226cb88e-86b4-11e8-8317-b24eea34ed41.png)

Merci

[2018-07-13 14:05] LaetitiaVerdier commented on #125
Voici la modification que nous souhaiterions pour l'affichage sur la cartographie.

Format photo souhaité : Largeur = 295px / Hauteur = 130px.

**Titre CAP** : DIN OT Bold 15px - color #0f1f28
**Typologie d'équipement** (Complexe aquatique) : DIN OT Regular 10px - color #a5a8aa (ou couleur grise de référence des maquettes de Françoise)
**URL** minuscules : DIN OT Regular 10px - color #a5a8aa (ou c

[2018-07-13 15:09] LucDelmon commented on #131
Bonjour,

c'est fait

[2018-07-13 15:13] #131 closed, assigned to nobody

[2018-07-13 15:16] LaetitiaVerdier commented on #125
Nicolas,

J'ai un changement sur le point de la photo. L'ajout d'une photo n'est pas indispensable car nous ne pouvons pas en avoir une sur mobile, je n'y avais pas pensé.

Peux-tu au lieu de mettre l'URL apparent, mettre le texte : Accéder au site qui renvoi sur l'URL

Je pense qu'avoir une liste des espaces sous la cartographie peut nous aider en référencement naturel.

Merci encore.

Laëtitia.

[2018-07-13 15:18] LucDelmon commented on #125
On ne met donc pas de photo ?

[2018-07-13 15:20] LaetitiaVerdier commented on #125
On peut laisser une option mais que cela soit non-obligatoire ?

[2018-07-13 15:21] LucDelmon commented on #125
c'est déjà le cas, vous remarquerez qu'il y  a des points sur la carte sans photo

[2018-07-13 15:25] LaetitiaVerdier commented on #125
Oui tout à fait.

Mon erreur était de vouloir le rendre obligatoire dans mon mail de 16h05.

[2018-07-13 15:26] LucDelmon commented on #125
Ok et on garde l'affichage en mobile avec les même dimensions ?

[2018-07-13 15:39] LaetitiaVerdier commented on #125
J'imagine qu'il faut revoir les proportions typo pour le mobile.

Je ne me rends pas compte du résultat, je trouve votre proposition plutôt lisible sur le mobile.

Par contre, comme il n'y a pas de photo nécessairement, je veux bien remettre le texte : "Accéder au site" à la ligne.

Est-ce possible d'avoir une option : "Lire l'article" avec un lien vers l'article fiche projet pour les 15 projets d

[2018-07-13 15:41] LucDelmon commented on #125
Les typo que vous demandez sont celles qui sont actuellement sur mobile.

Je pense que sur desktop il faut voir plus grand. 15px c'est petit en Desktop pour un titre

[2018-07-13 15:44] LaetitiaVerdier commented on #125
Tu as mon entière confiance à ce sujet car depuis le début les tailles sur mobile fournies par le studio ne vont pas.

Merci encore

Je viens de voir qu'il est possible de cliquer sur le nom de l'équipement pour accéder à l'article.

Ca me va, peut-on le passer en orange quand un article est lié ?

merci

[2018-07-16 11:52] LucDelmon commented on #125
Je ne crois pas que l'on ai déjà utilisé du Orange sur le site.

Quel serait le code couleur ?

[2018-07-16 11:54] LaetitiaVerdier commented on #125
La couleur est rouge orangée comme celle que vous avez sur les liens cliquables ou les articles liés.

[2018-07-16 12:01] LaetitiaVerdier commented on #126
Bonjour Luc,

J'ai essayé de changer les titres en éditant le lien des zones de texte cliquables mais n'y suis pas parvenue.

Idem pour l'autre snippet avec PJ (rapport annuel)

Merci

[2018-07-16 12:03] LaetitiaVerdier opened #132 "Picto / snippet Page hub chiffres clés"
Bonjour,

Pouvez-vous centrer dans la hauteur le picto du troisième chiffre clé - présentement la main ?

![image](https://user-images.githubusercontent.com/40030677/42757634-105cca0e-8901-11e8-8da9-95dbd9fa4ef2.png)

Merci

[2018-07-16 12:54] LaetitiaVerdier opened #133 "Snippets / Home Page"
Bonjour,

Voici les retours compilés pour la Home page :

**Visuel header**
- la durée de chargement du visuel header est très longue et nous empêche de voir l'animation, pouvez-vous y remédier ?

**Dans la partie Actualités**
-  je souhaite conserver les dates en français
- le format photo droite n'est pas le bon. Comment puis-je le modifier car il ne s'agit pas d'un snippet
- l'espace entre la d

[2018-07-16 12:58] LaetitiaVerdier opened #134 "Version mobile / Snippet page Hub chiffres clés"
Bonjour,

Les pictos sont un peu trop petits dans le snippet page hub chiffres clés sur le mobile.

Pouvez-vous augmenter la taille ?

Merci

[2018-07-16 13:05] LucDelmon commented on #132
Bonjour,

c'est fait.

Cordialement

[2018-07-16 13:19] LucDelmon commented on #126
C'est corrigé.

L'édition de titre ne marche pas quand le lien est vide.

J'ai mis des liens par défaut

[2018-07-16 13:23] LucDelmon commented on #134
c'est fait

[2018-07-16 13:29] LaetitiaVerdier commented on #134
Merci

[2018-07-16 13:29] #134 closed, assigned to LaetitiaVerdier

[2018-07-16 13:31] LaetitiaVerdier commented on #126
Merci Luc

[2018-07-16 13:31] #126 closed, assigned to LaetitiaVerdier

[2018-07-16 13:39] LucDelmon commented on #125
Pour l'image,

Vous souhaitez que je force le format Largeur = 295px / Hauteur = 130px ? Ca déformera l'image si elle n'est pas dans ce format la.

[2018-07-16 13:42] LaetitiaVerdier commented on #125
Oui tout à fait.

Merci

[2018-07-16 13:58] LucDelmon commented on #125
Pour le texte "Accéder au site" je garde la couleur grise même sur 2 lignes ?

[2018-07-16 14:41] LucDelmon commented on #125
C'est fait.

Par contre les images actuelle ne collent pas avec le format.

Je pense qu'il va falloir choisir une couleur différente entre la catégorie et le lien " accéder au site" car on voit difficilement la différence

[2018-07-16 14:50] LaetitiaVerdier opened #135 "Éditeur texte dans la barre d'outils"
Bonjour,

Pouvez-vous ajouter l'option "exposant" dans la barre d'outils. En effet, nous avons beaucoup de mètre carré et cube ?

Merci

[2018-07-16 14:54] LaetitiaVerdier opened #136 "Disparition / Snippet Formation chapeau"
Bonjour,

Je ne trouve plus le snippet "Formation chapeau" dans les templates.

![image](https://user-images.githubusercontent.com/40030677/42765709-e964cd44-8918-11e8-912f-c0fce2681822.png)

Laëtitia.

[2018-07-16 15:05] LucDelmon commented on #133
Qu'entendez-vous par le format photo droite n'est pas le bon

[2018-07-16 15:09] LaetitiaVerdier commented on #133
Je ne peux pas changer la photo et le format est carré 518 x 571 px.

Si le format reprend celui intégré dans l'espace actualités. il devrait apparaître correctement par la suite car l'article sensations foil n'est plus valide.

[2018-07-16 15:16] LucDelmon commented on #133
Je ne comprends pas,

Pour changer l'image, il faut modifier l'actualité dans internal content et choisir une nouvelle image.

Ensuite, les images n'ont pas de format. Ici ou ailleurs sur le site les images sont en responsives. Elles occupent toute la largeur disponible .

La hauteur est determiné automatiquement à partir du format de l'image.

En résumé pour changer de format il faut simplement u

[2018-07-16 15:27] LaetitiaVerdier opened #137 "Photo / Portrait du snippet témoignage"
Bonjour,

Le rendu final doit être un cercle de 219 x 219 px, quand nous intégrons une photo portrait, elle se déforme toujours en oval.

![image](https://user-images.githubusercontent.com/40030677/42767453-58e2af8e-891d-11e8-95c6-25d26f6dbed7.png)

Pouvez-vous y remédier ?

Merci

[2018-07-16 15:30] LaetitiaVerdier commented on #133
Oui je comprends bien.

Ma question est donc de savoir si nous avons la main sur l'espace actualités de la home page ou si la mise en forme et la remontée d'informations est totalement conditionnée par la contribution dans l'espace Actualités. Si c'est le cas, la photo qui se trouve à droite du premier titre reprend-elle le visuel de la page liste "actualités" correspondant à l'article du même nom

[2018-07-16 15:37] LaetitiaVerdier commented on #125
Effectivement, cela ne fonctionne pas.

Nous allons donc rester sur une version sobre ci-dessous

corps ​: ​16 pt
​couleur : ​#9fa5a9

<img width="1322" alt="capture d ecran 2018-07-16 a 17 19 24" src="https://user-images.githubusercontent.com/40030677/42768031-b8af6c80-891e-11e8-9c05-904b525228fe.png">

Merci

[2018-07-16 15:39] LucDelmon commented on #133
Non, tout est conditionné par l'internal content.

Pour avoir un format différent la solution serait de rajouter un champ image dans l'internal content

[2018-07-16 15:47] LaetitiaVerdier commented on #133
J'ai bien compris mais visiblement on ne se comprend pas par message interposé.

Ce que je veux savoir c'est quel visuel est repris dans le champs actualité de la home ?
Est-ce bien le champs image ci-dessous qui est repris ?

![image](https://user-images.githubusercontent.com/40030677/42768522-0eb72e32-8920-11e8-836a-59ca032a5a98.png)

[2018-07-16 15:48] LucDelmon commented on #133
Oui mais ce visuel est également reprit dans la page de liste d'actualités

[2018-07-17 07:56] nicolastrenti commented on #137
Bonjour Laetitia,
Nous ne pouvons pas "cropper" à la volée la photo de façon à ce qu'elle soit carrée, c'est à vous de le faire auparavant (par exemple dans l'éditeur d'image).
On avait déjà abordé ce point dans cette issue : #83

[2018-07-17 08:02] LaetitiaVerdier commented on #137
Bonjour Nicolas,

Effectivement, mon problème reste entier car le rond devient systématiquement ou presque un oval quand les contributeurs, autre que moi, chargent les photos.

Je vais leur rappeler de prendre une photo carrée 219 x 219 px mais je pense qu'il y aura des disparités.

Ils ont du mal avec l'éditeur et j'ai dû cropper déjà plusieurs photos pour eux.

Bien à toi,

Laëtitia

[2018-07-17 08:02] #137 closed, assigned to nobody

[2018-07-17 08:07] LaetitiaVerdier opened #138 "header"

[2018-07-17 08:08] #138 closed, assigned to nobody

[2018-07-17 08:09] LaetitiaVerdier commented on #129
Bonjour,

J'ai toujours le même problème sur les articles des pages listes comme Aren'ice ou Vélodrome....

Merci

[2018-07-17 08:46] LucDelmon commented on #129
Bonjour,

Je n'avais pas bien enregistré la solution.

le problème est réglé.

[2018-07-17 08:47] LaetitiaVerdier commented on #129
Merci Luc.

[2018-07-17 08:47] #129 closed, assigned to LaetitiaVerdier

[2018-07-17 09:33] LaetitiaVerdier opened #139 "Problème taille picto / Snippets Loisirs Chapeau"
Bonjour,

Le picto change de taille quand il est modifier. Pouvez-vous résoudre cela ?

![picto 1](https://user-images.githubusercontent.com/40030677/42809136-2ac9863e-89b5-11e8-962b-0b254aad154c.JPG)

Merci

[2018-07-17 09:46] LucDelmon commented on #133
La Majorité des problèmes sont corrigés.

Il reste a traiter:

- Le problème de chargement du visuel
- Le problème des dates en francais

Je n'ai pas compris le problème de l'entrée Acceuil sur Burger mobile.

[2018-07-17 09:49] LucDelmon commented on #133
Pour le chargement du visuel. Il n'y a pas de solutions miracles.

Une fois que le site sera déployé et consulté l'image sera stocké dans le cache google avec plusieurs niveaux de qualité. Google adressera automatiquement l'image correspondant au niveau de connexion de l'utilisateur.

Par sécurité on peut toujours rajouter un délai avant le lancement de l'animation pour être sur.

[2018-07-17 09:53] LucDelmon commented on #136
Bonjour,

Je ne pense pas que ce snippet ait un jour existé

[2018-07-17 10:16] LaetitiaVerdier commented on #136
Bonjour Luc,

Si c'est le cas, c'est un malencontreux oubli de notre part.

Nous en avons besoin pour faire tous les articles sur la formation car il y a les boutons de partage en plus et un titre par rapport au snippet "Texte + photo droite" actuel.

Tous les articles ont été rédigés sur la base de ce template.

Pouvez-vous en créer un appelé "Formation chapeau" ?

Merci et désolée.

[2018-07-17 10:36] LaetitiaVerdier commented on #133
Merci Luc, effectivement on peut laisser un petit délai pour le lancement de l'animation.

Pour l'entrée "Accueil", sur la version mobile, il n'est possible de retourner sur la page accueil du site que via le logo. Pour des questions d'accessibilité, je voulais savoir s'il était possible d'ajouter Accueil avant la partie Sport des territoires par exemple.

Bien à vous,

[2018-07-17 11:07] LucDelmon commented on #125
c'est fait

[2018-07-17 11:08] LaetitiaVerdier commented on #125
Merci Luc

[2018-07-17 11:10] LaetitiaVerdier commented on #139
Idem

La taille du picto est très petite dans le dernier à propos créé par ma collaboratrice sous actualités.

Pourtant sur le snippet la taille est bonne mais le format change quand le nouveau picto est chargé

![image](https://user-images.githubusercontent.com/40030677/42813859-9e540928-89c2-11e8-9711-a22e7025e823.png)

Merci

[2018-07-17 11:12] LucDelmon commented on #133
C'est fait pour l'animation. Elle attendait déjà 1 sec avant de se lancer. Maintenant elle attends 2

[2018-07-17 11:29] LucDelmon commented on #133
Pour l'entrée Acceuil, je l'ai fait sur la home page. Dites moi si ca vous va et je le met partout

[2018-07-17 11:37] nicolastrenti commented on #136
Bonjour Laetitia,

Pas de souci pour ajouter ce snippet mais je vérifierai (dès que j'aurai un peu de temps) s'il était dans le devis initial. Si ce n'est pas le cas, nous devrons ajouter 2 heures aux évolutions, car il s'agit de développements supplémentaires pour nous.

[2018-07-17 11:45] LaetitiaVerdier commented on #136
Bonjour Nicolas,

Merci.

Aucun problème.

On ne peut pas s'en passer de toute façon.

[2018-07-17 12:20] #125 closed, assigned to LaetitiaVerdier

[2018-07-17 12:42] LaetitiaVerdier commented on #133
Pour l'entrée Accueil. C'est parfait.

Pour la Home sur mobile :
- le titre "Se construire par le sport" doit être dans une taille de typo supérieure au titre classique comme "Conception & Réalisation" en dessous du header et sur deux lignes.
![screenshot_2018-07-17-14-30-16](https://user-images.githubusercontent.com/40030677/42817626-ecf35370-89ce-11e8-8f49-8965671c6816.png)

- dans la partie act

[2018-07-17 13:05] LucDelmon commented on #136
Il est fait

[2018-07-17 14:01] LucDelmon commented on #133
Bonjour,

c'est corrigé

[2018-07-17 14:08] nicolastrenti commented on #135
Bonjour Laetitia,

Malheureusement, on ne peut pas, car ça imposerait de le rajouter pour tous nos clients et ça alourdirait la barre pour d'autres utilisateurs qui n'ont pas forcément l'intérêt de cette option.

Peut-être peux-tu ajouter à ton guide de contribution cette petite astuce :
- pour le carré ² : appuyer sur la touche "Alt" puis composer le code 253 avec le clavier numérique et relâcher

[2018-07-17 14:22] LucDelmon commented on #139
Concernant le premier problème.

Une fois le nouveau picto chargé, il faut cliquer a nouveau dessus et choisir resize dans les options.

Le menu suivant s'ouvre.

![image](https://user-images.githubusercontent.com/35261367/42823221-4f333218-89dd-11e8-9996-fdb44fb0a211.png)

Il faut ensuite indiquer les dimensions souhaitées et elles seront conservées.

Sinon je peux toujours forcer des dimensions

[2018-07-17 14:26] LaetitiaVerdier commented on #136
Merci Luc

[2018-07-17 14:29] #136 closed, assigned to LaetitiaVerdier

[2018-07-17 14:48] LaetitiaVerdier commented on #135
Merci pour ce tips.

C'est noté.

Laëtitia.

[2018-07-17 14:56] LucDelmon commented on #139
Pour le snippet A propos c'est un autre problème.

La taille du picto est fixé. Même si vous la modifiez elle reviendra toujours a cette taille.

J'avais fait cela car le picto est présent en mobile et la taille doit être différente sur le mobile ( je forcais une taille différente).

J'ai modifié le template, il est maintenant possible de choisir la taille du picto de le même manière que pour chap

[2018-07-17 14:58] LucDelmon commented on #139
Par contre j'ai remarqué que vos pictos ont une très haute définition ( aux alentours de 1000*1000).

C'est très mauvais pour les performances. Il ne faut pas charger une image aussi grosse pour un picto. Le chargement de la page web se verra ralentit. De plus cela rend la manipulation très difficile avec Froala car l'image arrive avec sa taille initiale et prend tout l'écran.

[2018-07-17 15:07] LaetitiaVerdier commented on #139
Merci C'est noté.

Pour les pictos, je vais demander à ce qu'ils soient alléger. Merci pour l'alerte Françoise et moi ne l'avions pas vu.

[2018-07-17 15:23] nicolastrenti commented on #123
Oui, c'est possible, en ajoutant le code en question dans le footer du site, qui est commun à toutes les pages.
J'ai ajouté une slide au support de formation pour décrire cette manipulation (diapo 39).

[2018-07-17 15:29] LaetitiaVerdier commented on #123
top

merci beaucoup

[2018-07-17 15:29] #123 closed, assigned to LaetitiaVerdier

[2018-07-17 15:32] LaetitiaVerdier commented on #133
Merci

[2018-07-17 15:32] #133 closed, assigned to LaetitiaVerdier

[2018-07-17 15:46] LaetitiaVerdier commented on #139
Pour les pictos, nous souhaiterions un cellule de 100x100 px dans laquelle viendrait s'importer le picto **centré** et contraindre la taille du picto.

La cellule pour le mobile doit être ramenée à 90%.

[2018-07-18 07:48] LucDelmon commented on #139
Bonjour,

Actuellement il est possible de mettre la taille de picto que l'on veut  ( en la modifiant à l'édition). Le picto est ensuite automatiquement réduit en mobile.

Vous êtes sur de vouloir perdre ca et de forcer la taille du picto a 100*100 ?

[2018-07-18 07:51] LaetitiaVerdier commented on #139
Bonjour Luc,

Non c'est bon j'ai intégré cette information à leur tuto.

On peu laisser comme ça.

Laëtitia.

[2018-07-18 07:52] LucDelmon commented on #139
Ok, par contre la taille en mobile est actuellement de 50%. Vous voulez passer a 90%?

[2018-07-18 10:50] LaetitiaVerdier opened #140 "Page liste dispositifs solidaires / Modifications"
Bonjour,

Je ne sais pas comment modifier les pages liste.

Dans le cas des dispositifs solidaires, je souhaite faire des changements.

Le texte sous le titre doit être remplacer par :
Grâce à de multiples actions sur le terrain, les équipes UCPA s'engagent concrètement et durablement pour l'accès au sport de tous.

Le CTA "Voir toutes nos implantations" doit être supprimé.

Sous le filet, il manq

[2018-07-18 10:52] LaetitiaVerdier opened #141 "Snippet dispositifs solidaires partenaires"
J'ai besoin de remplacer le texte ipsem lorum par ce texte :
Tous les dispositifs sont élaborés en concertation avec nos partenaires qui accompagnent les publics au quotidien et ont une connaissance fine de leurs attentes et problématiques spécifiques.

Pouvez-vous me confirmer que nous ne sommes pas limités dans le nombre de partenaires et logos dans cet espace car nous en avons souvent plus ?

M

[2018-07-18 11:09] LaetitiaVerdier commented on #139
Je ne sais pas car en fonction des cas de modules je n'ai pas toujours la même taille sur mobile.

Certains s'affichent très grands et d'autres aux bonnes dimensions.

[2018-07-18 11:11] LaetitiaVerdier commented on #135
y a-t-il un raccourci pour les espaces insécables ?

Merci

[2018-07-18 11:17] nicolastrenti commented on #135
alt+255 sous windows normalement :)

[2018-07-18 11:20] nicolastrenti commented on #140
C'est fait.
Pour info, les pages Listes sont modifiables par l'intermédiaire du menu "Templates" dans le menu du site. Par contre, il ne s'agit pas de l'éditeur de texte riche classique, mais d'un éditeur de code html.

[2018-07-18 11:26] nicolastrenti commented on #141
Le texte a été modifié.

Pour la question du nombre de logos et de partenaires, deux solutions :
- soit nous laissons comme ça, auquel cas le contributeur doit passer en mode "code view" dans l'éditeur et sélection, copier et coller plusieurs fois les lignes suivantes (qui correspondent au logo + au nom du partenaire) :
![image](https://user-images.githubusercontent.com/1919354/42878647-11e01d48-8

[2018-07-18 11:30] LaetitiaVerdier commented on #141
Merci Nicolas.

Je préfère que l'on en mette 5 d'office et que je fasse la manip dans le code s'il y en a plus.

Merci

[2018-07-18 11:38] nicolastrenti commented on #141
C'est fait Laetitia

[2018-07-18 11:41] ANGELEROBLOT opened #142 "double footer"
Bonjour,

Deux footer se sont insérés l'un sur l'autre :
![image](https://user-images.githubusercontent.com/39916838/42879239-2ed8946e-8a90-11e8-97b0-33d645c1e8c6.png)

je l'ai remarqué dans l'espace Actualiés. Je ne sais pas pour les autres espaces.

[2018-07-18 11:41] #141 closed, assigned to LaetitiaVerdier

[2018-07-18 11:42] LaetitiaVerdier opened #143 "Editeur photo"
Tous les contributeurs rencontrent des difficultés avec l'éditeur d'images.

Avez-vous des développements en cours ?

Par exemple, le nom des visuels ne s'affiche pas et c'est un vrai handicap pour nous.

Merci

[2018-07-18 11:43] nicolastrenti commented on #142
Bonjour Angèle,

Je ne constate pas le problème. Sur quel page as-tu ce double footer ? En preview ou sur le site en ligne ?
Merci !

[2018-07-18 11:45] LaetitiaVerdier commented on #140
Merci

[2018-07-18 11:45] #140 closed, assigned to LaetitiaVerdier

[2018-07-18 11:48] nicolastrenti commented on #143
Laetitia,

Qu'entends-tu par "nom des visuels" ?
Tu parles peut-être du nom des fichiers dans cet écran de la Médiathèque ?
![image](https://user-images.githubusercontent.com/1919354/42879488-22bcf304-8a91-11e8-887c-6885f80f7eb1.png)

[2018-07-18 11:51] #132 closed, assigned to LaetitiaVerdier

[2018-07-18 11:51] LaetitiaVerdier commented on #135
Merci encore

[2018-07-18 11:51] #135 closed, assigned to LaetitiaVerdier

[2018-07-18 11:52] LaetitiaVerdier commented on #143
Oui c'est tout à fait ça.

[2018-07-18 11:55] LaetitiaVerdier opened #144 "Lien CTA ou hypertexte"
J'ai essayé d'en faire plusieurs mais cela ne fonctionne pas apparemment

J'ai voulu, par exemple, renvoyer le CTA "Voir tous les dispositifs" de la page hub Le sport pour tous

https://ucpa-corpo.recette.ampize.me/le-sport-pour-tous#le-sport-pour-tous/dispositifs-solidaires

Peux-tu me donner la règle à observer dans ce cas ?

Merci

[2018-07-18 12:04] ANGELEROBLOT commented on #142
La page actualité est normal, un seul footer. Mais tous les articles de la partie actualité ont un double footer :
![image](https://user-images.githubusercontent.com/39916838/42880081-44a97fee-8a93-11e8-86d8-4b1ffc55d534.png)

je vois cela à la fois en mode preview et sur le site en ligne

[2018-07-18 12:11] ANGELEROBLOT opened #145 "nom de rubrique / Actualités"
Tous les noms de rubrique de la page actualités ne sont pas à jour ni en preview, ni sur le site en ligne.
Voila ce qui apparait :
![image](https://user-images.githubusercontent.com/39916838/42880269-082b9998-8a94-11e8-9230-f64f43537379.png)

Voici les noms validés et rentrés dans l'espace de travail Ampize.me:
Séjours et tendances
Espaces sportifs
Institutionel
Economie Sociale et Solidaire
Solid

[2018-07-18 12:12] nicolastrenti commented on #144
A priori, la manipulation suivante doit te permettre de mettre en place les liens :

Après avoir inséré un snippets, cliquer n'importe où sur le libellé qui doit faire office de lien.
La barre suivante apparaît alors :
![image](https://user-images.githubusercontent.com/1919354/42880243-ee5220a0-8a93-11e8-8adc-c4e75e778c93.png)
Cliquer sur "Edit link".
Dans la fenêtre qui s'ouvre, coller l'URL de l

[2018-07-18 12:15] LaetitiaVerdier commented on #144
C'est ce que j'ai fait

Donc cela doit fonctionner.

Je n'ai juste pas de moyen de vérifier.

[2018-07-18 12:16] nicolastrenti commented on #142
C'est corrigé, on avait oublié un footer en trop dans cette page effectivement.

[2018-07-18 12:22] nicolastrenti commented on #145
Angèle,

Le libellé exact attendu actuellement est "séjours & tendances" et non "Séjours et tendances" (voir support de formation p36 pour les libellés exacts attendus). Nous nous basons sur ces libellés pour les filtres, il faut donc les respecter scrupuleusement.
Si certains sont à modifier, il faut nous l'indiquer, mais il faut impérativement à ce stade qu'on parte sur la bonne orthographe et q

[2018-07-18 12:24] ANGELEROBLOT commented on #145
D'accord.

Peux-tu, s'il te plait, me fournir la liste des noms de rubrique que vous avez ?

Car celle que je t'avais fourni est celle qui est au dessus ...

[2018-07-18 12:25] nicolastrenti commented on #145
séjours & tendances
économie Sociale et Solidaire
événements
formation
institutionnel
solidarité
espaces sportifs

[2018-07-18 12:31] ANGELEROBLOT commented on #145
D'accord, merci.

Je t'avais envoyé la liste définitive le 20 juin, par mail :
Dernières actualités
Séjours et tendances
Espaces sportifs
Institutionnel
Economie Sociale et Solidaire
Solidarité
Formation
Evénements
Je me suis donc basé sur cette liste pour rentrer mes articles, puisque tu m'avais confirmé avoir modifié le naming.
Peux-tu s'il te plait, rentrer ces noms ?
Merci

[2018-07-18 12:36] nicolastrenti commented on #145
Très bien, on part donc sur ces libellés. Il n'y aura donc pas d'accent sur le premier "E" de "Evénements" et "Economie Sociale et Solidaire", on est OK là-dessus ? Désolé d'insister mais c'est deux lettres différentes pour nous :)

[2018-07-18 12:37] ANGELEROBLOT commented on #145
Oui tout à fait! Merci Nicolas

[2018-07-18 12:54] #144 closed, assigned to nobody

[2018-07-18 14:58] ANGELEROBLOT opened #146 "Disparition pictos / Actualités"
Suite aux conseils de Laetitia, je "change size" les pictogrammes en 100x100 :
![image](https://user-images.githubusercontent.com/39916838/42889752-79bbc59e-8aab-11e8-9a44-f356cdb06af1.png)

Il apparait correctement dans l'espace de travail sur mon article "l'ucpa est choisie pour gérer le stade nautique georges vallerey".

Cependant, en preview ou sur le site le picto n'apparait plus :
![image](h

[2018-07-18 15:37] nicolastrenti commented on #146
J'ignore comment cela se produit. J'ai testé sur "Une Ecole de Mer sortie de Terre" en spécifiant la largeur 100px et je n'ai pas eu de souci.

Attention, si vous précisez une largeur ET une hauteur, tu vas perdre les proportions de l'image. C'est le cas pour le vélo par exemple, qui n'est pas une image carrée à la base et qui se retrouve déformée si on met 100 en largeur et 100 en hauteur. En gén

[2018-07-18 15:42] ANGELEROBLOT commented on #146
Merci Nicolas.

Je fais les manip.

Laetitia me dit de te dire qu'elle a demandé aux graphistes d'alléger tous les pictos. cependant aucun ne fait plus de 500px

[2018-07-19 07:50] nicolastrenti commented on #145
C'est bon désormais normalement, Angèle :)

[2018-07-19 08:20] ANGELEROBLOT commented on #145
Merci Nicolas :)

[2018-07-19 08:20] #145 closed, assigned to ANGELEROBLOT

[2018-07-19 08:30] #146 closed, assigned to ANGELEROBLOT

[2018-07-19 10:35] LaetitiaVerdier opened #147 "Cas particulier / Offres de formation"
Bonjour,

A l'usage, nous rencontrons un dilemme sur deux snippets utilisés pour les articles "offres de formation" comme l'article activités aquatiques de la natation.

Concrètement, nous avons besoin d'avoir un deuxième "A propos" où l'on peut ajouter le CTA "Voir nos offres de formation" en dessous du texte de l'A propos.
![image](https://user-images.githubusercontent.com/40030677/42937426-454a

[2018-07-19 10:37] LaetitiaVerdier opened #148 "Problème lien / Management d'espaces sportifs"
Bonjour,

Quand je clique sur l'article Management d'espaces sportifs, je tombe sur :
https://ucpa-corpo.recette.ampize.me/le-sport-des-territoires/**conception-et-realisation-d-espaces-sportifs**

Pouvez-vous remettre le bon lien ?

Merci

[2018-07-19 10:47] LaetitiaVerdier commented on #148
Je viens de changer le naming dans les settings mais ne suis pas sûre que cela soit bon car quand je me connecte j'ai ce message comme pour la conception d'espaces d'ailleurs

![image](https://user-images.githubusercontent.com/40030677/42938294-12c81386-8b52-11e8-8ebd-cff6291c4781.png)

[2018-07-19 14:58] LaetitiaVerdier opened #149 "Problème affichage / page liste Projets de référence"
Nous avons les premières lignes qui s'affichent bien mais pas la suite :
![fireshot capture 25 - projets de reference_ - https___ucpa-corpo recette ampize](https://user-images.githubusercontent.com/40030677/42950720-eae525de-8b74-11e8-81c4-2747b5c3c2d8.png)

[2018-07-19 15:06] nicolastrenti commented on #143
Ce que je peux te proposer de mieux, en attendant une refonte plus complète de la médiathèque, c'est l'affichage du nom du fichier quand on survole l'icône qui permet de sélectionner une image :

![image](https://user-images.githubusercontent.com/1919354/42951241-0c1c6914-8b76-11e8-83df-abfb1258795d.png)

[2018-07-19 15:08] nicolastrenti commented on #149
C'est effectivement lié aux titres de longueurs différentes (parfois sur 2 lignes, parfois sur 1 ligne). On va trouver une solution pour uniformiser la hauteur, ça éviter cette mise en page chaotique.

[2018-07-19 15:09] LaetitiaVerdier commented on #149
Top.

merci

[2018-07-19 15:09] #149 closed, assigned to nobody

[2018-07-19 15:09] LaetitiaVerdier commented on #143
Oui ça me va.

Merci

[2018-07-19 15:09] #143 closed, assigned to nobody

[2018-07-19 15:24] LucDelmon commented on #149
C'est fait

[2018-07-19 15:50] LaetitiaVerdier opened #150 "Alignement bloc noir / home page"
Bonjour,

Sur la Home, le bloc noir de la partie DÉVELOPPER LES LOISIRS POUR TOUS AU CŒUR DES TERRITOIRES n'est pas aligné sur le bord de droite, il déborde du cadre

![image](https://user-images.githubusercontent.com/40030677/42954126-3d515002-8b7c-11e8-8d86-2dedd71bd869.png)

[2018-07-19 17:31] LaetitiaVerdier opened #151 "Page liste / Contacts"
Bonjour,

J'ai rentré tous les contacts. Comme certains noms de service ont changé, certains n'apparaissent pas.

Je vous remets ici ceux qui manquent pour que vous puissiez les ajouter :
 
Pôle achats
Pôle égalité des chances
Service clients
Pôle formation

Merci 

[2018-07-20 11:42] nicolastrenti commented on #148
C'est résolu !

[2018-07-20 12:07] LaetitiaVerdier commented on #148
Merci c'est super.

Je ne sais pas si tu as eu le temps de voir mais le site prend forme.

Nous sommes très contents.

[2018-07-20 12:07] #148 closed, assigned to LaetitiaVerdier

[2018-07-20 12:13] nicolastrenti commented on #148
Oui, c'est carrément top, le site a fière allure, on est très contents aussi !
Luc est en congés pendant les 15 prochains jours, je prends donc le relais sur les corrections d'anomalies. Si certaines sont vraiment urgentes, n'hésite pas à le signaler pour que je les traite en priorité.

[2018-07-20 12:22] LaetitiaVerdier commented on #148
Tant mieux.

C'est un vrai beau travail d'équipe.

Je n'ai que des éloges sur le site corpo.

Il faudra absolument que nous fêtions cela ensemble avec toute l'équipe UCPA, toi et Luc notamment que nous sollicitons beaucoup mais n'avons jamais rencontré ;-)

Pour l'UCPA, il s'agit d'un beau projet qui se concrétise et pour moi d'un an de travail qui prend fin...

Comment je peux te signaler une dem

[2018-07-20 13:23] nicolastrenti commented on #151
Ça doit être bon désormais !

[2018-07-20 13:27] nicolastrenti commented on #150
C'est bon normalement.

[2018-07-20 13:27] nicolastrenti commented on #148
Oui, tu peux rajouter [URGENT] dans l'objet du ticket.
Merci !

[2018-07-20 13:35] nicolastrenti commented on #147
J'ai ajouté un snippet "A propos + CTA" et supprimé le CTA "Voir les offres de formation" du snippet "Formation texte + CTA + Photo gauche".

Peux-tu me dire si ça te convient ?

[2018-07-20 13:52] LaetitiaVerdier commented on #151
Oui tout est bon.

Merci

[2018-07-20 13:52] #151 closed, assigned to LaetitiaVerdier

[2018-07-20 15:16] LaetitiaVerdier commented on #139
Nous avons rechargé les pictos allégés sur toutes les pages.

Je pense que du coup.

Il faudra vérifier les pages liste

Sinon tout est bon.

[2018-07-20 15:16] #139 closed, assigned to LaetitiaVerdier

[2018-07-20 15:37] LaetitiaVerdier opened #152 "Home page - photo full screen loisirs sportifs"
Bonjour Nicolas,

Sur la home, nous avons un problème de taille de visuel pour la partie Loisirs sportifs. Sur la maquette le visuel est full screen soit 2544 x 702 px pour le desktop et 640 x 470 px pour le mobile, format identique aux images des header.

![image](https://user-images.githubusercontent.com/40030677/43011376-89525ba0-8c43-11e8-9143-2bd21f62b440.png)

Est-il possible de faire la mod

[2018-07-20 16:02] LaetitiaVerdier opened #153 "Page contacts / emplacement photo"
Nous souhaitons conserver le format photo utilisé dans le snippet témoignage de 219 x 219 px pour la page contact.

Est-ce possible ?

Merci

<img width="1373" alt="capture d ecran 2018-07-20 a 17 53 22" src="https://user-images.githubusercontent.com/40030677/43012662-0bdd07fc-8c47-11e8-8275-18916df87ef8.png">
<img width="1403" alt="capture d ecran 2018-07-20 a 17 51 52" src="https://user-images.g

[2018-07-23 08:25] LaetitiaVerdier opened #154 "[URGENT] Partie Groupe du site + Formations"
Bonjour Nicolas,

Je vais intégrer les articles du Groupe et de Formations.

Par contre, sais-tu comment je peux faire pour les regarder sur https://ucpa-corpo.recette.ampize.me/formations

A ce jour, il me faudrait leur URL directe car je ne peux pas les rattacher à la page Hub sans le lien étant donné qu'il n'y a pas menu déroulant me permettant de les sélectionner comme pour le sport pour tous

[2018-07-23 08:49] nicolastrenti commented on #154
Bonjour Laetitia,

Pour chacune des pages de l'arborescence, dans le Site Builder, tu peux trouver leur URL en allant dans les Page Settings, onglet URL. Il y a un champ "Vanity URL" qui correspond à l'URL à laquelle la page est accessible.

![image](https://user-images.githubusercontent.com/1919354/43066786-e4d06da4-8e65-11e8-888b-047857841e79.png)

![image](https://user-images.githubusercontent.

[2018-07-23 08:49] LaetitiaVerdier commented on #154
Top merci Nicolas

[2018-07-23 08:49] #154 closed, assigned to nobody

[2018-07-23 09:19] nicolastrenti commented on #152
Bonjour Laetitia,
J'ai fait la modif pour mettre l'image en full screen.
Par contre, actuellement, c'est le même format en desktop et mobile. Comment souhaites-tu qu'on gère les choses ? Tu préférerais que la même image soit croppée de manière automatique ou que tu charges toi-même deux images différentes, l'une pour le desktop et l'autre pour le mobile ?

[2018-07-23 09:47] nicolastrenti commented on #153
C'est fait, j'ai repris les tailles des photos du snippet témoignage.

[2018-07-23 09:54] LaetitiaVerdier commented on #153
Merci

[2018-07-23 09:54] #153 closed, assigned to LaetitiaVerdier

[2018-07-23 09:57] LaetitiaVerdier commented on #152
Je préfère que l'on garde notre habitude d'avoir une pour le mobile et une pour le desktop.

J'ai fait le mobile ci-dessous
![hp-loisirs-sportifs-ucpa-m](https://user-images.githubusercontent.com/40030677/43070187-72622eec-8e6f-11e8-85d0-03c8a7507d84.jpg)

Merci

[2018-07-23 11:23] nicolastrenti commented on #152
C'est fait, j'ai mis l'image ci-dessus pour la version mobile.

[2018-07-23 11:47] LaetitiaVerdier commented on #152
Merci beaucoup

[2018-07-23 11:47] #152 closed, assigned to LaetitiaVerdier

[2018-07-23 12:55] LaetitiaVerdier opened #155 "Chapeau / Pages listes thématiques - Actualités"
J'ai intégré dans le HTLM le texte suivant en chapeau de la page liste mère Actualités, je ne sais pas comment le dupliquer dans les autres pages listes téhmatiques :+1:

Retrouvez ici toute l'actualité du groupe UCPA : les nouveaux séjours sportifs ou colonies de vacances, les nouveaux équipements confiés à l'UCPA et tous nos événements sportifs, solidaires et institutionnels. L'équipe du service

[2018-07-23 13:01] nicolastrenti commented on #155
C'est fait.
Pour info, pour les pages "Voir plus d'articles", on a mis ce texte dans le bloc "Chapeau" de la page (cliquer sur l'icône HTML pour modifier le code).

[2018-07-23 13:29] LaetitiaVerdier commented on #155
Merci Nicolas

[2018-07-23 13:29] #155 closed, assigned to LaetitiaVerdier

[2018-07-23 13:55] LaetitiaVerdier opened #156 "Problème / Affichage de pictos"
Nicolas,

Nous avons de nouveau un problème avec les pictos.

Pourtant, nous avons rechargé tous les nouveaux pictos en version allégée, suite à vos conseils. Cependant, ils n'apparaissent plus dans les "A propos" et sont immenses sur le mobile

![image](https://user-images.githubusercontent.com/40030677/43080619-61ee09ac-8e90-11e8-8546-9baa209d01bc.png)

peux-tu jeter un oeil ?

Merci

[2018-07-23 14:28] LaetitiaVerdier opened #157 "Intégration pièce jointe / CTA - Article gouvernance"
Bonjour,

Voici l'article dans lequel, je souhaite ajouter une pièce jointe derrière le CTA
![image](https://user-images.githubusercontent.com/40030677/43082432-5a8079e4-8e94-11e8-9d6e-6fb1a223419b.png)

https://testbo.ampize.me/site-builder/Site5ab36083948db

Je te joins le fichier concerné.

![gouvernance-ucpa](https://user-images.githubusercontent.com/40030677/43082844-501b7426-8e95-11e8-8bc9-1

[2018-07-23 14:44] nicolastrenti commented on #157
Dans quel format est cette PJ à la base ? Tu souhaites l'intégrer en tant qu'image ?

[2018-07-23 14:46] LaetitiaVerdier commented on #157
Non pas spécialement.

En PDF serait mieux.

[2018-07-23 14:47] nicolastrenti commented on #157
Tu peux m'envoyer le fichier original par mail dans ce cas s'il-te-plaît ? merci !

[2018-07-23 14:48] LaetitiaVerdier opened #158 "Diaporama"
Dans la partie histoire, j'ai besoin d'avoir 10 slides dans le diaporama.

Aujourd'hui, j'en ai uniquement 3.

Comment dois-je faire pour en ajouter ?

Merci

[2018-07-23 14:59] LaetitiaVerdier commented on #157
J'ai demandé qu'on me le fasse car mon acrobat ne fonctionne plus.

[2018-07-23 15:09] nicolastrenti commented on #158
Voici la procédure :
- insérer le snippet en question dans le texte riche
- aller dans "Code view" (dernière icône de la barre d'outil de l'éditeur)
- trouver la portion de code correspondant au diaporama (ctrl + F puis rechercher diaporama)
- juste avant la balise de fermeture `</amp-carrousel>` copier-coller autant de fois que nécessaire le code suivant (qui correspond à 1 slide) :

![image](htt

[2018-07-23 15:16] LaetitiaVerdier opened #159 "Absence - Vanity URL / UCPA c'est quoi ?"
Nicolas,

Je n'ai pas de vanity URL pour la partie l'UCPA, c'est quoi ? sous Groupe > Découvrir

Bien à toi,

Laëtitia.

[2018-07-23 15:23] LaetitiaVerdier commented on #158
C'est tout bon.

Merci

[2018-07-23 15:23] #158 closed, assigned to LaetitiaVerdier

[2018-07-23 15:23] nicolastrenti commented on #159
C'est ajouté !

[2018-07-23 15:32] nicolastrenti commented on #156
Peux-tu me donner l'URL d'une page qui pose problème avec ce snippet stp ? Merci !

[2018-07-23 15:33] LaetitiaVerdier commented on #159
Merci

[2018-07-23 15:33] #159 closed, assigned to nobody

[2018-07-23 15:34] LaetitiaVerdier commented on #156
https://ucpa-corpo.recette.ampize.me/le-groupe

[2018-07-23 16:02] LaetitiaVerdier commented on #147
Très bien

Merci

[2018-07-23 16:02] #147 closed, assigned to LaetitiaVerdier

[2018-07-23 16:20] LaetitiaVerdier commented on #157
Voici le PDF

Merci
[gouvernance-2017.pdf](https://github.com/ampize/ampize-ucpa-corpo-recette/files/2220144/gouvernance-2017.pdf)

[2018-07-24 08:25] nicolastrenti commented on #156
Laetitia,

Pour résoudre ce problème :
- Cliquer sur le picto
- Cliquer sur l'icône "Style"
- Choisir "Fixed size"
- Préciser si nécessaire une "width"  (100)

![image](https://user-images.githubusercontent.com/1919354/43126012-d6e1be5c-8f2b-11e8-9a7a-6ae3309ba272.png)

J'ai fait la manipulation sur la page Groupe.

[2018-07-24 08:44] nicolastrenti commented on #157
Laetitia,

J'ai ajouté le PDF sur notre serveur.
Voici l'URL du lien à indiquer derrière le CTA : resource/ucpa/pdf/gouvernance-2017.pdf

[2018-07-24 08:45] LaetitiaVerdier commented on #157
Merci Nicolas

[2018-07-24 08:45] #157 closed, assigned to LaetitiaVerdier

[2018-07-24 09:08] #156 closed, assigned to LaetitiaVerdier

[2018-07-24 12:32] LaetitiaVerdier opened #160 "Page liste / Offres de formation"
Il manque les chevrons sur la page liste Offres de formation à droite

https://ucpa-corpo.recette.ampize.me/formations/offres-de-formation

cf. https://ucpa-corpo.recette.ampize.me/le-sport-des-territoires/projets-de-reference

Il y a également un problème d'affichage des articles sur la page liste Offres de formation.

Bien à toi,

Laëtitia.

[2018-07-24 12:53] nicolastrenti commented on #160
Ça doit être bon désormais !

[2018-07-24 12:54] LaetitiaVerdier commented on #160
Merci Nicolas

[2018-07-24 12:54] #160 closed, assigned to LaetitiaVerdier

[2018-07-24 12:55] LaetitiaVerdier opened #161 "Article UCPA Formation"
J'ai une page 404 au lieu de mon article fini

https://ucpa-corpo.recette.ampize.me/formations/secteurs

Merci

[2018-07-24 12:57] nicolastrenti commented on #161
C'est corrigé !

[2018-07-25 11:00] LaetitiaVerdier commented on #161
J'ai le même problème avec les diplômes

/formations/diplomes

Merci

[2018-07-25 12:54] LaetitiaVerdier opened #162 "URGENT / CTA page liste"
Bonjour Nicolas,

J'ai besoin de mettre les liens pour les différentes pages liste

Pour la liste, **/le-sport-des-territoires/projets-de-reference**
J'ai besoin de mettre le lien suivant derrière le CTA Voir toutes nos implantations avec l'option ouverture dans une nouvelle fenêtre : /le-sport-des-territoires/toutes-nos-implantations

Pour la liste, **/le-sport-pour-tous/dispositifs-solidaires**

[2018-07-25 13:07] LaetitiaVerdier commented on #162
J'ai oublié celui-ci
**/le-sport-des-territoires/toutes-nos-implantations**
J'ai besoin de mettre ce lien, idem dans une nouvelle fenêtre pour le CTA : /le-sport-des-territoires/projets-de-reference

[2018-07-25 13:25] LaetitiaVerdier commented on #150
Ca n'est pas bon de mon côté.

Le bloc déborde à droite

[2018-07-25 13:41] LaetitiaVerdier opened #163 "Version mobile / Problème affichage sur toutes les pages listeActualités"
Nicolas,

Dans toutes les pages liste sur le mobile : Actualités + actualités thématiques / Projets de référence / Dispositifs solidaires / Formations et Implantations

- le titre touche le header et le texte touche le filet rouge
![screenshot_2018-07-25-15-29-26_resized](https://user-images.githubusercontent.com/40030677/43203901-bd67d0f2-901f-11e8-88bf-88b3de4f9528.png)

- les images / visuels n

[2018-07-25 13:44] nicolastrenti commented on #162
Hello Laetitia,

C'est pris en compte.
Pour la page UCPA Formation, la nouvelle URL est /formations/organisme-formation-UCPA-formation
J'ai fait la modif du lien qui était sur la page /formations, mais je ne sais pas si tu avais référencé cette page ailleurs.

[2018-07-25 13:45] LaetitiaVerdier opened #164 "Version mobile / snippet A propos + A propos et CTA"
Les maquettes prévoyaient un filet rouge entre le titre et l'article sur la version mobile.

![image](https://user-images.githubusercontent.com/40030677/43204622-ad9ad33e-9021-11e8-84a8-0e2d362c91a9.png)

Cela est-il possible ?

Si c'était trop compliqué à mettre en place.

Peux-tu augmenter l'espace entre le titre et l'article ?

Merci

[2018-07-25 13:49] ANGELEROBLOT opened #165 "URGENT ! fermeture intempestive"
Bonjour,

Je suis en pleine intégration des communiqués de presse sur l'espace Actualités. L'article que je suis en train d'intégrer s'est fermé deux fois de suite, sans raison, j'ai perdu le contenu écrit. Maintenant je suis bloquée, je l'intègre pour la troisième fois et il ne s'enregistre pas. Il mouline sans fin.

J'ai besoin d'aide rapidement s'il vous plait.

Merci

Angèle

[2018-07-25 13:49] nicolastrenti commented on #150
OK, désolé, c'est moi qui avais mal compris la première fois.
En fait, j'avais aligné le haut du titre de gauche avec le haut du bloc de droite (je peux revenir en arrière sur ce point si nécessaire).
Désormais, j'ai bien fait en sorte que le bloc de droite ne déborde pas sur la droite.

[2018-07-25 13:54] nicolastrenti commented on #165
Bonjour Angèle,
Peux-tu recharger le back-office dans ton navigateur (ctrl + F5) avant de réessayer la création d'une Actu (en faisant des sauvegardes intermédiaires de ton contenu pour éviter de tout perdre à chaque fois) ?

[2018-07-25 13:58] LaetitiaVerdier opened #166 "Version mobile / espace entre le header et le titre de certains articles"
Est-il possible de réduire l'espace entre le header et le titre ?

https://ucpa-corpo.recette.ampize.me/le-sport-des-territoires/conception-realisation-espaces-sportifs

![screenshot_2018-07-25-15-55-37_resized](https://user-images.githubusercontent.com/40030677/43205272-4744bd5a-9023-11e8-9d3c-3bb7f2a87f5e.png)

[2018-07-25 13:59] ANGELEROBLOT commented on #165
Merci Nicolas

[2018-07-25 13:59] #165 closed, assigned to nobody

[2018-07-25 14:12] LaetitiaVerdier commented on #150
C'est bon pour nous

merci

[2018-07-25 14:12] #150 closed, assigned to LaetitiaVerdier

[2018-07-25 14:13] nicolastrenti commented on #164
Peux-tu me donner l'URL d'une page où ce snippet a été intégré ? Car normalement le filet rouge devrait être présent.

[2018-07-25 14:15] LaetitiaVerdier commented on #162
D'accord, du coup tu peux le changer sur le CTA de la page /formations/offres-de-formation
/formations/organisme-formation-UCPA-formation

Sinon dis-moi comment faire et je l'ajoute à mon tuto.

Merci

[2018-07-25 14:17] LaetitiaVerdier commented on #164
https://ucpa-corpo.recette.ampize.me/le-sport-des-territoires

[2018-07-25 14:29] nicolastrenti commented on #164
C'est corrigé sur cette page. Peut-être qu'elle avait été alimentée avec une ancienne version du snippet.
Si tu rencontres le problème sur d'autres pages n'hésite pas à le signaler.

[2018-07-25 15:03] nicolastrenti commented on #163
Pour les 2 premiers points, j'ai fait une modification sur la page Actualités (et uniquement cette liste pour l'instant).
Tu peux me dire si ça te semble mieux avant que je reporte la modif sur les autres listes ?

[2018-07-25 15:06] LaetitiaVerdier opened #167 "Problème titre / toutes pages hub du corpo"
Nicolas,

Habituellement, nous avons une partie en Bold et une partie plus fine, tous les titres prinicpaux sont passées en BOLD intégralement

![image](https://user-images.githubusercontent.com/40030677/43209486-fe7f8b54-902c-11e8-8bde-b3da249a6a3a.png)

[2018-07-25 15:17] nicolastrenti commented on #167
Pour mettre des portions de ce type de titre en "allégé", il faut passer en mode "View code" et encadrer les parties allégées par une balise span avec la class h1-light, de cette façon :

![image](https://user-images.githubusercontent.com/1919354/43210098-89f201e8-902e-11e8-9731-444f98880de5.png)

[2018-07-25 15:21] nicolastrenti commented on #166
J'ai réduit l'espace, ça te semble mieux ?

[2018-07-25 15:25] nicolastrenti commented on #162
Normalement c'est bon

[2018-07-25 15:45] LaetitiaVerdier commented on #167
C'était le cas sur le sport pour tous et le sport des territoires, ainsi que la formation mais depuis ce matin ils sont tous en bold

[2018-07-25 15:46] LaetitiaVerdier commented on #162
Merci

[2018-07-25 15:46] #162 closed, assigned to LaetitiaVerdier

[2018-07-25 15:51] LaetitiaVerdier opened #168 "Qualité photo / page 404"
Françoise me dit que la qualité photo de la page est moyenne.

Voici les fichiers.

2 options pour la page 404 :
avec filtre pour accentuer la lisibilité, et sans le filtre s'il existe déjà sur la page du site, format desktop et mobile

![00078170_2544x1435](https://user-images.githubusercontent.com/40030677/43212097-679532be-9033-11e8-9659-bb6feff28437.jpg)
![00078170_2544x1435_sans_filtre](https

[2018-07-25 15:52] LaetitiaVerdier commented on #164
Ah mince.

C'est bien noté.

Merci

[2018-07-25 15:52] #164 closed, assigned to LaetitiaVerdier

[2018-07-25 15:58] LaetitiaVerdier commented on #166
C'est beaucoup mieux

[2018-07-25 15:58] #166 closed, assigned to LaetitiaVerdier

[2018-07-25 15:59] LaetitiaVerdier commented on #163
C'est top.

Parfait

[2018-07-26 07:28] nicolastrenti commented on #167
Peux-tu recharger la page en vidant le cache (ctrl + F5), je pense que c'est bon désormais :
https://ucpa-corpo.recette.ampize.me/le-sport-des-territoires

Merci !

[2018-07-26 07:41] LaetitiaVerdier commented on #167
Oui merci beaucoup

[2018-07-26 07:41] #167 closed, assigned to LaetitiaVerdier

[2018-07-26 09:09] LaetitiaVerdier opened #169 "Problème affichage menu / L'UCPA c'est quoi + Découvrir le Groupe"
Dans l'article publié, le menu n'apparaît pas

https://ucpa-corpo.recette.ampize.me/le-groupe/decouvrir/l-ucpa-c-est-quoi

Toutes les pages de la partie Groupe comme l'utilité sociale ou la gouvernance par exemple arrivent sur une page 404

Peux-tu résoudre le problème ?

Merci

[2018-07-26 09:21] LaetitiaVerdier opened #170 "Problème URL / Ecole des DJ"
Je ne sais pas pourquoi mais l'URL de l'article est étrange
https://ucpa-corpo.recette.ampize.me/accueil/formations/offres-de-formation/detailoffres/metier-dj-copy-on-thu-jul-26-2018-10-37-08-gmt-0200-heure-d-ete-d-europe-centrale

[2018-07-26 09:26] nicolastrenti commented on #170
J'imagine que le contenu en question a été obtenu en dupliquant un autre contenu, et que l'URL content sur l'offre n'a pas été modifié par la suite.
Je l'ai corrigé, le contenu est maintenant accessible via l'URL : https://ucpa-corpo.recette.ampize.me/accueil/formations/offres-de-formation/detailoffres/metier-dj

[2018-07-26 09:30] LaetitiaVerdier commented on #170
Merci

[2018-07-26 09:30] #170 closed, assigned to nobody

[2018-07-26 09:45] nicolastrenti commented on #169
C'est résolu pour le menu.
Pour les 404 également.
Pour info, concernant ces 404, cela se produit quand, dans les vanity URL des pages, il y a un caractère "/" au début de la chaîne. J'avais commencé à saisir les vanity URL avec un "/" au début, mais a priori c'est incompatible avec notre système de routage. Je les supprime donc au fur et à mesure.
Un exemple de vanity URL correct désormais :

![i

[2018-07-26 09:47] LaetitiaVerdier commented on #169
Merci.

C'est bien noté

[2018-07-26 10:13] nicolastrenti commented on #168
C'est fait

[2018-07-26 10:14] nicolastrenti commented on #163
J'ai apporté les modifs sur toutes les listes, il reste juste le point relatif au menu déroulant.

[2018-07-26 10:15] LaetitiaVerdier commented on #163
Merci

[2018-07-26 10:15] LaetitiaVerdier commented on #168
Merci

[2018-07-26 10:15] #168 closed, assigned to LaetitiaVerdier

[2018-07-26 10:19] LaetitiaVerdier opened #171 "Problème fil d'ariane / page sans contenus"
Bonjour,

J'ai des pages sans contenus comme :
https://ucpa-corpo.recette.ampize.me/le-groupe/decouvrir

Le contenu est au niveau du dessous comme l'article C'est quoi l'UCPA ?

Le problème c'est que Découvrir apparaît dans le fil d'ariane de la partie Groupe, idem pour Projet.

Que peut-on faire ?

![image](https://user-images.githubusercontent.com/40030677/43256743-0dcb5cfe-90ce-11e8-9586-da6469

[2018-07-26 14:43] LaetitiaVerdier opened #172 "Lien Boutons de partage / Rejoignez l'UCPA"
Bonjour,

Voici les liens pour le partage :
Facebook ➜ https://www.facebook.com/UCPA
Instagram ➜ http://instagram.com/ucpa
Twitter ➜ https://twitter.com/groupe_ucpa
Youtube ➜ https://www.youtube.com/user/UCPAOfficiel
LinkedIn ➜ https://www.linkedin.com/company/ucpa/

[2018-07-26 14:52] LaetitiaVerdier opened #173 "Nom de domaine / Corporate"
Bonjour,

Voici le nom de domaine :
ucpa.asso.fr

Bien à toi,

[2018-07-26 15:07] LaetitiaVerdier opened #174 "Masquer la partie Sport de demain"
Nous avons besoin de masquer la partie Sport de demain pour la mise en ligne du site.

Merci

Laëtitia.

[2018-07-26 15:39] nicolastrenti commented on #172
C'est fait !

[2018-07-26 15:40] LaetitiaVerdier commented on #172
merci

[2018-07-26 15:40] #172 closed, assigned to LaetitiaVerdier

[2018-07-26 17:14] LaetitiaVerdier opened #175 "Footer / gestion des cookies"
A priori, on peut supprimer l'entrée la gestion des cookies dans le footer.

[2018-07-27 08:03] LaetitiaVerdier opened #176 "Header / menu déroulant Formations"
Nicolas,

Comme échangé, nous aimerions avoir la possibilité de sélectionner les champs suivants dès le header pour la formation.

Wording du menu déroulant :
**UCPA Formation** => /formations/organisme-formation-UCPA-formation
**Diplômes** => /formations/diplomes
**Financements** => /formations/financements
**Nos formations** => /formations/offres-de-formation

Merci

[2018-07-27 08:08] LaetitiaVerdier opened #177 "Page liste / dispositifs solidaires"
Bonjour Nicolas,

Il y a un problème d'affichage de la page liste avec des trous :

https://ucpa-corpo.recette.ampize.me/le-sport-pour-tous/dispositifs-solidaires

![image](https://user-images.githubusercontent.com/40030677/43309433-124f887e-9185-11e8-8849-229f0addd720.png)

[2018-07-27 12:00] nicolastrenti commented on #177
C'est corrigé !

[2018-07-27 12:01] LaetitiaVerdier commented on #177
merci

[2018-07-27 12:01] #177 closed, assigned to LaetitiaVerdier

[2018-07-27 13:02] ANGELEROBLOT opened #178 "Problème vidéo / espace actualités"
Bonjour,

Cette vidéo ne s’intègre pas alors qu'elle fonctionne bien sur youtube :
![image](https://user-images.githubusercontent.com/39916838/43322045-deac5f96-91ad-11e8-9ca0-2d6ae83b0c01.png)
Sur le meme article il y a une autre vidéo qui elle fonctionne correctement : https://ucpa-corpo.recette.ampize.me/accueil/actualites/actualite/sensations-foil-faire-voler-un-catamaran-ou-une-planche-a-voil

[2018-07-27 13:28] nicolastrenti commented on #178
Bonjour Angèle,

Peux-tu stp me donner l'URL YouTube de la vidéo en question ?

[2018-07-27 13:29] ANGELEROBLOT commented on #178
https://www.youtube.com/watch?v=iDrIOmR7y_o

[2018-07-27 13:37] nicolastrenti commented on #178
C'est corrigé, je pense qu'il y a eu un petit problème au moment du copier-coller du lien.

[2018-07-27 13:38] ANGELEROBLOT commented on #178
Merci Nicolas

[2018-07-27 13:41] nicolastrenti commented on #178
Angèle,

J'ai un petit doute : c'est normal selon toi que le texte dépasse de cette façon sur la droite ?

![image](https://user-images.githubusercontent.com/1919354/43324043-6fdef71c-91b3-11e8-80bf-3fe4435832fe.png)

Ou c'est un souci sur ce snippet ?

[2018-07-27 13:48] ANGELEROBLOT commented on #178
Effectivement il y a un problème, il est bien aligné à gauche mais décalé à droite. Il doit s'arrêter au niveau du filet noir.

Merci Nicolas.

Angèle

[2018-07-27 13:53] nicolastrenti commented on #178
C'est corrigé sur cette actu et sur le snippet en question.
Si tu vois d'autres contenus où ce snippet a été utilisé, n'hésite pas à me les signaler pour que je les corrige également.

[2018-07-27 14:03] LaetitiaVerdier opened #179 "Disparition header / article"
Il manque le header sur cet article

https://ucpa-corpo.recette.ampize.me/le-groupe/projet-educatif-ucpa-enfants-ados-jeunes

[2018-07-27 14:04] LaetitiaVerdier commented on #179
le menu a aussi disparu sur cet article

https://ucpa-corpo.recette.ampize.me/le-groupe/pedagogie-ucpa

[2018-07-27 14:21] nicolastrenti commented on #179
C'est corrigé. En copiant-collant les menus sur toutes les pages il y a eu quelques soucis à la sauvegarde, désolé.

[2018-07-27 14:28] ANGELEROBLOT commented on #178
Merci beaucoup Nicolas !

Voila où ça merdouille :+1:

Pour la partie actualité :
https://ucpa-corpo.recette.ampize.me/accueil/actualites/actualite/terre-glace-feu-arenice-ouvre-public-5-novembre
https://ucpa-corpo.recette.ampize.me/accueil/actualites/actualite/groupeer-check-revolutionne-transport-en-car-mineurs
https://ucpa-corpo.recette.ampize.me/accueil/actualites/actualite/le-village-sportif-

[2018-07-27 14:28] LaetitiaVerdier commented on #179
d'accord merci

[2018-07-27 14:28] #179 closed, assigned to LaetitiaVerdier

[2018-07-27 14:47] LaetitiaVerdier opened #180 "Texte générique / Page Toutes nos implantations"
Nicolas,

Voici le titre à mettre à la place de "Le sport des territoires" +> Nos implantations

https://ucpa-corpo.recette.ampize.me/le-sport-des-territoires/toutes-nos-implantations

Voici le texte à mettre à la place de "Sortir de chez soi, de son confort, de ses habitudes. Choisir l'activité qui fait vibrer. Partager le même espace et les mêmes sensations. Vivre des bons moments avec le monite

[2018-07-27 14:54] nicolastrenti commented on #180
C'est fait !

[2018-07-27 14:55] #180 closed, assigned to LaetitiaVerdier

[2018-07-27 15:15] LaetitiaVerdier opened #181 "Point footer du site"
Nicolas,

Voici, après relecture, ce qui doit changer dans le footer :

**LE GROUPE UCPA**
Découvrez l'UCPA => /le-groupe
Domaines d’activité => /le-groupe/domaines-d-activite
Mission d'accessibilité => /le-sport-pour-tous/mission-d-accessibilite
Dispositifs solidaires => /le-sport-pour-tous/dispositifs-solidaires
Projets de référence => /le-sport-des-territoires/projets-de-reference
_Projet éduca

[2018-07-27 15:24] nicolastrenti commented on #178
C'est fait Angèle !

[2018-07-27 15:29] #142 closed, assigned to ANGELEROBLOT

[2018-07-27 15:34] nicolastrenti commented on #181
Laetitia,

"Consultez nos offres d'emploi sur UCPA recrutement" doit pointer vers quelle page ?
Pareil pour "Rejoignez la communauté UCPA" ?

Merci !

[2018-07-27 15:37] ANGELEROBLOT commented on #178
Merci Nicolas,

Les articles Actualités sont bons. Mais pas les autres.

[2018-07-27 15:42] nicolastrenti commented on #178
Je pense que j'avais oublié de re-publier le site, ça doit être bon là.

[2018-07-27 15:45] ANGELEROBLOT commented on #178
Effectivement :)

Merci beaucoup Nicolas

[2018-07-27 15:46] #178 closed, assigned to nobody

[2018-07-27 15:56] LaetitiaVerdier commented on #181
Bonjour,

http://recrutement.ucpa.com/
communaute.ucpa.com

[2018-07-27 15:58] LaetitiaVerdier commented on #173
Si c'est plus intelligent de mettre ucpa.asso.com

Peux-tu le dire ?

Merci

[2018-07-31 09:27] nicolastrenti commented on #181
C'est fait !

[2018-07-31 09:31] nicolastrenti commented on #175
C'est fait !

[2018-08-01 09:50] nicolastrenti commented on #171
Les liens vers "Découvrir" et "Notre projet" ont été désactivés dans le fil d'ariane

[2018-08-02 09:22] nicolastrenti commented on #176
C'est fait !

[2018-08-02 09:23] nicolastrenti commented on #174
C'est fait !

[2018-08-02 09:49] nicolastrenti commented on #163
Le menu déroulant des actualités en mobile est corrigé.

[2018-08-07 08:20] LaetitiaVerdier commented on #174
Merci Nicolas

[2018-08-07 08:20] #174 closed, assigned to LaetitiaVerdier

[2018-08-07 08:20] LaetitiaVerdier commented on #181
Merci

[2018-08-07 08:20] #181 closed, assigned to LaetitiaVerdier

[2018-08-07 08:21] LaetitiaVerdier commented on #171
Merci

[2018-08-07 08:28] LaetitiaVerdier commented on #176
Par contre, peux-tu changer le wording comme indiqué ci-dessous :

**Diplômes du sport** sans article devant.
**Formations** au lieu de offres de formation.

Les espaces blancs semblent plus grands que ceux sous Sport des territoires ou Sport pour tous, peux-tu les réduire ?

Merci encore

[2018-08-07 08:44] #163 closed, assigned to LaetitiaVerdier

[2018-08-07 08:45] LaetitiaVerdier commented on #171
Par contre, j'ai un problème sur le mobile car il n'y a ces deux items à cliquer et pas les niveaux d'informations du dessous.

Peux-tu trouver une solution pour que les sous-parties apparaissent et que les liens vers "Découvrir" et "Notre projet" soient aussi désactivés dans le burger ?

Merci

[2018-08-07 11:05] nicolastrenti commented on #176
C'est fait.
Pour info, le wording du menu est directement calqué sur les titres de pages. Tu peux les modifier dans l'arborescence des pages si tu le souhaites.

[2018-08-07 11:25] nicolastrenti commented on #171
Non, là ça me paraît vraiment trop complexe à gérer, on rentre dans un besoin ultra-spécifique.
La seule solution que je vois c'est de n'afficher que "Le groupe" sans aucune sous-page (comme en desktop en fait).

[2018-08-07 11:55] LaetitiaVerdier commented on #176
Super.

Merci beaucoup

[2018-08-07 11:57] LaetitiaVerdier commented on #171
Oui cela peut être une bonne option.

[2018-08-07 13:19] #175 closed, assigned to LaetitiaVerdier

[2018-08-07 13:22] #161 closed, assigned to LaetitiaVerdier

[2018-08-07 13:31] LaetitiaVerdier opened #182 "Problème affichage / diaporama"
Le texte sous les photos est coupé après 2 lignes.

https://ucpa-corpo.recette.ampize.me/le-groupe/decouvrir/histoire

![image](https://user-images.githubusercontent.com/40030677/43778780-da8122b0-9a56-11e8-9e08-91c41328d05b.png)

[2018-08-07 13:42] LaetitiaVerdier commented on #173
J'ai validé avec Hugues, nous conservons :  ucpa.asso.fr

Merci Nicolas

[2018-08-07 13:42] #173 closed, assigned to nobody

[2018-08-07 14:09] nicolastrenti commented on #182
Laetitia,
Nous sommes obligés d'imposer une hauteur fixe sur les carrousels de ce type.
C'est la seule page sur laquelle tu as le problème ? Je peux augmenter la hauteur juste sur celui-là par exemple (qui est quand même je pense un cas un peu particulier lié à l'historique)

[2018-08-07 14:14] LaetitiaVerdier commented on #182
Oui tu as tout à fait raison, c'est le seul à avoir autant de texte

[2018-08-07 14:25] nicolastrenti commented on #182
Ça doit être bon désormais.

[2018-08-07 14:40] LaetitiaVerdier commented on #182
C'est parfait

[2018-08-07 15:03] nicolastrenti commented on #171
C'est fait !

[2018-08-07 15:11] LaetitiaVerdier commented on #171
Merci

[2018-08-07 15:11] #171 closed, assigned to LaetitiaVerdier

[2018-08-08 07:29] nicolastrenti commented on #182
Bonjour Laetitia,
J'ai vu que tu avais rouvert cette issue : il reste un problème à corriger concernant ce diaporama ?

[2018-08-08 07:54] LaetitiaVerdier commented on #182
Bonjour Nicolas,

Oui en effet, désolée, j'ai oublié de te demander si le slider peut défiler automatiquement sur desktop et mobile.

Merci

[2018-08-08 08:04] nicolastrenti commented on #182
C'est normalement déjà le cas, le carrousel défile automatiquement à une vitesse de 1 slide toutes les 5 secondes.
J'ai testé sur Chrome et mobile et ça fonctionne de mon côté.

[2018-08-08 08:06] LaetitiaVerdier commented on #182
D'accord, quand j'ai essayé hier cela ne défilait pas mais peut-être n'ai-je pas été suffisamment patiente ;-)

5 secondes, c'est une durée standard ?

Merci encore

[2018-08-08 08:09] nicolastrenti commented on #182
C'est peut-être lié au fait que, une fois qu'on s'est déplacé dans le carrousel au moyen des flèches, l'autoplay s'arrête (comportement standard, non modifiable).

5s, c'est la durée par défaut mais je peux la modifier sans problème. Dans le cas de ce carrousel, avec beaucoup de texte, tu voudrais peut-être une durée supérieure du coup ?

[2018-08-08 08:15] LaetitiaVerdier commented on #182
C'est sans doute ce que j'ai fait.

Oui 5 secondes me semble court pour lire autant de texte après je ne connais pas bien les usages.

Sais-tu si 10 secondes est acceptable ou est-ce trop long en mobile ?

[2018-08-08 08:58] #169 closed, assigned to LaetitiaVerdier

[2018-08-08 09:25] nicolastrenti commented on #182
Après plusieurs tests, je ne peux pas pour l'instant augmenter le délai contrairement à ce que je pensais (ça nécessite d'ajouter l'attribut en question, donc ça devra malheureusement attendre une nouvelle version d'AMPize). Désolé...
Mais je garde l'issue ouverte pour le prendre en compte dès que ça sera possible.

[2018-08-08 10:03] LaetitiaVerdier commented on #182
Merci Nicolas

[2018-08-08 12:01] LaetitiaVerdier opened #183 "Home page / Partie Sport de demain"
Nicolas,

Je finalise la Home Page et me demande si tu as un moyen de sauvegarder le snippet ci-dessous et de le réactiver plus tard car nous avons mis le Sport de demain de côté pour le moment.

![fireshot capture 31 - accueil - https___ucpa-corpo recette ampize me_](https://user-images.githubusercontent.com/40030677/43835741-45346dee-9b13-11e8-8802-ddbd6a74c7e1.png)

[2018-08-08 12:53] LaetitiaVerdier opened #184 "Home page / Témoignage"
Je suis sur ton tutoriel et ai compris comment changer le verbatim du header home.

Par contre, peux-tu me dire comment ajouter le lien vers l'article dédié ?

Merci

[2018-08-08 13:15] LaetitiaVerdier commented on #176
Quand je clique dans le menu déroulant sur Formations je tombe sur une page 404, peux-tu regarder ce qui bloque dans l'URL il faut garder : formations/offres-de-formation

[2018-08-08 13:49] LaetitiaVerdier opened #185 "Page Hub mobile / Sport pour tous et Sport des territoires"
Bonjour Nicolas,

Nous avons toujours un espace trop grand au-dessus du picto du A propos sur le mobile des deux pages HUB Sport pour tous et Sport des territoires, peux-tu le réduire ?

Merci

[2018-08-08 13:52] LaetitiaVerdier opened #186 "Problème espace Mobile"
Nicolas,

Nous avons des espaces blancs trop conséquents avant le premier titre des articles Mission d'accessibilité et Engagement pour les jeunes sur le mobile.

https://ucpa-corpo.recette.ampize.me/le-sport-pour-tous/mission-d-accessibilite

https://ucpa-corpo.recette.ampize.me/le-sport-pour-tous/engagement-pour-les-jeunes

[2018-08-08 13:53] LaetitiaVerdier opened #187 "Page 404 / lien non actif vers la page d'accueil"
Sur la page 404, le lien CTA ne renvoie sur rien.

Peux-tu renvoyer sur la page d'accueil du site ?

Merci

[2018-08-08 13:58] LaetitiaVerdier opened #188 "Picto Dispositifs solidaires"
Le picto de la main sur le cœur est trop grand sur le desktop et le mobile

https://ucpa-corpo.recette.ampize.me/le-sport-pour-tous/dispositifs-solidaires

Peux-tu le diminuer ?

Merci

[2018-08-08 14:11] LaetitiaVerdier opened #189 "Page liste actualités / desktop et mobile"
Dans les listes thématiques type Séjours et tendances ou Formation, il manque le filet noir de séparation qui vient entre le chapeau et le premier titre cf.visuel

![image](https://user-images.githubusercontent.com/40030677/43842452-b4551130-9b25-11e8-92ac-88209c1f8409.png)

[2018-08-08 14:14] LaetitiaVerdier opened #190 "Problème menu déroulant noir / Formations"
Il y a un filet blanc qui apparaît au survol de chaque item, peux-tu le supprimer ?

![sans titre](https://user-images.githubusercontent.com/40030677/43842620-0da566c2-9b26-11e8-9c30-024a8a234a82.png)

Merci

[2018-08-09 07:20] nicolastrenti commented on #187
C'est fait.

[2018-08-09 08:54] nicolastrenti commented on #183
Laetitia,
J'en ai fait un snippet "Le Sport de demain (accueil)", qu'il vous suffira de réintégrer dans la home page une fois que cette section sera prête.
En attendant, j'ai supprimé la portion de code en question de la home.

[2018-08-09 09:04] #183 closed, assigned to LaetitiaVerdier

[2018-08-09 09:05] LaetitiaVerdier commented on #187
Merci

[2018-08-09 09:05] #187 closed, assigned to LaetitiaVerdier

[2018-08-09 09:09] nicolastrenti commented on #184
Dans le "template override" du bloc Menu de la home, il faut que tu modifies le lien à la ligne 298 du code :

![image](https://user-images.githubusercontent.com/1919354/43889500-a6199394-9bc4-11e8-842f-c5fdfb431477.png)

Il faut que tu remplaces le symbole # juste après 'a href="' par le lien de la page en question, qui doit commencer par un "/"

[2018-08-09 09:10] LaetitiaVerdier commented on #184
merci c'est très clair.

[2018-08-09 09:10] #184 closed, assigned to LaetitiaVerdier

[2018-08-09 09:20] nicolastrenti commented on #185
C'est corrigé (l'espace sur le snippet avait été diminué, mais pas sur ces pages dans lesquelles le snippet en question avait déjà été inséré au préalable).

[2018-08-09 09:22] LaetitiaVerdier commented on #185
ah mince.

Merci.

Je n'y ai pas pensé sinon je l'aurai refait moi-même.

[2018-08-09 09:22] #185 closed, assigned to LaetitiaVerdier

[2018-08-09 09:26] nicolastrenti commented on #186
Ca doit être bon désormais.

[2018-08-09 09:34] LaetitiaVerdier opened #191 "Temps d'affichage de la typo Din ot"
Bonjour Nicolas,

Quand je circule sur le site d'un article à l'autre, je trouve que le temps de latence avant que la typo UCPA (Din OT) ne s'affiche demeure longue. On a l'impression de voir du Times New Roman à l'écran pendant quelques secondes.

Est-ce quelque chose sur lequel tu peux intervenir ?

Merci

[2018-08-09 09:34] nicolastrenti commented on #188
J'ai réduit la taille en desktop et mobile, ça te semble mieux ?

[2018-08-09 09:36] LaetitiaVerdier commented on #188
oui merci

[2018-08-09 09:36] #188 closed, assigned to LaetitiaVerdier

[2018-08-09 09:37] nicolastrenti commented on #191
Je pense que c'est lié au fait que nous sommes sur l'environnement de recette. Les ressources devraient se charger plus rapidement une fois que nous aurons transféré le site sur l'environnement final.

[2018-08-09 09:41] LaetitiaVerdier commented on #186
oui merci

J'avais une question également sur ces deux mêmes articles.

Il y a un blanc conséquent qui s'installe entre deux snippets photo + texte sur le mobile alors que les proportions sont parfaites sur desktop, est-ce possible de le réduire en général ou est-ce au cas par cas ?

Par exemple entre le mot quotas et le titre l'art de se construire dans l'article Engagement pour les jeunes ?

Mer

[2018-08-09 09:42] LaetitiaVerdier commented on #191
D'accord.

Merci

[2018-08-09 09:42] #191 closed, assigned to nobody

[2018-08-09 09:45] nicolastrenti commented on #189
Filet ajouté !

[2018-08-09 09:49] LaetitiaVerdier opened #192 "Mémo Médiathèque - développement à prévoir"
Pour ne pas oublier, je te remets un ticket sur la médiathèque.

/!\ Étapes :

**=> Créer des dossiers thématiques**
Home

Sport des territoires

Sport pour tous

Sport de demain

Groupe

Actualités

Formations

Nous rejoindre

=**> Cliquer sur le dossier thématique correspondant**

**=> Sous-dossiers dans chaque dossier**

Pictos

Photos

Header - 2544 x 702 px

Photo + texte - 518 x 571 px

Phot

[2018-08-09 09:49] LaetitiaVerdier commented on #189
merci

[2018-08-09 09:49] #189 closed, assigned to LaetitiaVerdier

[2018-08-09 09:52] nicolastrenti commented on #190
Corrigé

[2018-08-09 09:55] #190 closed, assigned to LaetitiaVerdier

[2018-08-09 11:18] LaetitiaVerdier opened #193 "Lien articles liés / projets de référence"
Nicolas,

Tous les liens fonctionnaient avant mon départ en congés et en prenant quelques articles comme Pailleron je m'aperçois que les liens des articles liés ne fonctionnent plus

Crois-tu que quelqu'un y a touché ou est-ce un problème technique ?

Merci

[2018-08-09 12:53] nicolastrenti commented on #193
Laetitia,

Pour les liens en questions, je constate que les URLs indiquées ne sont pas bonnes : elles ne commencent pas par un "/".
Il ne peut pas s'agir d'un problème technique, en l'état le lien n'est pas valable.
Soit les liens en question ne fonctionnaient pas à l'époque, soit ils ont été modifiés (mais je n'ai pas de moyen de vérifier).

[2018-08-09 13:18] LaetitiaVerdier commented on #193
Bon de toute façon ça ne change rien au fait que cela ne fonctionne pas...

Je vais les refaire.

Merci

[2018-08-09 13:18] #193 closed, assigned to nobody

[2018-08-09 14:20] LaetitiaVerdier commented on #193
Juste pour te prévenir que c'est fait.

[2018-08-09 14:24] nicolastrenti commented on #193
Ok, parfait. Tu as dû repasser sur beaucoup de contenus ?

[2018-08-09 14:30] LaetitiaVerdier commented on #193
Tous les liens des projets de référence avaient changé, il y avait un HTTP:// devant chaque lien qui était bon.

Soit 7 liens x 15 articles projets.

Tout est bon sur le sport pour tous.

[2018-08-09 14:30] LaetitiaVerdier commented on #193
J'intègre mon dernier article et j'ai tout fini sauf l'accessibilité en footer.

Je ne sais pas quoi mettre et ne peux pas m'inspirer d'UCPA.com

[2018-08-09 14:39] LaetitiaVerdier opened #194 "TITRE / Article Arpe"
Nicolas,

En contribution, le titre de article apparaît correctement mais en preview il est coupé :
https://ucpa-corpo.recette.ampize.me/accueil/le-sport-pour-tous/dispositifs-solidaires/dispositif-solidaire/ateliers-de-remobilisation-par-l-equitation

[2018-08-09 14:48] LaetitiaVerdier opened #195 "Bloc contact dans le snippet actualité chapeau"
Quand je clique sur le mail je ne peux pas supprimer le brouillon si je change d'avis, je suis obligée d'envoyer un mail pour pouvoir sortir de la fenêtre.

Peux-tu dans ce snippet remplacer mon mail et celui d'Angèle par l'adresse générique presse@ucpa.asso.fr ?

Merci

[2018-08-09 14:50] LaetitiaVerdier commented on #195
et aussi sur la page liste actualités.

[2018-08-09 14:52] LaetitiaVerdier commented on #195
Je crois avoir trouvé pour le snippet où changer le mail par contre pas pour la page liste actualités

[2018-08-09 15:19] nicolastrenti commented on #195
C'est fait pour les listes d'actu.

Pour info, c'est dans le bloc Chapeau, il faut cliquer sur l'icône HTML puis modifier les lignes suivantes :

![image](https://user-images.githubusercontent.com/1919354/43908466-56911c46-9bf8-11e8-84e5-9dbe97f26753.png)

[2018-08-09 15:21] LaetitiaVerdier commented on #195
merci

[2018-08-09 15:21] #195 closed, assigned to LaetitiaVerdier

[2018-08-09 15:25] nicolastrenti commented on #194
Oui, effectivement, la preview n'est pas forcément fidèle au rendu final sur des cas particuliers de titres longs. J'ai forcé le retour à la ligne pour cet article.

[2018-08-09 15:31] LaetitiaVerdier commented on #194
merci

[2018-08-09 16:01] LaetitiaVerdier commented on #194
Toutes les photos de cet article apparaissent maintenant déformées

[2018-08-09 16:52] nicolastrenti commented on #194
Je ne saurais pas du tout te dire à quoi ça peut être dû, mais c'est rentré dans l'ordre en repassant sur chaque image, en cliquant sur "Change size" puis en validant sans indiquer de dimension.

[2018-08-09 16:59] LaetitiaVerdier commented on #194
;-) j'ai fini le dernier article. Je change le témoignage sur la Home Page et ne touche plus à rien ;-)

[2018-08-09 16:59] #194 closed, assigned to LaetitiaVerdier

[2018-08-09 17:01] nicolastrenti commented on #194
Demain, on basculera les données sur l'environnement qui nous servira pour la prod (si tu me confirmes qu'il n'y aura plus de modif demain sur les contenus).

Nous serons ainsi prêts pour la mise en prod de lundi.

[2018-08-09 17:04] LaetitiaVerdier commented on #194
je te confirme. J'ai envoyé un mail à tous les contributeurs pour leur dire ne plus toucher à rien.
De mon côté, je fais ma dernière modification dans les 30 minutes sur la Home...

Merci pour tout Nicolas.

[2018-08-09 17:43] #176 closed, assigned to LaetitiaVerdier

[2018-08-09 17:44] LaetitiaVerdier opened #196 "Dernier ticket avant MEP"
J'ai changé le verbatim de la home et mis le lien vers lequel je souhaite renvoyer mais les trois petits points ont disparu de la home et le lien de renvoi aussi.

Peux-tu regarder ?
Merci encore

[2018-08-10 07:21] nicolastrenti commented on #196
C'est corrigé.

Sur la home, tu avais mis le lien de ton article à la place de la source de l'image, alors qu'il fallait le mettre dans la balise "a" :

![image](https://user-images.githubusercontent.com/1919354/43944285-afba0838-9c7e-11e8-911b-b950515edb6e.png)

C'est à la place du # encadré en bleu qu'il faut mettre le lien de l'article.

[2018-08-10 07:34] LaetitiaVerdier commented on #196
Je suis désolée, j'étais fatiguée et ça mène à faire des erreurs.

Merci d'avoir fait la modification.

[2018-08-10 07:34] #196 closed, assigned to nobody

[2018-08-10 09:26] nicolastrenti commented on #196
Pas de souci, c'est des choses qui arrivent :)

[2018-08-13 08:31] nicolastrenti opened #197 "Informations SEO"
Bonjour Laetitia,

Afin d'optimiser le référencement, il est souhaitable de préciser certaines infos dans les paramètres du site, notamment :
- un titre (j'imagine "UCPA Association")
- une description (taille recommandée : entre 50 et 250 caractère. Par exemple, sur UCPA Vacances, la description actuelle est : "Partez en vacances avec l'UCPA et profitez de l'ensemble des séjours sportifs et activ

[2018-08-16 09:25] LaetitiaVerdier commented on #197
Bonjour Nicolas,

Voici les éléments demandés.

Titre : UCPA Association

Description : Éducateur sportif de métier, le groupe associatif UCPA, reconnu d’utilité sociale, oeuvre depuis plus de 50 ans en faveur d’un sport ouvert à tous et vecteur de vivre-ensemble. Découvrez sa mission, ses activités, ses métiers, ses actualités et ses projets.

Merci

Laëtitia.

[2018-08-16 09:25] #197 closed, assigned to LaetitiaVerdier

[2018-08-16 14:03] LaetitiaVerdier opened #198 "Page liste contacts"
Bonjour,

Les adresses mail de la page contact ne sont pas actives.
https://www.ucpa.asso.fr/accueil/contact

Idem pour le bloc contact de la page liste actualités
https://www.ucpa.asso.fr/actualites

Pouvez-vous débloquer cela ?

Merci

[2018-08-16 14:03] LaetitiaVerdier opened #199 "Page Nos implantations"
Bonjour,

La page Nos implantations affiche une erreur 404 au lieu de la cartographie :

https://www.ucpa.asso.fr/le-sport-des-territoires/toutes-nos-implantations

De plus, le CTA VOIR NOS PROJETS DE RÉFÉRENCE de la page ne renvoie pas sur la page liste projets

Merci de votre retour.

Laëtitia.

[2018-08-17 09:37] LucDelmon commented on #198
Bonjour, qu'entendez-vous par non-actives ?

Sur les pages que vous mentionnez tout fonctionne pour moi. Quand je clique mon client mail s'allume avec l'adresse mail en destinataire

[2018-08-17 09:43] LucDelmon commented on #199
Bonjour,

le lien est corrigé.

Pour la 404 c'est lié problème qui nous empêche de charger les fonts. On investigue dessus.

[2018-08-17 09:59] LaetitiaVerdier commented on #198
Bonjour,

Sur le desktop, ça ne fonctionne pas chez moi.

J'ai fait une demande à la DSI pour comprendre pourquoi.

Sur la version mobile, les images des contacts ne s'affichent pas.

[2018-08-17 10:02] LucDelmon commented on #198
Il faut avoir une boite mail configuré pour que cela fonctionne. Ca dépend des personnes et des plateformes.

Je regardes pour les images.

[2018-08-17 10:09] LucDelmon commented on #198
Il n'y a tout simplement plus d'images associés aux contacts dans les contenus internes.

Le lien à peut être sauté lors de la mise en prod.

Il faudrait les réindiquer

[2018-08-17 10:55] LucDelmon commented on #199
C'est bon

[2018-08-17 12:25] LaetitiaVerdier commented on #199
Merci Luc,

Par contre le CTA VOIR NOS PROJETS DE RÉFÉRENCE de la page ne renvoie sur rien

[2018-08-17 12:29] LaetitiaVerdier commented on #198
En attendant que je refasse le nécessaire, pouvez-vous mettre ce qui était prévu en cas d'absence de photo sur la maquette ?

![image](https://user-images.githubusercontent.com/40030677/44266207-f4d8ae00-a229-11e8-886a-71b78d0cbc8c.png)

[2018-08-17 12:32] LaetitiaVerdier commented on #198
L'enveloppe mail n'apparaît nulle part à côté de e-mail ni dans les blocs contacts ni sur la page liste et l'adresse mail de la Direction territoriale a disparu : ddt@ucpa.asso.fr

[2018-08-17 12:34] LucDelmon commented on #198
C'est déjà le cas,

En fait cette image était également indisponible pendant le problème des fonts. Elle n'est donc pas encore dans le cache google. Il faut attendre que le cache se mette a jour en ajoutant "no-cache=true" a la fin de l'URL vous pouvez voir la page tel qu'elle sera quand google aura rafraichi son cache.

https://www.ucpa.asso.fr/contact?no-cache=true

[2018-08-17 12:34] LucDelmon commented on #198
pareil pour l'envelope mail. Toutes ces images ne sont pas encore chargé dans le cache google. On ne peut qu'attendre .

[2018-08-17 12:37] LaetitiaVerdier commented on #198
Parfait.

Merci Luc.

[2018-08-17 12:37] #198 closed, assigned to LaetitiaVerdier

[2018-08-20 09:41] Alexandru-Dobre opened #200 "Les ancres ne fonctionnent pas dans la PWA"
Les ancres sur les actualités ne fonctionnent pas sur https://www.ucpa.asso.fr/actualites alors qu’elles marchent sur la page AMP https://www.ucpa.asso.fr/actualites?no-cache=true.

[2018-08-20 09:42] Alexandru-Dobre commented on #200
Il s'agit d'un bug générique AMP qui affecte le comportement de amp-bind en mode shadow (PWA). Le bug est en cours de traitement de leur coté : https://github.com/ampproject/amphtml/issues/17328

[2018-08-21 07:42] nicolastrenti commented on #199
Bonjour Laetitia,
As-tu toujours le problème pour ce CTA ? Ça a l'air bon de mon côté.
Merci !

[2018-08-21 07:47] LaetitiaVerdier commented on #199
Bonjour Nicolas,

Oui cela fonctionne bien.

[2018-08-21 07:47] #199 closed, assigned to LaetitiaVerdier

[2018-08-21 07:57] LaetitiaVerdier opened #201 "Facebook / bouton de partage"
Dans les boutons de partage, j'ai un message d'erreur pour Facebook :
Erreur d’accès à l’application

Pouvez-vous regarder ?

Merci

[2018-08-21 09:38] nicolastrenti commented on #201
Bonjour Laetitia,

Tu as raison, j'ai oublié de vous prévenir sur ce point.
Pour le partage sur Facebook, il est nécessaire de créer une app Facebook : https://developers.facebook.com/apps/
(mais vous en avez sans doute déjà une pour l'UCPA)

Une fois l'app créée, il faut me communiquer son ID d'app, qui est un paramètre obligatoire pour le partage sur Facebook pour que je le renseigne dans AMPize

[2018-08-21 09:48] LaetitiaVerdier commented on #201
J'ai fait la demande et te tiens informé.

Merci

[2018-08-21 10:21] LaetitiaVerdier opened #202 "Lien hypertexte"
Nicolas,

Est-ce que je procède de la même façon maintenant que le site est en ligne pour mettre un lien hypertexte - /accueil/le-sport-pour-tous/dispositifs-solidaires/dispositif-solidaire/cap-au-vert - ou est-ce que je mets le lien complet comme suit : https://www.ucpa.asso.fr/accueil/le-sport-pour-tous/dispositifs-solidaires/dispositif-solidaire/cap-au-vert

Merci

[2018-08-21 10:28] nicolastrenti commented on #202
Les deux marcheront, mais dans l'absolu c'est préférable de continuer à indiquer /accueil/le-sport-pour-tous/dispositifs-solidaires/dispositif-solidaire/cap-au-vert, car si un jour le site change de nom de domaine (c'est peu probable, je te l'accorde...), on n'aura pas à repasser sur tous les liens.

[2018-08-21 10:30] LaetitiaVerdier commented on #202
D'accord, je garde ce réflexe alors

[2018-08-21 10:30] #202 closed, assigned to LaetitiaVerdier

[2018-08-21 10:33] LaetitiaVerdier opened #203 "Chevauchement mobile / guillemets snippet articles liés"
Sur la Home, j'ai remarqué un chevauchement des guillemets pour les articles liés

![screenshot_2018-08-21-12-27-38](https://user-images.githubusercontent.com/40030677/44396733-2a3d0e80-a53e-11e8-9d38-0495b35ae26a.png)

[2018-08-21 10:48] LaetitiaVerdier commented on #201
Voilà, tu peux utiliser cet ID :  234220593909143

Bien à toi

[2018-08-21 15:11] LaetitiaVerdier opened #204 "Home page / logo UCPA animation flou"
Le logo UCPA de l'animation de la Home page est complètement flou.

[2018-08-21 15:15] LaetitiaVerdier opened #205 "Menu déroulant / Page contacts"
Il manque l'option "Tous les contacts" en début de menu déroulant de la page contacts desktop et mobile.

De même, sur la version mobile, le portrait, le nom de l'interlocuteur et le filet rouge qui le souligne sont trop tassés.

[2018-08-21 15:21] LaetitiaVerdier opened #206 "Problème picto / desktop et mobile"
A propos, il manque le picto sur le desktop et sur le mobile il est disproportionné.
https://www.ucpa.asso.fr/le-groupe/decouvrir/l-ucpa-c-est-quoi

Idem sur les A propos des Repères économiques
https://www.ucpa.asso.fr/le-groupe/decouvrir/reperes-economiques-et-juridiques

Idem sur les A propos la Gouvernance
https://www.ucpa.asso.fr/le-groupe/decouvrir/gouvernance

Idem dans le A propos UCPA For

[2018-08-21 15:42] LaetitiaVerdier opened #207 "Sous-menu / Nous rejoindre"
Sur le desktop, on a pas de sous-menu mais on en a un sur le mobile.

Peut-on en ajouter un sur le desktop et mettre de la même façon que pour la partie Formations :
Pourquoi travailler à l'UCPA
Métiers

Merci

[2018-08-21 15:45] LaetitiaVerdier opened #208 "Footer"
Footer - le lien financements ne fonctionne pas :
https://www.ucpa.asso.fr/formations/financements

Est-il possible d'ajouter un espace blanc par défaut avant le footer pour le mobile et le desktop ?

Dans certains cas, le snippet qui précède colle trop au footer. Nous aimerions éviter ce cas de figure.

Merci

[2018-08-21 15:47] LaetitiaVerdier opened #209 "Problème d'espace persistant"
On a toujours un problème d'espace entre le menu et le premier titre sur le mobile pour l'article suivant (il y a beaucoup trop de blanc) :
https://www.ucpa.asso.fr/le-sport-des-territoires/management-espaces-sportifs

[2018-08-22 12:18] LaetitiaVerdier opened #210 "Bug visuel header / Marseille Pastré"
Nicolas,

J'ai un problème d'affichage de deux visuels header en mobile et en desktop
https://www.ucpa.asso.fr/le-sport-des-territoires/projets-de-reference/projet-de-reference/centre-equestre-marseille-pastre

J'ai rechargé les fichiers avec la bonne chromie mais la modification ne s'opère pas chez moi même après avoir vidé le cache comme si le back office gardait en mémoire les fichiers cmjn qui

[2018-08-22 12:21] nicolastrenti commented on #210
Bonjour Laetitia,

Il y a un cache, côté Google et côté AMPize, pour les pages AMP.
Les images seront bien mises à jour dans quelques minutes / heures.
Pour voir la page sans cache, il faut rajouter ?no-cache=true à la fin de l'URL.
Ici : https://www.ucpa.asso.fr/le-sport-des-territoires/projets-de-reference/projet-de-reference/centre-equestre-marseille-pastre?no-cache=true

[2018-08-22 12:22] LaetitiaVerdier commented on #210
Merci Nicolas

[2018-08-22 12:22] #210 closed, assigned to LaetitiaVerdier

[2018-08-22 13:02] nicolastrenti commented on #208
Une marge a été ajoutée avant le footer : https://www.ucpa.asso.fr/formations/financements?no-cache=true

Par contre chez moi la page https://www.ucpa.asso.fr/formations/financements est bien accessible.

[2018-08-22 13:07] LaetitiaVerdier commented on #208
Merci

Je te confirme que cela fonctionne maintenant.

[2018-08-22 13:07] #208 closed, assigned to LaetitiaVerdier

[2018-08-22 13:12] nicolastrenti commented on #209
Normalement, c'est mieux désormais : https://www.ucpa.asso.fr/le-sport-des-territoires/management-espaces-sportifs?no-cache=true

[2018-08-22 13:30] nicolastrenti commented on #204
Laetitia,
C'est parce que nous avons utilisé le logo qui est dans le menu et dont les dimensions sont trop petites.
Peux-tu m'envoyer le logo blanc sur fond transparent dans une taille plus conséquente stp ? Je ne le trouve pas dans les fichiers fournis avec la créa.
Merci.

[2018-08-22 13:35] LaetitiaVerdier opened #211 "Sous-menu header / Le Groupe"
Nicolas,

Finalement, nous allons ajouter un sous-menu dans le header pour le Groupe également avec les titres et liens suivants à la fois sur le desktop et le mobile :

- L'UCPA, C'EST QUOI => /le-groupe/decouvrir/l-ucpa-c-est-quoi
- UTILITÉ SOCIALE DE L’UCPA => /le-groupe/decouvrir/projet-associatif-modele-d-utilite-sociale
- MISSION ET VALEURS => /le-groupe/mission-valeurs-ucpa
- DOMAINES D'ACT